/*
 * Integrations API
 * **Note:** The Webhook Operations APIs are not available for ThousandEyes for Government instance.  Manage connectors and operations. 
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.connectors;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.client.ApiRequest;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.connectors.model.CredentialVaultOperation;
import com.thousandeyes.sdk.connectors.model.CredentialVaultOperations;
import com.thousandeyes.sdk.connectors.model.Error;
import com.thousandeyes.sdk.connectors.model.UnauthorizedError;
import com.thousandeyes.sdk.connectors.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class CredentialVaultOperationsApi {
  private final ApiClient apiClient;

  public CredentialVaultOperationsApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Create Credential Vault operation
   * Create a new Credential Vault operation.
   * @param credentialVaultOperation  (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return CredentialVaultOperation
   * @throws ApiException if fails to make API call
   */
  public CredentialVaultOperation createCredentialVaultOperation(CredentialVaultOperation credentialVaultOperation, String aid) throws ApiException {
    ApiResponse<CredentialVaultOperation> response = createCredentialVaultOperationWithHttpInfo(credentialVaultOperation, aid);
    return response.getData();
  }

  /**
   * Create Credential Vault operation
   * Create a new Credential Vault operation.
   * @param credentialVaultOperation  (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;CredentialVaultOperation&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CredentialVaultOperation> createCredentialVaultOperationWithHttpInfo(CredentialVaultOperation credentialVaultOperation, String aid) throws ApiException {
    createCredentialVaultOperationValidateRequest(credentialVaultOperation);

    var requestBuilder = createCredentialVaultOperationRequestBuilder(credentialVaultOperation, aid);

    return apiClient.send(requestBuilder.build(), CredentialVaultOperation.class);
  }

  private void createCredentialVaultOperationValidateRequest(CredentialVaultOperation credentialVaultOperation) throws ApiException {
      // verify the required parameter 'credentialVaultOperation' is set
      if (credentialVaultOperation == null) {
        throw new ApiException(400, "Missing the required parameter 'credentialVaultOperation' when calling createCredentialVaultOperation");
      }
  }

  private ApiRequest.ApiRequestBuilder createCredentialVaultOperationRequestBuilder(CredentialVaultOperation credentialVaultOperation, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("POST");

    String path = "/operations/credential-vault";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(credentialVaultOperation);
    return requestBuilder;
  }
  /**
   * Delete Credential Vault operation
   * Delete a single Credential Vault operation by its ID. Note: This operation may disable affected objects (such as tests).
   * @param id The operation ID. (required)
   * @param confirmDisabledObjects Confirmation to disable affected objects (for example, tests) for credential-vault operations. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @throws ApiException if fails to make API call
   */
  public void deleteCredentialVaultOperation(String id, Boolean confirmDisabledObjects, String aid) throws ApiException {
    deleteCredentialVaultOperationWithHttpInfo(id, confirmDisabledObjects, aid);
  }

  /**
   * Delete Credential Vault operation
   * Delete a single Credential Vault operation by its ID. Note: This operation may disable affected objects (such as tests).
   * @param id The operation ID. (required)
   * @param confirmDisabledObjects Confirmation to disable affected objects (for example, tests) for credential-vault operations. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteCredentialVaultOperationWithHttpInfo(String id, Boolean confirmDisabledObjects, String aid) throws ApiException {
    deleteCredentialVaultOperationValidateRequest(id, confirmDisabledObjects);

    var requestBuilder = deleteCredentialVaultOperationRequestBuilder(id, confirmDisabledObjects, aid);

    return apiClient.send(requestBuilder.build(), Void.class);
  }

  private void deleteCredentialVaultOperationValidateRequest(String id, Boolean confirmDisabledObjects) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling deleteCredentialVaultOperation");
      }
      // verify the required parameter 'confirmDisabledObjects' is set
      if (confirmDisabledObjects == null) {
        throw new ApiException(400, "Missing the required parameter 'confirmDisabledObjects' when calling deleteCredentialVaultOperation");
      }
  }

  private ApiRequest.ApiRequestBuilder deleteCredentialVaultOperationRequestBuilder(String id, Boolean confirmDisabledObjects, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("DELETE");

    String path = "/operations/credential-vault/{id}"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("confirmDisabledObjects", confirmDisabledObjects));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }
  /**
   * Get Credential Vault operation
   * Retrieve a single Credential Vault operation by its ID.
   * @param id The operation ID. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return CredentialVaultOperation
   * @throws ApiException if fails to make API call
   */
  public CredentialVaultOperation getCredentialVaultOperation(String id, String aid) throws ApiException {
    ApiResponse<CredentialVaultOperation> response = getCredentialVaultOperationWithHttpInfo(id, aid);
    return response.getData();
  }

  /**
   * Get Credential Vault operation
   * Retrieve a single Credential Vault operation by its ID.
   * @param id The operation ID. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;CredentialVaultOperation&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CredentialVaultOperation> getCredentialVaultOperationWithHttpInfo(String id, String aid) throws ApiException {
    getCredentialVaultOperationValidateRequest(id);

    var requestBuilder = getCredentialVaultOperationRequestBuilder(id, aid);

    return apiClient.send(requestBuilder.build(), CredentialVaultOperation.class);
  }

  private void getCredentialVaultOperationValidateRequest(String id) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling getCredentialVaultOperation");
      }
  }

  private ApiRequest.ApiRequestBuilder getCredentialVaultOperationRequestBuilder(String id, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("GET");

    String path = "/operations/credential-vault/{id}"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }
  /**
   * List Credential Vault operations
   * Returns a list of Credential Vault operations in the specified account group. If no account group is specified, the user&#39;s default account group is used.
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return CredentialVaultOperations
   * @throws ApiException if fails to make API call
   */
  public CredentialVaultOperations getCredentialVaultOperations(String aid) throws ApiException {
    ApiResponse<CredentialVaultOperations> response = getCredentialVaultOperationsWithHttpInfo(aid);
    return response.getData();
  }

  /**
   * List Credential Vault operations
   * Returns a list of Credential Vault operations in the specified account group. If no account group is specified, the user&#39;s default account group is used.
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;CredentialVaultOperations&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CredentialVaultOperations> getCredentialVaultOperationsWithHttpInfo(String aid) throws ApiException {
    getCredentialVaultOperationsValidateRequest();

    var requestBuilder = getCredentialVaultOperationsRequestBuilder(aid);

    return apiClient.send(requestBuilder.build(), CredentialVaultOperations.class);
  }

  private void getCredentialVaultOperationsValidateRequest() throws ApiException {
  }

  private ApiRequest.ApiRequestBuilder getCredentialVaultOperationsRequestBuilder(String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("GET");

    String path = "/operations/credential-vault";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }
  /**
   * Update Credential Vault operation
   * Update a single existing Credential Vault operation.
   * @param id The operation ID. (required)
   * @param credentialVaultOperation  (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return CredentialVaultOperation
   * @throws ApiException if fails to make API call
   */
  public CredentialVaultOperation updateCredentialVaultOperation(String id, CredentialVaultOperation credentialVaultOperation, String aid) throws ApiException {
    ApiResponse<CredentialVaultOperation> response = updateCredentialVaultOperationWithHttpInfo(id, credentialVaultOperation, aid);
    return response.getData();
  }

  /**
   * Update Credential Vault operation
   * Update a single existing Credential Vault operation.
   * @param id The operation ID. (required)
   * @param credentialVaultOperation  (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;CredentialVaultOperation&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CredentialVaultOperation> updateCredentialVaultOperationWithHttpInfo(String id, CredentialVaultOperation credentialVaultOperation, String aid) throws ApiException {
    updateCredentialVaultOperationValidateRequest(id, credentialVaultOperation);

    var requestBuilder = updateCredentialVaultOperationRequestBuilder(id, credentialVaultOperation, aid);

    return apiClient.send(requestBuilder.build(), CredentialVaultOperation.class);
  }

  private void updateCredentialVaultOperationValidateRequest(String id, CredentialVaultOperation credentialVaultOperation) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling updateCredentialVaultOperation");
      }
      // verify the required parameter 'credentialVaultOperation' is set
      if (credentialVaultOperation == null) {
        throw new ApiException(400, "Missing the required parameter 'credentialVaultOperation' when calling updateCredentialVaultOperation");
      }
  }

  private ApiRequest.ApiRequestBuilder updateCredentialVaultOperationRequestBuilder(String id, CredentialVaultOperation credentialVaultOperation, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("PUT");

    String path = "/operations/credential-vault/{id}"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(credentialVaultOperation);
    return requestBuilder;
  }
}
