/*
 * Integrations API
 * **Note:** The Webhook Operations APIs are not available for ThousandEyes for Government instance.  Manage connectors and operations. 
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.connectors;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.client.ApiRequest;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.connectors.model.Assignments;
import com.thousandeyes.sdk.connectors.model.ConjurConnector;
import com.thousandeyes.sdk.connectors.model.ConjurConnectors;
import com.thousandeyes.sdk.connectors.model.Error;
import com.thousandeyes.sdk.connectors.model.UnauthorizedError;
import com.thousandeyes.sdk.connectors.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class CyberArkConjurConnectorsApi {
  private final ApiClient apiClient;

  public CyberArkConjurConnectorsApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Create Conjur connector
   * Creates a new CyberArk Conjur connector.
   * @param conjurConnector  (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ConjurConnector
   * @throws ApiException if fails to make API call
   */
  public ConjurConnector createConjurConnector(ConjurConnector conjurConnector, String aid) throws ApiException {
    ApiResponse<ConjurConnector> response = createConjurConnectorWithHttpInfo(conjurConnector, aid);
    return response.getData();
  }

  /**
   * Create Conjur connector
   * Creates a new CyberArk Conjur connector.
   * @param conjurConnector  (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;ConjurConnector&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ConjurConnector> createConjurConnectorWithHttpInfo(ConjurConnector conjurConnector, String aid) throws ApiException {
    createConjurConnectorValidateRequest(conjurConnector);

    var requestBuilder = createConjurConnectorRequestBuilder(conjurConnector, aid);

    return apiClient.send(requestBuilder.build(), ConjurConnector.class);
  }

  private void createConjurConnectorValidateRequest(ConjurConnector conjurConnector) throws ApiException {
      // verify the required parameter 'conjurConnector' is set
      if (conjurConnector == null) {
        throw new ApiException(400, "Missing the required parameter 'conjurConnector' when calling createConjurConnector");
      }
  }

  private ApiRequest.ApiRequestBuilder createConjurConnectorRequestBuilder(ConjurConnector conjurConnector, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("POST");

    String path = "/connectors/conjur";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(conjurConnector);
    return requestBuilder;
  }
  /**
   * Delete a Conjur connector
   * Deleted the CyberArk Conjur connector specified by ID. Note: This operation may disable affected objects (such as tests).
   * @param id The connector ID. (required)
   * @param confirmDisabledObjects Confirmation to disable affected objects (for example, tests) for Conjur connectors. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @throws ApiException if fails to make API call
   */
  public void deleteConjurConnector(String id, Boolean confirmDisabledObjects, String aid) throws ApiException {
    deleteConjurConnectorWithHttpInfo(id, confirmDisabledObjects, aid);
  }

  /**
   * Delete a Conjur connector
   * Deleted the CyberArk Conjur connector specified by ID. Note: This operation may disable affected objects (such as tests).
   * @param id The connector ID. (required)
   * @param confirmDisabledObjects Confirmation to disable affected objects (for example, tests) for Conjur connectors. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteConjurConnectorWithHttpInfo(String id, Boolean confirmDisabledObjects, String aid) throws ApiException {
    deleteConjurConnectorValidateRequest(id, confirmDisabledObjects);

    var requestBuilder = deleteConjurConnectorRequestBuilder(id, confirmDisabledObjects, aid);

    return apiClient.send(requestBuilder.build(), Void.class);
  }

  private void deleteConjurConnectorValidateRequest(String id, Boolean confirmDisabledObjects) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling deleteConjurConnector");
      }
      // verify the required parameter 'confirmDisabledObjects' is set
      if (confirmDisabledObjects == null) {
        throw new ApiException(400, "Missing the required parameter 'confirmDisabledObjects' when calling deleteConjurConnector");
      }
  }

  private ApiRequest.ApiRequestBuilder deleteConjurConnectorRequestBuilder(String id, Boolean confirmDisabledObjects, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("DELETE");

    String path = "/connectors/conjur/{id}"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("confirmDisabledObjects", confirmDisabledObjects));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }
  /**
   * Retrieve a Conjur connector
   * Retrieves details of a CyberArk Conjur connector by its ID.
   * @param id The connector ID. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ConjurConnector
   * @throws ApiException if fails to make API call
   */
  public ConjurConnector getConjurConnector(String id, String aid) throws ApiException {
    ApiResponse<ConjurConnector> response = getConjurConnectorWithHttpInfo(id, aid);
    return response.getData();
  }

  /**
   * Retrieve a Conjur connector
   * Retrieves details of a CyberArk Conjur connector by its ID.
   * @param id The connector ID. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;ConjurConnector&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ConjurConnector> getConjurConnectorWithHttpInfo(String id, String aid) throws ApiException {
    getConjurConnectorValidateRequest(id);

    var requestBuilder = getConjurConnectorRequestBuilder(id, aid);

    return apiClient.send(requestBuilder.build(), ConjurConnector.class);
  }

  private void getConjurConnectorValidateRequest(String id) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling getConjurConnector");
      }
  }

  private ApiRequest.ApiRequestBuilder getConjurConnectorRequestBuilder(String id, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("GET");

    String path = "/connectors/conjur/{id}"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }
  /**
   * List operation IDs for a Conjur connector
   * Returns a list of operation IDs assigned to a CyberArk Conjur connector.
   * @param id The connector ID. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return Assignments
   * @throws ApiException if fails to make API call
   */
  public Assignments getConjurConnectorOperations(String id, String aid) throws ApiException {
    ApiResponse<Assignments> response = getConjurConnectorOperationsWithHttpInfo(id, aid);
    return response.getData();
  }

  /**
   * List operation IDs for a Conjur connector
   * Returns a list of operation IDs assigned to a CyberArk Conjur connector.
   * @param id The connector ID. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;Assignments&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Assignments> getConjurConnectorOperationsWithHttpInfo(String id, String aid) throws ApiException {
    getConjurConnectorOperationsValidateRequest(id);

    var requestBuilder = getConjurConnectorOperationsRequestBuilder(id, aid);

    return apiClient.send(requestBuilder.build(), Assignments.class);
  }

  private void getConjurConnectorOperationsValidateRequest(String id) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling getConjurConnectorOperations");
      }
  }

  private ApiRequest.ApiRequestBuilder getConjurConnectorOperationsRequestBuilder(String id, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("GET");

    String path = "/connectors/conjur/{id}/operations"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }
  /**
   * List Conjur connectors
   * Returns a list of CyberArk Conjur connectors in the specified account group. If no account group is specified, the user’s default account group is used.
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ConjurConnectors
   * @throws ApiException if fails to make API call
   */
  public ConjurConnectors getConjurConnectors(String aid) throws ApiException {
    ApiResponse<ConjurConnectors> response = getConjurConnectorsWithHttpInfo(aid);
    return response.getData();
  }

  /**
   * List Conjur connectors
   * Returns a list of CyberArk Conjur connectors in the specified account group. If no account group is specified, the user’s default account group is used.
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;ConjurConnectors&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ConjurConnectors> getConjurConnectorsWithHttpInfo(String aid) throws ApiException {
    getConjurConnectorsValidateRequest();

    var requestBuilder = getConjurConnectorsRequestBuilder(aid);

    return apiClient.send(requestBuilder.build(), ConjurConnectors.class);
  }

  private void getConjurConnectorsValidateRequest() throws ApiException {
  }

  private ApiRequest.ApiRequestBuilder getConjurConnectorsRequestBuilder(String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("GET");

    String path = "/connectors/conjur";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }
  /**
   * Assign operations to a Conjur connector
   * Assigns operations to a CyberArk Conjur connector. This replaces any existing assignments. Note: This operation may disable affected objects (such as tests) if operations are changed.
   * @param id The connector ID. (required)
   * @param confirmDisabledObjects Confirmation to disable affected objects (for example, tests) for Conjur connectors. (required)
   * @param requestBody List of operation IDs to assign to the connector. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return Assignments
   * @throws ApiException if fails to make API call
   */
  public Assignments setConjurConnectorOperations(String id, Boolean confirmDisabledObjects, List<String> requestBody, String aid) throws ApiException {
    ApiResponse<Assignments> response = setConjurConnectorOperationsWithHttpInfo(id, confirmDisabledObjects, requestBody, aid);
    return response.getData();
  }

  /**
   * Assign operations to a Conjur connector
   * Assigns operations to a CyberArk Conjur connector. This replaces any existing assignments. Note: This operation may disable affected objects (such as tests) if operations are changed.
   * @param id The connector ID. (required)
   * @param confirmDisabledObjects Confirmation to disable affected objects (for example, tests) for Conjur connectors. (required)
   * @param requestBody List of operation IDs to assign to the connector. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;Assignments&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Assignments> setConjurConnectorOperationsWithHttpInfo(String id, Boolean confirmDisabledObjects, List<String> requestBody, String aid) throws ApiException {
    setConjurConnectorOperationsValidateRequest(id, confirmDisabledObjects, requestBody);

    var requestBuilder = setConjurConnectorOperationsRequestBuilder(id, confirmDisabledObjects, requestBody, aid);

    return apiClient.send(requestBuilder.build(), Assignments.class);
  }

  private void setConjurConnectorOperationsValidateRequest(String id, Boolean confirmDisabledObjects, List<String> requestBody) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling setConjurConnectorOperations");
      }
      // verify the required parameter 'confirmDisabledObjects' is set
      if (confirmDisabledObjects == null) {
        throw new ApiException(400, "Missing the required parameter 'confirmDisabledObjects' when calling setConjurConnectorOperations");
      }
      // verify the required parameter 'requestBody' is set
      if (requestBody == null) {
        throw new ApiException(400, "Missing the required parameter 'requestBody' when calling setConjurConnectorOperations");
      }
  }

  private ApiRequest.ApiRequestBuilder setConjurConnectorOperationsRequestBuilder(String id, Boolean confirmDisabledObjects, List<String> requestBody, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("PUT");

    String path = "/connectors/conjur/{id}/operations"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("confirmDisabledObjects", confirmDisabledObjects));
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(requestBody);
    return requestBuilder;
  }
  /**
   * Update a Conjur connector
   * Updates the CyberArk Conjur connector specified by ID.
   * @param id The connector ID. (required)
   * @param conjurConnector  (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ConjurConnector
   * @throws ApiException if fails to make API call
   */
  public ConjurConnector updateConjurConnector(String id, ConjurConnector conjurConnector, String aid) throws ApiException {
    ApiResponse<ConjurConnector> response = updateConjurConnectorWithHttpInfo(id, conjurConnector, aid);
    return response.getData();
  }

  /**
   * Update a Conjur connector
   * Updates the CyberArk Conjur connector specified by ID.
   * @param id The connector ID. (required)
   * @param conjurConnector  (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;ConjurConnector&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ConjurConnector> updateConjurConnectorWithHttpInfo(String id, ConjurConnector conjurConnector, String aid) throws ApiException {
    updateConjurConnectorValidateRequest(id, conjurConnector);

    var requestBuilder = updateConjurConnectorRequestBuilder(id, conjurConnector, aid);

    return apiClient.send(requestBuilder.build(), ConjurConnector.class);
  }

  private void updateConjurConnectorValidateRequest(String id, ConjurConnector conjurConnector) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling updateConjurConnector");
      }
      // verify the required parameter 'conjurConnector' is set
      if (conjurConnector == null) {
        throw new ApiException(400, "Missing the required parameter 'conjurConnector' when calling updateConjurConnector");
      }
  }

  private ApiRequest.ApiRequestBuilder updateConjurConnectorRequestBuilder(String id, ConjurConnector conjurConnector, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("PUT");

    String path = "/connectors/conjur/{id}"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(conjurConnector);
    return requestBuilder;
  }
}
