/*
 * Integrations API
 * Manage connectors and operations.
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.connectors;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.client.ApiRequest;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.connectors.model.Assignments;
import java.math.BigDecimal;
import com.thousandeyes.sdk.connectors.model.Error;
import com.thousandeyes.sdk.connectors.model.UnauthorizedError;
import com.thousandeyes.sdk.connectors.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class OperationConnectorsApi {
  private final ApiClient apiClient;

  public OperationConnectorsApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Retrieve connectors assigned to an operation
   * Returns a list of connectors assigned to a specific operation.
   * @param type The operation type. (required)
   * @param id The operation ID. (required)
   * @param aid Account ID (optional)
   * @return Assignments
   * @throws ApiException if fails to make API call
   */
  public Assignments getOperationConnectors(String type, String id, BigDecimal aid) throws ApiException {
    ApiResponse<Assignments> response = getOperationConnectorsWithHttpInfo(type, id, aid);
    return response.getData();
  }

  /**
   * Retrieve connectors assigned to an operation
   * Returns a list of connectors assigned to a specific operation.
   * @param type The operation type. (required)
   * @param id The operation ID. (required)
   * @param aid Account ID (optional)
   * @return ApiResponse&lt;Assignments&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Assignments> getOperationConnectorsWithHttpInfo(String type, String id, BigDecimal aid) throws ApiException {
    getOperationConnectorsValidateRequest(type, id);

    var requestBuilder = getOperationConnectorsRequestBuilder(type, id, aid);

    return apiClient.send(requestBuilder.build(), Assignments.class);
  }

  private void getOperationConnectorsValidateRequest(String type, String id) throws ApiException {
      // verify the required parameter 'type' is set
      if (type == null) {
        throw new ApiException(400, "Missing the required parameter 'type' when calling getOperationConnectors");
      }
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling getOperationConnectors");
      }
  }

  private ApiRequest.ApiRequestBuilder getOperationConnectorsRequestBuilder(String type, String id, BigDecimal aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("GET");

    String path = "/operations/{type}/{id}/connectors"
        .replace("{type}", urlEncode(type.toString()))
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/problem+json, application/hal+json, application/json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }
  /**
   * Assign connectors to an operation
   * Assigns one or more connectors to an operation. This replaces any existing assignments.
   * @param type The operation type. (required)
   * @param id The operation ID. (required)
   * @param requestBody List of connector IDs to assign to the operation. (required)
   * @param aid Account ID (optional)
   * @return Assignments
   * @throws ApiException if fails to make API call
   */
  public Assignments setOperationConnectors(String type, String id, List<String> requestBody, BigDecimal aid) throws ApiException {
    ApiResponse<Assignments> response = setOperationConnectorsWithHttpInfo(type, id, requestBody, aid);
    return response.getData();
  }

  /**
   * Assign connectors to an operation
   * Assigns one or more connectors to an operation. This replaces any existing assignments.
   * @param type The operation type. (required)
   * @param id The operation ID. (required)
   * @param requestBody List of connector IDs to assign to the operation. (required)
   * @param aid Account ID (optional)
   * @return ApiResponse&lt;Assignments&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Assignments> setOperationConnectorsWithHttpInfo(String type, String id, List<String> requestBody, BigDecimal aid) throws ApiException {
    setOperationConnectorsValidateRequest(type, id, requestBody);

    var requestBuilder = setOperationConnectorsRequestBuilder(type, id, requestBody, aid);

    return apiClient.send(requestBuilder.build(), Assignments.class);
  }

  private void setOperationConnectorsValidateRequest(String type, String id, List<String> requestBody) throws ApiException {
      // verify the required parameter 'type' is set
      if (type == null) {
        throw new ApiException(400, "Missing the required parameter 'type' when calling setOperationConnectors");
      }
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling setOperationConnectors");
      }
      // verify the required parameter 'requestBody' is set
      if (requestBody == null) {
        throw new ApiException(400, "Missing the required parameter 'requestBody' when calling setOperationConnectors");
      }
  }

  private ApiRequest.ApiRequestBuilder setOperationConnectorsRequestBuilder(String type, String id, List<String> requestBody, BigDecimal aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("PUT");

    String path = "/operations/{type}/{id}/connectors"
        .replace("{type}", urlEncode(type.toString()))
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/problem+json, application/hal+json, application/json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(requestBody);
    return requestBuilder;
  }
}
