/*
 * Integrations API
 * **Note:** The Webhook Operations APIs are not available for ThousandEyes for Government instance.  Manage connectors and operations. 
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.connectors;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.connectors.model.Assignments;
import com.thousandeyes.sdk.connectors.model.Error;
import com.thousandeyes.sdk.connectors.model.UnauthorizedError;
import com.thousandeyes.sdk.connectors.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class OperationConnectorsApi {
  private final ApiClient apiClient;

  public OperationConnectorsApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Retrieve connectors assigned to an operation
   * Returns a list of connectors assigned to a specific operation.
   * @param request operation parameters (required)
   * @return Assignments
   * @throws ApiException if fails to make API call
   */
  public Assignments getOperationConnectors(GetOperationConnectorsRequest request) throws ApiException {
    ApiResponse<Assignments> response = getOperationConnectorsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Retrieve connectors assigned to an operation
   * Returns a list of connectors assigned to a specific operation.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Assignments&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Assignments> getOperationConnectorsWithHttpInfo(GetOperationConnectorsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getOperationConnectors");
    }
    getOperationConnectorsValidateRequest(request.getType(), request.getId());

    var requestBuilder = getOperationConnectorsRequestBuilder(request.getType(), request.getId(), request.getAid());

    return apiClient.send(requestBuilder.build(), Assignments.class);
  }

  private void getOperationConnectorsValidateRequest(String type, String id) throws ApiException {
      // verify the required parameter 'type' is set
      if (type == null) {
        throw new ApiException(400, "Missing the required parameter 'type' when calling getOperationConnectors");
      }
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling getOperationConnectors");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getOperationConnectorsRequestBuilder(String type, String id, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/operations/{type}/{id}/connectors"
        .replace("{type}", urlEncode(type.toString()))
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetOperationConnectorsRequest {
    private final String type;
    private final String id;
    private final String aid;

    private GetOperationConnectorsRequest(Builder builder) {
      this.type = builder.type;
      this.id = builder.id;
      this.aid = builder.aid;
    }
    public String getType() {
      return type;
    }
    public String getId() {
      return id;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .type(type)
          .id(id)
          .aid(aid);
    }

    public static final class Builder {
      private String type;
      private String id;
      private String aid;

      public Builder type(String type) {
        this.type = type;
        return this;
      }
      public Builder id(String id) {
        this.id = id;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetOperationConnectorsRequest build() {
        return new GetOperationConnectorsRequest(this);
      }
    }
  }

  /**
   * Assign connectors to an operation
   * Assigns one or more connectors to an operation. This replaces any existing assignments. Note: This operation may disable affected objects (such as tests) if connectors are changed.
   * @param request operation parameters (required)
   * @return Assignments
   * @throws ApiException if fails to make API call
   */
  public Assignments setOperationConnectors(SetOperationConnectorsRequest request) throws ApiException {
    ApiResponse<Assignments> response = setOperationConnectorsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Assign connectors to an operation
   * Assigns one or more connectors to an operation. This replaces any existing assignments. Note: This operation may disable affected objects (such as tests) if connectors are changed.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Assignments&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Assignments> setOperationConnectorsWithHttpInfo(SetOperationConnectorsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling setOperationConnectors");
    }
    setOperationConnectorsValidateRequest(request.getType(), request.getId(), request.getRequestBody());

    var requestBuilder = setOperationConnectorsRequestBuilder(request.getType(), request.getId(), request.getRequestBody(), request.getConfirmDisabledObjects(), request.getAid());

    return apiClient.send(requestBuilder.build(), Assignments.class);
  }

  private void setOperationConnectorsValidateRequest(String type, String id, List<String> requestBody) throws ApiException {
      // verify the required parameter 'type' is set
      if (type == null) {
        throw new ApiException(400, "Missing the required parameter 'type' when calling setOperationConnectors");
      }
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling setOperationConnectors");
      }
      // verify the required parameter 'requestBody' is set
      if (requestBody == null) {
        throw new ApiException(400, "Missing the required parameter 'requestBody' when calling setOperationConnectors");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder setOperationConnectorsRequestBuilder(String type, String id, List<String> requestBody, Boolean confirmDisabledObjects, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("PUT");

    String path = "/operations/{type}/{id}/connectors"
        .replace("{type}", urlEncode(type.toString()))
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("confirmDisabledObjects", confirmDisabledObjects));
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(requestBody);
    return requestBuilder;
  }

  public static final class SetOperationConnectorsRequest {
    private final String type;
    private final String id;
    private final List<String> requestBody;
    private final Boolean confirmDisabledObjects;
    private final String aid;

    private SetOperationConnectorsRequest(Builder builder) {
      this.type = builder.type;
      this.id = builder.id;
      this.requestBody = builder.requestBody;
      this.confirmDisabledObjects = builder.confirmDisabledObjects;
      this.aid = builder.aid;
    }
    public String getType() {
      return type;
    }
    public String getId() {
      return id;
    }
    public List<String> getRequestBody() {
      return requestBody;
    }
    public Boolean getConfirmDisabledObjects() {
      return confirmDisabledObjects;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .type(type)
          .id(id)
          .requestBody(requestBody)
          .confirmDisabledObjects(confirmDisabledObjects)
          .aid(aid);
    }

    public static final class Builder {
      private String type;
      private String id;
      private List<String> requestBody;
      private Boolean confirmDisabledObjects;
      private String aid;

      public Builder type(String type) {
        this.type = type;
        return this;
      }
      public Builder id(String id) {
        this.id = id;
        return this;
      }
      public Builder requestBody(List<String> requestBody) {
        this.requestBody = requestBody;
        return this;
      }
      public Builder confirmDisabledObjects(Boolean confirmDisabledObjects) {
        this.confirmDisabledObjects = confirmDisabledObjects;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public SetOperationConnectorsRequest build() {
        return new SetOperationConnectorsRequest(this);
      }
    }
  }

}
