/*
 * Integrations API
 * **Note:** The Webhook Operations APIs are not available for ThousandEyes for Government instance.  Manage connectors and operations. 
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.connectors;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.client.ApiRequest;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.connectors.model.Assignments;
import com.thousandeyes.sdk.connectors.model.Error;
import com.thousandeyes.sdk.connectors.model.PanoramaConnector;
import com.thousandeyes.sdk.connectors.model.PanoramaConnectors;
import com.thousandeyes.sdk.connectors.model.UnauthorizedError;
import com.thousandeyes.sdk.connectors.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class PanoramaConnectorsApi {
  private final ApiClient apiClient;

  public PanoramaConnectorsApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Create Panorama connector
   * Creates a new Panorama connector.
   * @param panoramaConnector Panorama connector configuration. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return PanoramaConnector
   * @throws ApiException if fails to make API call
   */
  public PanoramaConnector createPanoramaConnector(PanoramaConnector panoramaConnector, String aid) throws ApiException {
    ApiResponse<PanoramaConnector> response = createPanoramaConnectorWithHttpInfo(panoramaConnector, aid);
    return response.getData();
  }

  /**
   * Create Panorama connector
   * Creates a new Panorama connector.
   * @param panoramaConnector Panorama connector configuration. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;PanoramaConnector&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PanoramaConnector> createPanoramaConnectorWithHttpInfo(PanoramaConnector panoramaConnector, String aid) throws ApiException {
    createPanoramaConnectorValidateRequest(panoramaConnector);

    var requestBuilder = createPanoramaConnectorRequestBuilder(panoramaConnector, aid);

    return apiClient.send(requestBuilder.build(), PanoramaConnector.class);
  }

  private void createPanoramaConnectorValidateRequest(PanoramaConnector panoramaConnector) throws ApiException {
      // verify the required parameter 'panoramaConnector' is set
      if (panoramaConnector == null) {
        throw new ApiException(400, "Missing the required parameter 'panoramaConnector' when calling createPanoramaConnector");
      }
  }

  private ApiRequest.ApiRequestBuilder createPanoramaConnectorRequestBuilder(PanoramaConnector panoramaConnector, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("POST");

    String path = "/connectors/panorama";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(panoramaConnector);
    return requestBuilder;
  }
  /**
   * Delete Panorama connector
   * Deletes the Panorama connector specified by ID.
   * @param id The connector ID. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @throws ApiException if fails to make API call
   */
  public void deletePanoramaConnector(String id, String aid) throws ApiException {
    deletePanoramaConnectorWithHttpInfo(id, aid);
  }

  /**
   * Delete Panorama connector
   * Deletes the Panorama connector specified by ID.
   * @param id The connector ID. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deletePanoramaConnectorWithHttpInfo(String id, String aid) throws ApiException {
    deletePanoramaConnectorValidateRequest(id);

    var requestBuilder = deletePanoramaConnectorRequestBuilder(id, aid);

    return apiClient.send(requestBuilder.build(), Void.class);
  }

  private void deletePanoramaConnectorValidateRequest(String id) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling deletePanoramaConnector");
      }
  }

  private ApiRequest.ApiRequestBuilder deletePanoramaConnectorRequestBuilder(String id, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("DELETE");

    String path = "/connectors/panorama/{id}"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }
  /**
   * Retrieve Panorama connector
   * Retrieves details of a Panorama connector by its ID.
   * @param id The connector ID. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return PanoramaConnector
   * @throws ApiException if fails to make API call
   */
  public PanoramaConnector getPanoramaConnector(String id, String aid) throws ApiException {
    ApiResponse<PanoramaConnector> response = getPanoramaConnectorWithHttpInfo(id, aid);
    return response.getData();
  }

  /**
   * Retrieve Panorama connector
   * Retrieves details of a Panorama connector by its ID.
   * @param id The connector ID. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;PanoramaConnector&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PanoramaConnector> getPanoramaConnectorWithHttpInfo(String id, String aid) throws ApiException {
    getPanoramaConnectorValidateRequest(id);

    var requestBuilder = getPanoramaConnectorRequestBuilder(id, aid);

    return apiClient.send(requestBuilder.build(), PanoramaConnector.class);
  }

  private void getPanoramaConnectorValidateRequest(String id) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling getPanoramaConnector");
      }
  }

  private ApiRequest.ApiRequestBuilder getPanoramaConnectorRequestBuilder(String id, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("GET");

    String path = "/connectors/panorama/{id}"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }
  /**
   * List operation IDs for Panorama connector
   * Returns a list of operation IDs assigned to a Panorama connector.
   * @param id The connector ID. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return Assignments
   * @throws ApiException if fails to make API call
   */
  public Assignments getPanoramaConnectorOperations(String id, String aid) throws ApiException {
    ApiResponse<Assignments> response = getPanoramaConnectorOperationsWithHttpInfo(id, aid);
    return response.getData();
  }

  /**
   * List operation IDs for Panorama connector
   * Returns a list of operation IDs assigned to a Panorama connector.
   * @param id The connector ID. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;Assignments&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Assignments> getPanoramaConnectorOperationsWithHttpInfo(String id, String aid) throws ApiException {
    getPanoramaConnectorOperationsValidateRequest(id);

    var requestBuilder = getPanoramaConnectorOperationsRequestBuilder(id, aid);

    return apiClient.send(requestBuilder.build(), Assignments.class);
  }

  private void getPanoramaConnectorOperationsValidateRequest(String id) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling getPanoramaConnectorOperations");
      }
  }

  private ApiRequest.ApiRequestBuilder getPanoramaConnectorOperationsRequestBuilder(String id, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("GET");

    String path = "/connectors/panorama/{id}/operations"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }
  /**
   * List Panorama connectors
   * Returns a list of Panorama connectors in the specified account group. If no account group is specified, the user’s default account group is used.
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return PanoramaConnectors
   * @throws ApiException if fails to make API call
   */
  public PanoramaConnectors getPanoramaConnectors(String aid) throws ApiException {
    ApiResponse<PanoramaConnectors> response = getPanoramaConnectorsWithHttpInfo(aid);
    return response.getData();
  }

  /**
   * List Panorama connectors
   * Returns a list of Panorama connectors in the specified account group. If no account group is specified, the user’s default account group is used.
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;PanoramaConnectors&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PanoramaConnectors> getPanoramaConnectorsWithHttpInfo(String aid) throws ApiException {
    getPanoramaConnectorsValidateRequest();

    var requestBuilder = getPanoramaConnectorsRequestBuilder(aid);

    return apiClient.send(requestBuilder.build(), PanoramaConnectors.class);
  }

  private void getPanoramaConnectorsValidateRequest() throws ApiException {
  }

  private ApiRequest.ApiRequestBuilder getPanoramaConnectorsRequestBuilder(String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("GET");

    String path = "/connectors/panorama";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }
  /**
   * Assign operations to Panorama connector
   * Assigns operations to a Panorama connector. This replaces any existing assignments. Passing an empty array removes all operation assignments from the connector.
   * @param id The connector ID. (required)
   * @param requestBody List of operation IDs to assign to the connector. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return Assignments
   * @throws ApiException if fails to make API call
   */
  public Assignments setPanoramaConnectorOperations(String id, List<String> requestBody, String aid) throws ApiException {
    ApiResponse<Assignments> response = setPanoramaConnectorOperationsWithHttpInfo(id, requestBody, aid);
    return response.getData();
  }

  /**
   * Assign operations to Panorama connector
   * Assigns operations to a Panorama connector. This replaces any existing assignments. Passing an empty array removes all operation assignments from the connector.
   * @param id The connector ID. (required)
   * @param requestBody List of operation IDs to assign to the connector. (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;Assignments&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Assignments> setPanoramaConnectorOperationsWithHttpInfo(String id, List<String> requestBody, String aid) throws ApiException {
    setPanoramaConnectorOperationsValidateRequest(id, requestBody);

    var requestBuilder = setPanoramaConnectorOperationsRequestBuilder(id, requestBody, aid);

    return apiClient.send(requestBuilder.build(), Assignments.class);
  }

  private void setPanoramaConnectorOperationsValidateRequest(String id, List<String> requestBody) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling setPanoramaConnectorOperations");
      }
      // verify the required parameter 'requestBody' is set
      if (requestBody == null) {
        throw new ApiException(400, "Missing the required parameter 'requestBody' when calling setPanoramaConnectorOperations");
      }
  }

  private ApiRequest.ApiRequestBuilder setPanoramaConnectorOperationsRequestBuilder(String id, List<String> requestBody, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("PUT");

    String path = "/connectors/panorama/{id}/operations"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(requestBody);
    return requestBuilder;
  }
  /**
   * Update Panorama connector
   * Replaces the Panorama connector specified by ID. The request must include the complete connector configuration, including authentication credentials; existing credentials are not retained when authentication is omitted.
   * @param id The connector ID. (required)
   * @param panoramaConnector  (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return PanoramaConnector
   * @throws ApiException if fails to make API call
   */
  public PanoramaConnector updatePanoramaConnector(String id, PanoramaConnector panoramaConnector, String aid) throws ApiException {
    ApiResponse<PanoramaConnector> response = updatePanoramaConnectorWithHttpInfo(id, panoramaConnector, aid);
    return response.getData();
  }

  /**
   * Update Panorama connector
   * Replaces the Panorama connector specified by ID. The request must include the complete connector configuration, including authentication credentials; existing credentials are not retained when authentication is omitted.
   * @param id The connector ID. (required)
   * @param panoramaConnector  (required)
   * @param aid A unique identifier associated with your account group. You can retrieve your &#x60;AccountGroupId&#x60; from the &#x60;/account-groups&#x60; endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response. (optional)
   * @return ApiResponse&lt;PanoramaConnector&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PanoramaConnector> updatePanoramaConnectorWithHttpInfo(String id, PanoramaConnector panoramaConnector, String aid) throws ApiException {
    updatePanoramaConnectorValidateRequest(id, panoramaConnector);

    var requestBuilder = updatePanoramaConnectorRequestBuilder(id, panoramaConnector, aid);

    return apiClient.send(requestBuilder.build(), PanoramaConnector.class);
  }

  private void updatePanoramaConnectorValidateRequest(String id, PanoramaConnector panoramaConnector) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling updatePanoramaConnector");
      }
      // verify the required parameter 'panoramaConnector' is set
      if (panoramaConnector == null) {
        throw new ApiException(400, "Missing the required parameter 'panoramaConnector' when calling updatePanoramaConnector");
      }
  }

  private ApiRequest.ApiRequestBuilder updatePanoramaConnectorRequestBuilder(String id, PanoramaConnector panoramaConnector, String aid) throws ApiException {
    ApiRequest.ApiRequestBuilder requestBuilder = ApiRequest.builder()
            .method("PUT");

    String path = "/connectors/panorama/{id}"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(panoramaConnector);
    return requestBuilder;
  }
}
