/*
 * BGP Updates API
 * Retrieve BGP updates observed by BGP monitors tracking prefixes in your ThousandEyes account group.
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.bgp.updates;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.bgp.updates.model.BgpDataExpandOption;
import com.thousandeyes.sdk.bgp.updates.model.BgpRpkiStatus;
import com.thousandeyes.sdk.bgp.updates.model.BgpUpdateType;
import com.thousandeyes.sdk.bgp.updates.model.BgpUpdates;
import com.thousandeyes.sdk.bgp.updates.model.Error;
import java.time.OffsetDateTime;
import com.thousandeyes.sdk.bgp.updates.model.UnauthorizedError;
import com.thousandeyes.sdk.bgp.updates.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class BgpUpdatesApi {
  private final ApiClient apiClient;

  public BgpUpdatesApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * List BGP updates
   * Retrieves a paginated list of BGP updates for prefixes tracked by the account group. When &#x60;prefix&#x60; filters are omitted, updates are returned for all prefixes currently tracked by the account group. Use the returned pagination links to request subsequent pages. 
   * @param request operation parameters (required)
   * @return BgpUpdates
   * @throws ApiException if fails to make API call
   */
  public BgpUpdates getBgpUpdates(GetBgpUpdatesRequest request) throws ApiException {
    ApiResponse<BgpUpdates> response = getBgpUpdatesWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List BGP updates
   * Retrieves a paginated list of BGP updates for prefixes tracked by the account group. When &#x60;prefix&#x60; filters are omitted, updates are returned for all prefixes currently tracked by the account group. Use the returned pagination links to request subsequent pages. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;BgpUpdates&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BgpUpdates> getBgpUpdatesWithHttpInfo(GetBgpUpdatesRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getBgpUpdates");
    }
    getBgpUpdatesValidateRequest();

    var requestBuilder = getBgpUpdatesRequestBuilder(request.getAid(), request.getMax(), request.getCursor(), request.getExpand(), request.getStartDate(), request.getEndDate(), request.getPrefix(), request.getOriginAs(), request.getAsPath(), request.getRpkiStatus(), request.getUpdateType(), request.getMonitor(), request.getCommunities());

    return apiClient.send(requestBuilder.build(), BgpUpdates.class);
  }

  private void getBgpUpdatesValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getBgpUpdatesRequestBuilder(String aid, Integer max, String cursor, List<BgpDataExpandOption> expand, OffsetDateTime startDate, OffsetDateTime endDate, List<String> prefix, List<Long> originAs, List<String> asPath, List<BgpRpkiStatus> rpkiStatus, List<BgpUpdateType> updateType, List<String> monitor, List<String> communities) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/bgp/updates";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("max", max));
    localVarQueryParams.addAll(parameterToPairs("cursor", cursor));
    localVarQueryParams.addAll(parameterToPairs("csv", "expand", expand));
    localVarQueryParams.addAll(parameterToPairs("startDate", startDate));
    localVarQueryParams.addAll(parameterToPairs("endDate", endDate));
    localVarQueryParams.addAll(parameterToPairs("multi", "prefix", prefix));
    localVarQueryParams.addAll(parameterToPairs("multi", "originAs", originAs));
    localVarQueryParams.addAll(parameterToPairs("multi", "asPath", asPath));
    localVarQueryParams.addAll(parameterToPairs("multi", "rpkiStatus", rpkiStatus));
    localVarQueryParams.addAll(parameterToPairs("multi", "updateType", updateType));
    localVarQueryParams.addAll(parameterToPairs("multi", "monitor", monitor));
    localVarQueryParams.addAll(parameterToPairs("multi", "communities", communities));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetBgpUpdatesRequest {
    private final String aid;
    private final Integer max;
    private final String cursor;
    private final List<BgpDataExpandOption> expand;
    private final OffsetDateTime startDate;
    private final OffsetDateTime endDate;
    private final List<String> prefix;
    private final List<Long> originAs;
    private final List<String> asPath;
    private final List<BgpRpkiStatus> rpkiStatus;
    private final List<BgpUpdateType> updateType;
    private final List<String> monitor;
    private final List<String> communities;

    private GetBgpUpdatesRequest(Builder builder) {
      this.aid = builder.aid;
      this.max = builder.max;
      this.cursor = builder.cursor;
      this.expand = builder.expand;
      this.startDate = builder.startDate;
      this.endDate = builder.endDate;
      this.prefix = builder.prefix;
      this.originAs = builder.originAs;
      this.asPath = builder.asPath;
      this.rpkiStatus = builder.rpkiStatus;
      this.updateType = builder.updateType;
      this.monitor = builder.monitor;
      this.communities = builder.communities;
    }
    public String getAid() {
      return aid;
    }
    public Integer getMax() {
      return max;
    }
    public String getCursor() {
      return cursor;
    }
    public List<BgpDataExpandOption> getExpand() {
      return expand;
    }
    public OffsetDateTime getStartDate() {
      return startDate;
    }
    public OffsetDateTime getEndDate() {
      return endDate;
    }
    public List<String> getPrefix() {
      return prefix;
    }
    public List<Long> getOriginAs() {
      return originAs;
    }
    public List<String> getAsPath() {
      return asPath;
    }
    public List<BgpRpkiStatus> getRpkiStatus() {
      return rpkiStatus;
    }
    public List<BgpUpdateType> getUpdateType() {
      return updateType;
    }
    public List<String> getMonitor() {
      return monitor;
    }
    public List<String> getCommunities() {
      return communities;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid)
          .max(max)
          .cursor(cursor)
          .expand(expand)
          .startDate(startDate)
          .endDate(endDate)
          .prefix(prefix)
          .originAs(originAs)
          .asPath(asPath)
          .rpkiStatus(rpkiStatus)
          .updateType(updateType)
          .monitor(monitor)
          .communities(communities);
    }

    public static final class Builder {
      private String aid;
      private Integer max;
      private String cursor;
      private List<BgpDataExpandOption> expand;
      private OffsetDateTime startDate;
      private OffsetDateTime endDate;
      private List<String> prefix;
      private List<Long> originAs;
      private List<String> asPath;
      private List<BgpRpkiStatus> rpkiStatus;
      private List<BgpUpdateType> updateType;
      private List<String> monitor;
      private List<String> communities;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder max(Integer max) {
        this.max = max;
        return this;
      }
      public Builder cursor(String cursor) {
        this.cursor = cursor;
        return this;
      }
      public Builder expand(List<BgpDataExpandOption> expand) {
        this.expand = expand;
        return this;
      }
      public Builder startDate(OffsetDateTime startDate) {
        this.startDate = startDate;
        return this;
      }
      public Builder endDate(OffsetDateTime endDate) {
        this.endDate = endDate;
        return this;
      }
      public Builder prefix(List<String> prefix) {
        this.prefix = prefix;
        return this;
      }
      public Builder originAs(List<Long> originAs) {
        this.originAs = originAs;
        return this;
      }
      public Builder asPath(List<String> asPath) {
        this.asPath = asPath;
        return this;
      }
      public Builder rpkiStatus(List<BgpRpkiStatus> rpkiStatus) {
        this.rpkiStatus = rpkiStatus;
        return this;
      }
      public Builder updateType(List<BgpUpdateType> updateType) {
        this.updateType = updateType;
        return this;
      }
      public Builder monitor(List<String> monitor) {
        this.monitor = monitor;
        return this;
      }
      public Builder communities(List<String> communities) {
        this.communities = communities;
        return this;
      }
      public GetBgpUpdatesRequest build() {
        return new GetBgpUpdatesRequest(this);
      }
    }
  }

}
