/*
 * Event Detection API
 * Event detection occurs when ThousandEyes identifies that error signals related to a component (proxy, network node, AS, server etc) have deviated from the baselines established by events. * To determine this, ThousandEyes takes the test results from all accounts groups within an organization, and analyzes that data. * Noisy test results (those that have too many errors in a short window) are removed until they stabilize, and the rest of the results are tagged with the components associated with that test result (for example, proxy, network, or server). * Next, any increase in failures from the test results and each component helps in determining the problem domain and which component may be at fault. * When this failure rate increases beyond a pre-defined threshold (set by the algorithm), an event is triggered and an email notification is sent to the user (if they've enabled email alerts).  With the Events API, you can perform the following tasks on the ThousandEyes platform: * **Retrieve Events**: Obtain a list of events and detailed information for each event. For more information about events, see [Event Detection](https://docs.thousandeyes.com/product-documentation/event-detection). 
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.event.detection;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.event.detection.model.Error;
import com.thousandeyes.sdk.event.detection.model.EventDetail;
import com.thousandeyes.sdk.event.detection.model.Events;
import java.time.OffsetDateTime;
import java.util.UUID;
import com.thousandeyes.sdk.event.detection.model.UnauthorizedError;
import com.thousandeyes.sdk.event.detection.model.ValidationError;
import com.thousandeyes.sdk.event.detection.model.Event;
import com.thousandeyes.sdk.pagination.Paginator;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class EventsApi {
  private final ApiClient apiClient;

  public EventsApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Retrieve event
   * Returns detailed information about an event using its ID.
   * @param request operation parameters (required)
   * @return EventDetail
   * @throws ApiException if fails to make API call
   */
  public EventDetail getEvent(GetEventRequest request) throws ApiException {
    ApiResponse<EventDetail> response = getEventWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Retrieve event
   * Returns detailed information about an event using its ID.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;EventDetail&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EventDetail> getEventWithHttpInfo(GetEventRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getEvent");
    }
    getEventValidateRequest(request.getId());

    var requestBuilder = getEventRequestBuilder(request.getId(), request.getAid());

    return apiClient.send(requestBuilder.build(), EventDetail.class);
  }

  private void getEventValidateRequest(UUID id) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling getEvent");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getEventRequestBuilder(UUID id, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/events/{id}"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetEventRequest {
    private final UUID id;
    private final String aid;

    private GetEventRequest(Builder builder) {
      this.id = builder.id;
      this.aid = builder.aid;
    }
    public UUID getId() {
      return id;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .id(id)
          .aid(aid);
    }

    public static final class Builder {
      private UUID id;
      private String aid;

      public Builder id(UUID id) {
        this.id = id;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetEventRequest build() {
        return new GetEventRequest(this);
      }
    }
  }

  /**
   * List events with pagination
   * Retrieves a list of events within the specified time window. If no events are active during the specified time range, an empty response is returned.  **Note**: You must provide either a time window using the &#x60;window&#x60; parameter or specify &#x60;startDate&#x60; and &#x60;endDate&#x60;.
   * @param request operation parameters (required)
   * @return Paginator<Event, Events>
   */
  public Paginator<Event, Events> getEventsPaginated(GetEventsRequest request) {
    if (request == null) {
      throw new IllegalArgumentException("Request must not be null when calling getEventsPaginated");
    }
    return new Paginator<>(cursor -> getEvents(request.toBuilder()
        .cursor(cursor != null ? cursor : request.getCursor())
        .build()),
                           Events::getEvents);

  }
  /**
   * List events
   * Retrieves a list of events within the specified time window. If no events are active during the specified time range, an empty response is returned.  **Note**: You must provide either a time window using the &#x60;window&#x60; parameter or specify &#x60;startDate&#x60; and &#x60;endDate&#x60;.
   * @param request operation parameters (required)
   * @return Events
   * @throws ApiException if fails to make API call
   */
  public Events getEvents(GetEventsRequest request) throws ApiException {
    ApiResponse<Events> response = getEventsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List events
   * Retrieves a list of events within the specified time window. If no events are active during the specified time range, an empty response is returned.  **Note**: You must provide either a time window using the &#x60;window&#x60; parameter or specify &#x60;startDate&#x60; and &#x60;endDate&#x60;.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Events&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Events> getEventsWithHttpInfo(GetEventsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getEvents");
    }
    getEventsValidateRequest();

    var requestBuilder = getEventsRequestBuilder(request.getAid(), request.getWindow(), request.getStartDate(), request.getEndDate(), request.getMax(), request.getCursor(), request.getOngoing());

    return apiClient.send(requestBuilder.build(), Events.class);
  }

  private void getEventsValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getEventsRequestBuilder(String aid, String window, OffsetDateTime startDate, OffsetDateTime endDate, Integer max, String cursor, Boolean ongoing) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/events";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("window", window));
    localVarQueryParams.addAll(parameterToPairs("startDate", startDate));
    localVarQueryParams.addAll(parameterToPairs("endDate", endDate));
    localVarQueryParams.addAll(parameterToPairs("max", max));
    localVarQueryParams.addAll(parameterToPairs("cursor", cursor));
    localVarQueryParams.addAll(parameterToPairs("ongoing", ongoing));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetEventsRequest {
    private final String aid;
    private final String window;
    private final OffsetDateTime startDate;
    private final OffsetDateTime endDate;
    private final Integer max;
    private final String cursor;
    private final Boolean ongoing;

    private GetEventsRequest(Builder builder) {
      this.aid = builder.aid;
      this.window = builder.window;
      this.startDate = builder.startDate;
      this.endDate = builder.endDate;
      this.max = builder.max;
      this.cursor = builder.cursor;
      this.ongoing = builder.ongoing;
    }
    public String getAid() {
      return aid;
    }
    public String getWindow() {
      return window;
    }
    public OffsetDateTime getStartDate() {
      return startDate;
    }
    public OffsetDateTime getEndDate() {
      return endDate;
    }
    public Integer getMax() {
      return max;
    }
    public String getCursor() {
      return cursor;
    }
    public Boolean getOngoing() {
      return ongoing;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid)
          .window(window)
          .startDate(startDate)
          .endDate(endDate)
          .max(max)
          .cursor(cursor)
          .ongoing(ongoing);
    }

    public static final class Builder {
      private String aid;
      private String window;
      private OffsetDateTime startDate;
      private OffsetDateTime endDate;
      private Integer max;
      private String cursor;
      private Boolean ongoing;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder window(String window) {
        this.window = window;
        return this;
      }
      public Builder startDate(OffsetDateTime startDate) {
        this.startDate = startDate;
        return this;
      }
      public Builder endDate(OffsetDateTime endDate) {
        this.endDate = endDate;
        return this;
      }
      public Builder max(Integer max) {
        this.max = max;
        return this;
      }
      public Builder cursor(String cursor) {
        this.cursor = cursor;
        return this;
      }
      public Builder ongoing(Boolean ongoing) {
        this.ongoing = ongoing;
        return this;
      }
      public GetEventsRequest build() {
        return new GetEventsRequest(this);
      }
    }
  }

}
