/*
 * Cloud Insights Integrations API
 * **Note:** All Cloud Insights APIs are not available for ThousandEyes for Government instance.  The Cloud Insights Integrations API lets you programmatically manage **AWS** and **Azure** monitoring integrations in ThousandEyes.   ### What You Can Do  - **List** all integrations.  - **Get** details for a specific integration.  - **Delete** an existing integration.  - **Create** integrations for:    - **AWS**: inventory monitoring and flow logs monitoring.      - **Azure**: inventory monitoring and flow logs monitoring.  - **Update** integrations for:    - **Azure**: inventory monitoring and flow logs monitoring.    - **Fetch AWS IAM policy documents** required to configure AWS inventory and flow-logs integrations.  - **Retrieve** the current AWS and Azure integration policy settings to understand which AWS and Azure resource groups, AWS regions, Azure subscription rules are enabled and whether CloudTrail is enabled for Cloud Insights for inventory monitoring.  - **Update** policy settings to change the approved AWS resource groups, AWS regions, and Azure subscription rules that ThousandEyes should inventory.   ### Scope and Tenancy  All operations are scoped to the authenticated account group. Responses include only resources associated with that group.   ### Payloads and formats  - **Requests:** `application/json`  - **Responses:** primarily `application/hal+json` for resource representations and `application/json` for policy documents.  - HAL responses include `_links` with a `self` relation for direct navigation.   ### Integration Types  - **Inventory monitoring**    - AWS: reads inventory and network topology via read-only IAM permissions.      - Azure: authenticates with a Service Principal to read inventory and network topology.    - **Flow logs monitoring**    - AWS: reads flow logs from S3 buckets and uses SNS for notifications.      - Azure: reads flow logs via **Service Bus Queue** (`serviceBusQueueUrl`).     ### Policy Helpers (AWS)  Dedicated endpoints return **Trusted Policy**, **Permissions Policy**, and **SNS Topic Access Policy** documents to simplify role setup for inventory and flow logs integrations.   ### Notes  - All example values in this specification are **fictitious**.   For more information about Cloud Insights, see [Cloud Insights](https://docs.thousandeyes.com/product-documentation/cloud-insights). 
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.cloudinsights.integrations;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.cloudinsights.integrations.model.AwsFlowLogsIntegrationRequest;
import com.thousandeyes.sdk.cloudinsights.integrations.model.AwsInventoryIntegrationRequest;
import com.thousandeyes.sdk.cloudinsights.integrations.model.AwsMonitoringIntegration;
import com.thousandeyes.sdk.cloudinsights.integrations.model.AwsMonitoringIntegrations;
import com.thousandeyes.sdk.cloudinsights.integrations.model.AzureFlowLogsIntegrationRequest;
import com.thousandeyes.sdk.cloudinsights.integrations.model.AzureInventoryIntegrationRequest;
import com.thousandeyes.sdk.cloudinsights.integrations.model.AzureMonitoringIntegration;
import com.thousandeyes.sdk.cloudinsights.integrations.model.AzureMonitoringIntegrations;
import com.thousandeyes.sdk.cloudinsights.integrations.model.Error;
import java.util.UUID;
import com.thousandeyes.sdk.cloudinsights.integrations.model.UnauthorizedError;
import com.thousandeyes.sdk.cloudinsights.integrations.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class CloudInsightsIntegrationsApi {
  private final ApiClient apiClient;

  public CloudInsightsIntegrationsApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Create AWS flow logs monitoring integration
   * Creates a new AWS flow logs monitoring integration.
   * @param request operation parameters (required)
   * @return AwsMonitoringIntegration
   * @throws ApiException if fails to make API call
   */
  public AwsMonitoringIntegration createAWSFlowLogsMonitoringIntegration(CreateAWSFlowLogsMonitoringIntegrationRequest request) throws ApiException {
    ApiResponse<AwsMonitoringIntegration> response = createAWSFlowLogsMonitoringIntegrationWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Create AWS flow logs monitoring integration
   * Creates a new AWS flow logs monitoring integration.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AwsMonitoringIntegration&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AwsMonitoringIntegration> createAWSFlowLogsMonitoringIntegrationWithHttpInfo(CreateAWSFlowLogsMonitoringIntegrationRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling createAWSFlowLogsMonitoringIntegration");
    }
    createAWSFlowLogsMonitoringIntegrationValidateRequest(request.getAwsFlowLogsIntegrationRequest());

    var requestBuilder = createAWSFlowLogsMonitoringIntegrationRequestBuilder(request.getAwsFlowLogsIntegrationRequest(), request.getAid());

    return apiClient.send(requestBuilder.build(), AwsMonitoringIntegration.class);
  }

  private void createAWSFlowLogsMonitoringIntegrationValidateRequest(AwsFlowLogsIntegrationRequest awsFlowLogsIntegrationRequest) throws ApiException {
      // verify the required parameter 'awsFlowLogsIntegrationRequest' is set
      if (awsFlowLogsIntegrationRequest == null) {
        throw new ApiException(400, "Missing the required parameter 'awsFlowLogsIntegrationRequest' when calling createAWSFlowLogsMonitoringIntegration");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder createAWSFlowLogsMonitoringIntegrationRequestBuilder(AwsFlowLogsIntegrationRequest awsFlowLogsIntegrationRequest, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/cloud-insights/integration/aws/flow-logs";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(awsFlowLogsIntegrationRequest);
    return requestBuilder;
  }

  public static final class CreateAWSFlowLogsMonitoringIntegrationRequest {
    private final AwsFlowLogsIntegrationRequest awsFlowLogsIntegrationRequest;
    private final String aid;

    private CreateAWSFlowLogsMonitoringIntegrationRequest(Builder builder) {
      this.awsFlowLogsIntegrationRequest = builder.awsFlowLogsIntegrationRequest;
      this.aid = builder.aid;
    }
    public AwsFlowLogsIntegrationRequest getAwsFlowLogsIntegrationRequest() {
      return awsFlowLogsIntegrationRequest;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .awsFlowLogsIntegrationRequest(awsFlowLogsIntegrationRequest)
          .aid(aid);
    }

    public static final class Builder {
      private AwsFlowLogsIntegrationRequest awsFlowLogsIntegrationRequest;
      private String aid;

      public Builder awsFlowLogsIntegrationRequest(AwsFlowLogsIntegrationRequest awsFlowLogsIntegrationRequest) {
        this.awsFlowLogsIntegrationRequest = awsFlowLogsIntegrationRequest;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public CreateAWSFlowLogsMonitoringIntegrationRequest build() {
        return new CreateAWSFlowLogsMonitoringIntegrationRequest(this);
      }
    }
  }

  /**
   * Create AWS inventory monitoring integration
   * Creates a new AWS inventory monitoring integration.
   * @param request operation parameters (required)
   * @return AwsMonitoringIntegration
   * @throws ApiException if fails to make API call
   */
  public AwsMonitoringIntegration createAWSInventoryMonitoringIntegration(CreateAWSInventoryMonitoringIntegrationRequest request) throws ApiException {
    ApiResponse<AwsMonitoringIntegration> response = createAWSInventoryMonitoringIntegrationWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Create AWS inventory monitoring integration
   * Creates a new AWS inventory monitoring integration.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AwsMonitoringIntegration&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AwsMonitoringIntegration> createAWSInventoryMonitoringIntegrationWithHttpInfo(CreateAWSInventoryMonitoringIntegrationRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling createAWSInventoryMonitoringIntegration");
    }
    createAWSInventoryMonitoringIntegrationValidateRequest(request.getAwsInventoryIntegrationRequest());

    var requestBuilder = createAWSInventoryMonitoringIntegrationRequestBuilder(request.getAwsInventoryIntegrationRequest(), request.getAid());

    return apiClient.send(requestBuilder.build(), AwsMonitoringIntegration.class);
  }

  private void createAWSInventoryMonitoringIntegrationValidateRequest(AwsInventoryIntegrationRequest awsInventoryIntegrationRequest) throws ApiException {
      // verify the required parameter 'awsInventoryIntegrationRequest' is set
      if (awsInventoryIntegrationRequest == null) {
        throw new ApiException(400, "Missing the required parameter 'awsInventoryIntegrationRequest' when calling createAWSInventoryMonitoringIntegration");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder createAWSInventoryMonitoringIntegrationRequestBuilder(AwsInventoryIntegrationRequest awsInventoryIntegrationRequest, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/cloud-insights/integration/aws/inventory";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(awsInventoryIntegrationRequest);
    return requestBuilder;
  }

  public static final class CreateAWSInventoryMonitoringIntegrationRequest {
    private final AwsInventoryIntegrationRequest awsInventoryIntegrationRequest;
    private final String aid;

    private CreateAWSInventoryMonitoringIntegrationRequest(Builder builder) {
      this.awsInventoryIntegrationRequest = builder.awsInventoryIntegrationRequest;
      this.aid = builder.aid;
    }
    public AwsInventoryIntegrationRequest getAwsInventoryIntegrationRequest() {
      return awsInventoryIntegrationRequest;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .awsInventoryIntegrationRequest(awsInventoryIntegrationRequest)
          .aid(aid);
    }

    public static final class Builder {
      private AwsInventoryIntegrationRequest awsInventoryIntegrationRequest;
      private String aid;

      public Builder awsInventoryIntegrationRequest(AwsInventoryIntegrationRequest awsInventoryIntegrationRequest) {
        this.awsInventoryIntegrationRequest = awsInventoryIntegrationRequest;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public CreateAWSInventoryMonitoringIntegrationRequest build() {
        return new CreateAWSInventoryMonitoringIntegrationRequest(this);
      }
    }
  }

  /**
   * Create Azure flow logs monitoring integration
   * Creates a new Azure flow logs monitoring integration.
   * @param request operation parameters (required)
   * @return AzureMonitoringIntegration
   * @throws ApiException if fails to make API call
   */
  public AzureMonitoringIntegration createAzureFlowLogsMonitoringIntegration(CreateAzureFlowLogsMonitoringIntegrationRequest request) throws ApiException {
    ApiResponse<AzureMonitoringIntegration> response = createAzureFlowLogsMonitoringIntegrationWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Create Azure flow logs monitoring integration
   * Creates a new Azure flow logs monitoring integration.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AzureMonitoringIntegration&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AzureMonitoringIntegration> createAzureFlowLogsMonitoringIntegrationWithHttpInfo(CreateAzureFlowLogsMonitoringIntegrationRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling createAzureFlowLogsMonitoringIntegration");
    }
    createAzureFlowLogsMonitoringIntegrationValidateRequest(request.getAzureFlowLogsIntegrationRequest());

    var requestBuilder = createAzureFlowLogsMonitoringIntegrationRequestBuilder(request.getAzureFlowLogsIntegrationRequest(), request.getAid());

    return apiClient.send(requestBuilder.build(), AzureMonitoringIntegration.class);
  }

  private void createAzureFlowLogsMonitoringIntegrationValidateRequest(AzureFlowLogsIntegrationRequest azureFlowLogsIntegrationRequest) throws ApiException {
      // verify the required parameter 'azureFlowLogsIntegrationRequest' is set
      if (azureFlowLogsIntegrationRequest == null) {
        throw new ApiException(400, "Missing the required parameter 'azureFlowLogsIntegrationRequest' when calling createAzureFlowLogsMonitoringIntegration");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder createAzureFlowLogsMonitoringIntegrationRequestBuilder(AzureFlowLogsIntegrationRequest azureFlowLogsIntegrationRequest, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/cloud-insights/integration/azure/flow-logs";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(azureFlowLogsIntegrationRequest);
    return requestBuilder;
  }

  public static final class CreateAzureFlowLogsMonitoringIntegrationRequest {
    private final AzureFlowLogsIntegrationRequest azureFlowLogsIntegrationRequest;
    private final String aid;

    private CreateAzureFlowLogsMonitoringIntegrationRequest(Builder builder) {
      this.azureFlowLogsIntegrationRequest = builder.azureFlowLogsIntegrationRequest;
      this.aid = builder.aid;
    }
    public AzureFlowLogsIntegrationRequest getAzureFlowLogsIntegrationRequest() {
      return azureFlowLogsIntegrationRequest;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .azureFlowLogsIntegrationRequest(azureFlowLogsIntegrationRequest)
          .aid(aid);
    }

    public static final class Builder {
      private AzureFlowLogsIntegrationRequest azureFlowLogsIntegrationRequest;
      private String aid;

      public Builder azureFlowLogsIntegrationRequest(AzureFlowLogsIntegrationRequest azureFlowLogsIntegrationRequest) {
        this.azureFlowLogsIntegrationRequest = azureFlowLogsIntegrationRequest;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public CreateAzureFlowLogsMonitoringIntegrationRequest build() {
        return new CreateAzureFlowLogsMonitoringIntegrationRequest(this);
      }
    }
  }

  /**
   * Create Azure inventory monitoring integration
   * Creates a new Azure inventory monitoring integration.
   * @param request operation parameters (required)
   * @return AzureMonitoringIntegration
   * @throws ApiException if fails to make API call
   */
  public AzureMonitoringIntegration createAzureInventoryMonitoringIntegration(CreateAzureInventoryMonitoringIntegrationRequest request) throws ApiException {
    ApiResponse<AzureMonitoringIntegration> response = createAzureInventoryMonitoringIntegrationWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Create Azure inventory monitoring integration
   * Creates a new Azure inventory monitoring integration.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AzureMonitoringIntegration&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AzureMonitoringIntegration> createAzureInventoryMonitoringIntegrationWithHttpInfo(CreateAzureInventoryMonitoringIntegrationRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling createAzureInventoryMonitoringIntegration");
    }
    createAzureInventoryMonitoringIntegrationValidateRequest(request.getAzureInventoryIntegrationRequest());

    var requestBuilder = createAzureInventoryMonitoringIntegrationRequestBuilder(request.getAzureInventoryIntegrationRequest(), request.getAid());

    return apiClient.send(requestBuilder.build(), AzureMonitoringIntegration.class);
  }

  private void createAzureInventoryMonitoringIntegrationValidateRequest(AzureInventoryIntegrationRequest azureInventoryIntegrationRequest) throws ApiException {
      // verify the required parameter 'azureInventoryIntegrationRequest' is set
      if (azureInventoryIntegrationRequest == null) {
        throw new ApiException(400, "Missing the required parameter 'azureInventoryIntegrationRequest' when calling createAzureInventoryMonitoringIntegration");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder createAzureInventoryMonitoringIntegrationRequestBuilder(AzureInventoryIntegrationRequest azureInventoryIntegrationRequest, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/cloud-insights/integration/azure/inventory";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(azureInventoryIntegrationRequest);
    return requestBuilder;
  }

  public static final class CreateAzureInventoryMonitoringIntegrationRequest {
    private final AzureInventoryIntegrationRequest azureInventoryIntegrationRequest;
    private final String aid;

    private CreateAzureInventoryMonitoringIntegrationRequest(Builder builder) {
      this.azureInventoryIntegrationRequest = builder.azureInventoryIntegrationRequest;
      this.aid = builder.aid;
    }
    public AzureInventoryIntegrationRequest getAzureInventoryIntegrationRequest() {
      return azureInventoryIntegrationRequest;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .azureInventoryIntegrationRequest(azureInventoryIntegrationRequest)
          .aid(aid);
    }

    public static final class Builder {
      private AzureInventoryIntegrationRequest azureInventoryIntegrationRequest;
      private String aid;

      public Builder azureInventoryIntegrationRequest(AzureInventoryIntegrationRequest azureInventoryIntegrationRequest) {
        this.azureInventoryIntegrationRequest = azureInventoryIntegrationRequest;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public CreateAzureInventoryMonitoringIntegrationRequest build() {
        return new CreateAzureInventoryMonitoringIntegrationRequest(this);
      }
    }
  }

  /**
   * Delete AWS integration
   * Deletes a specific AWS inventory or flow logs monitoring integration using the AWS integration ID.
   * @param request operation parameters (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteAwsMonitoringIntegration(DeleteAwsMonitoringIntegrationRequest request) throws ApiException {
    deleteAwsMonitoringIntegrationWithHttpInfo(request);
  }

  /**
   * Delete AWS integration
   * Deletes a specific AWS inventory or flow logs monitoring integration using the AWS integration ID.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteAwsMonitoringIntegrationWithHttpInfo(DeleteAwsMonitoringIntegrationRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling deleteAwsMonitoringIntegration");
    }
    deleteAwsMonitoringIntegrationValidateRequest(request.getIntegrationId());

    var requestBuilder = deleteAwsMonitoringIntegrationRequestBuilder(request.getIntegrationId(), request.getAid());

    return apiClient.send(requestBuilder.build(), Void.class);
  }

  private void deleteAwsMonitoringIntegrationValidateRequest(UUID integrationId) throws ApiException {
      // verify the required parameter 'integrationId' is set
      if (integrationId == null) {
        throw new ApiException(400, "Missing the required parameter 'integrationId' when calling deleteAwsMonitoringIntegration");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder deleteAwsMonitoringIntegrationRequestBuilder(UUID integrationId, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("DELETE");

    String path = "/cloud-insights/integration/aws/{integrationId}"
        .replace("{integrationId}", urlEncode(integrationId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class DeleteAwsMonitoringIntegrationRequest {
    private final UUID integrationId;
    private final String aid;

    private DeleteAwsMonitoringIntegrationRequest(Builder builder) {
      this.integrationId = builder.integrationId;
      this.aid = builder.aid;
    }
    public UUID getIntegrationId() {
      return integrationId;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .integrationId(integrationId)
          .aid(aid);
    }

    public static final class Builder {
      private UUID integrationId;
      private String aid;

      public Builder integrationId(UUID integrationId) {
        this.integrationId = integrationId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public DeleteAwsMonitoringIntegrationRequest build() {
        return new DeleteAwsMonitoringIntegrationRequest(this);
      }
    }
  }

  /**
   * Delete Azure integration
   * Deletes a specific Azure inventory or flow logs monitoring integration using the Azure integration ID.
   * @param request operation parameters (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteAzureMonitoringIntegration(DeleteAzureMonitoringIntegrationRequest request) throws ApiException {
    deleteAzureMonitoringIntegrationWithHttpInfo(request);
  }

  /**
   * Delete Azure integration
   * Deletes a specific Azure inventory or flow logs monitoring integration using the Azure integration ID.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteAzureMonitoringIntegrationWithHttpInfo(DeleteAzureMonitoringIntegrationRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling deleteAzureMonitoringIntegration");
    }
    deleteAzureMonitoringIntegrationValidateRequest(request.getIntegrationId());

    var requestBuilder = deleteAzureMonitoringIntegrationRequestBuilder(request.getIntegrationId(), request.getAid());

    return apiClient.send(requestBuilder.build(), Void.class);
  }

  private void deleteAzureMonitoringIntegrationValidateRequest(UUID integrationId) throws ApiException {
      // verify the required parameter 'integrationId' is set
      if (integrationId == null) {
        throw new ApiException(400, "Missing the required parameter 'integrationId' when calling deleteAzureMonitoringIntegration");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder deleteAzureMonitoringIntegrationRequestBuilder(UUID integrationId, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("DELETE");

    String path = "/cloud-insights/integration/azure/{integrationId}"
        .replace("{integrationId}", urlEncode(integrationId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class DeleteAzureMonitoringIntegrationRequest {
    private final UUID integrationId;
    private final String aid;

    private DeleteAzureMonitoringIntegrationRequest(Builder builder) {
      this.integrationId = builder.integrationId;
      this.aid = builder.aid;
    }
    public UUID getIntegrationId() {
      return integrationId;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .integrationId(integrationId)
          .aid(aid);
    }

    public static final class Builder {
      private UUID integrationId;
      private String aid;

      public Builder integrationId(UUID integrationId) {
        this.integrationId = integrationId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public DeleteAzureMonitoringIntegrationRequest build() {
        return new DeleteAzureMonitoringIntegrationRequest(this);
      }
    }
  }

  /**
   * Get AWS flow logs monitoring IAM policies
   * Retrieves the AWS IAM policies required to configure an AWS flow logs monitoring integration in JSON string format for the authenticated account group.
   * @param request operation parameters (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String getAWSFlowlogsMonitoringIntegrationPolicies(GetAWSFlowlogsMonitoringIntegrationPoliciesRequest request) throws ApiException {
    ApiResponse<String> response = getAWSFlowlogsMonitoringIntegrationPoliciesWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Get AWS flow logs monitoring IAM policies
   * Retrieves the AWS IAM policies required to configure an AWS flow logs monitoring integration in JSON string format for the authenticated account group.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<String> getAWSFlowlogsMonitoringIntegrationPoliciesWithHttpInfo(GetAWSFlowlogsMonitoringIntegrationPoliciesRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAWSFlowlogsMonitoringIntegrationPolicies");
    }
    getAWSFlowlogsMonitoringIntegrationPoliciesValidateRequest();

    var requestBuilder = getAWSFlowlogsMonitoringIntegrationPoliciesRequestBuilder(request.getAid());

    return apiClient.send(requestBuilder.build(), String.class);
  }

  private void getAWSFlowlogsMonitoringIntegrationPoliciesValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAWSFlowlogsMonitoringIntegrationPoliciesRequestBuilder(String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/cloud-insights/integration/aws/flow-logs/policies";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAWSFlowlogsMonitoringIntegrationPoliciesRequest {
    private final String aid;

    private GetAWSFlowlogsMonitoringIntegrationPoliciesRequest(Builder builder) {
      this.aid = builder.aid;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid);
    }

    public static final class Builder {
      private String aid;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetAWSFlowlogsMonitoringIntegrationPoliciesRequest build() {
        return new GetAWSFlowlogsMonitoringIntegrationPoliciesRequest(this);
      }
    }
  }

  /**
   * Get AWS inventory monitoring IAM policies
   * Retrieves the AWS IAM policies required to configure an AWS inventory monitoring integration in JSON string format for the authenticated account group.
   * @param request operation parameters (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String getAWSInventoryMonitoringIntegrationPolicies(GetAWSInventoryMonitoringIntegrationPoliciesRequest request) throws ApiException {
    ApiResponse<String> response = getAWSInventoryMonitoringIntegrationPoliciesWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Get AWS inventory monitoring IAM policies
   * Retrieves the AWS IAM policies required to configure an AWS inventory monitoring integration in JSON string format for the authenticated account group.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<String> getAWSInventoryMonitoringIntegrationPoliciesWithHttpInfo(GetAWSInventoryMonitoringIntegrationPoliciesRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAWSInventoryMonitoringIntegrationPolicies");
    }
    getAWSInventoryMonitoringIntegrationPoliciesValidateRequest();

    var requestBuilder = getAWSInventoryMonitoringIntegrationPoliciesRequestBuilder(request.getAid());

    return apiClient.send(requestBuilder.build(), String.class);
  }

  private void getAWSInventoryMonitoringIntegrationPoliciesValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAWSInventoryMonitoringIntegrationPoliciesRequestBuilder(String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/cloud-insights/integration/aws/inventory/policies";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAWSInventoryMonitoringIntegrationPoliciesRequest {
    private final String aid;

    private GetAWSInventoryMonitoringIntegrationPoliciesRequest(Builder builder) {
      this.aid = builder.aid;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid);
    }

    public static final class Builder {
      private String aid;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetAWSInventoryMonitoringIntegrationPoliciesRequest build() {
        return new GetAWSInventoryMonitoringIntegrationPoliciesRequest(this);
      }
    }
  }

  /**
   * Get AWS integration
   * Retrieves details for a specific AWS inventory or flow logs monitoring integration associated with the authenticated account group using the unique integration ID.
   * @param request operation parameters (required)
   * @return AwsMonitoringIntegration
   * @throws ApiException if fails to make API call
   */
  public AwsMonitoringIntegration getAWSMonitoringIntegration(GetAWSMonitoringIntegrationRequest request) throws ApiException {
    ApiResponse<AwsMonitoringIntegration> response = getAWSMonitoringIntegrationWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Get AWS integration
   * Retrieves details for a specific AWS inventory or flow logs monitoring integration associated with the authenticated account group using the unique integration ID.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AwsMonitoringIntegration&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AwsMonitoringIntegration> getAWSMonitoringIntegrationWithHttpInfo(GetAWSMonitoringIntegrationRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAWSMonitoringIntegration");
    }
    getAWSMonitoringIntegrationValidateRequest(request.getIntegrationId());

    var requestBuilder = getAWSMonitoringIntegrationRequestBuilder(request.getIntegrationId(), request.getAid());

    return apiClient.send(requestBuilder.build(), AwsMonitoringIntegration.class);
  }

  private void getAWSMonitoringIntegrationValidateRequest(UUID integrationId) throws ApiException {
      // verify the required parameter 'integrationId' is set
      if (integrationId == null) {
        throw new ApiException(400, "Missing the required parameter 'integrationId' when calling getAWSMonitoringIntegration");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAWSMonitoringIntegrationRequestBuilder(UUID integrationId, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/cloud-insights/integration/aws/{integrationId}"
        .replace("{integrationId}", urlEncode(integrationId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAWSMonitoringIntegrationRequest {
    private final UUID integrationId;
    private final String aid;

    private GetAWSMonitoringIntegrationRequest(Builder builder) {
      this.integrationId = builder.integrationId;
      this.aid = builder.aid;
    }
    public UUID getIntegrationId() {
      return integrationId;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .integrationId(integrationId)
          .aid(aid);
    }

    public static final class Builder {
      private UUID integrationId;
      private String aid;

      public Builder integrationId(UUID integrationId) {
        this.integrationId = integrationId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetAWSMonitoringIntegrationRequest build() {
        return new GetAWSMonitoringIntegrationRequest(this);
      }
    }
  }

  /**
   * List AWS integrations
   * Retrieves all AWS inventory and flow logs monitoring integrations configured for the authenticated account group in ThousandEyes.
   * @param request operation parameters (required)
   * @return AwsMonitoringIntegrations
   * @throws ApiException if fails to make API call
   */
  public AwsMonitoringIntegrations getAllAWSMonitoringIntegrations(GetAllAWSMonitoringIntegrationsRequest request) throws ApiException {
    ApiResponse<AwsMonitoringIntegrations> response = getAllAWSMonitoringIntegrationsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List AWS integrations
   * Retrieves all AWS inventory and flow logs monitoring integrations configured for the authenticated account group in ThousandEyes.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AwsMonitoringIntegrations&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AwsMonitoringIntegrations> getAllAWSMonitoringIntegrationsWithHttpInfo(GetAllAWSMonitoringIntegrationsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAllAWSMonitoringIntegrations");
    }
    getAllAWSMonitoringIntegrationsValidateRequest();

    var requestBuilder = getAllAWSMonitoringIntegrationsRequestBuilder(request.getAid());

    return apiClient.send(requestBuilder.build(), AwsMonitoringIntegrations.class);
  }

  private void getAllAWSMonitoringIntegrationsValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAllAWSMonitoringIntegrationsRequestBuilder(String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/cloud-insights/integration/aws";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAllAWSMonitoringIntegrationsRequest {
    private final String aid;

    private GetAllAWSMonitoringIntegrationsRequest(Builder builder) {
      this.aid = builder.aid;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid);
    }

    public static final class Builder {
      private String aid;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetAllAWSMonitoringIntegrationsRequest build() {
        return new GetAllAWSMonitoringIntegrationsRequest(this);
      }
    }
  }

  /**
   * List Azure integrations
   * Retrieves all Azure inventory and flow logs monitoring integrations configured for the authenticated account group in ThousandEyes.
   * @param request operation parameters (required)
   * @return AzureMonitoringIntegrations
   * @throws ApiException if fails to make API call
   */
  public AzureMonitoringIntegrations getAllAzureMonitoringIntegrations(GetAllAzureMonitoringIntegrationsRequest request) throws ApiException {
    ApiResponse<AzureMonitoringIntegrations> response = getAllAzureMonitoringIntegrationsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List Azure integrations
   * Retrieves all Azure inventory and flow logs monitoring integrations configured for the authenticated account group in ThousandEyes.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AzureMonitoringIntegrations&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AzureMonitoringIntegrations> getAllAzureMonitoringIntegrationsWithHttpInfo(GetAllAzureMonitoringIntegrationsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAllAzureMonitoringIntegrations");
    }
    getAllAzureMonitoringIntegrationsValidateRequest();

    var requestBuilder = getAllAzureMonitoringIntegrationsRequestBuilder(request.getAid());

    return apiClient.send(requestBuilder.build(), AzureMonitoringIntegrations.class);
  }

  private void getAllAzureMonitoringIntegrationsValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAllAzureMonitoringIntegrationsRequestBuilder(String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/cloud-insights/integration/azure";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAllAzureMonitoringIntegrationsRequest {
    private final String aid;

    private GetAllAzureMonitoringIntegrationsRequest(Builder builder) {
      this.aid = builder.aid;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid);
    }

    public static final class Builder {
      private String aid;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetAllAzureMonitoringIntegrationsRequest build() {
        return new GetAllAzureMonitoringIntegrationsRequest(this);
      }
    }
  }

  /**
   * Get Azure integration
   * Retrieves details for a specific Azure inventory or flow logs monitoring integration associated with the authenticated account group using the unique integration ID.
   * @param request operation parameters (required)
   * @return AzureMonitoringIntegration
   * @throws ApiException if fails to make API call
   */
  public AzureMonitoringIntegration getAzureMonitoringIntegration(GetAzureMonitoringIntegrationRequest request) throws ApiException {
    ApiResponse<AzureMonitoringIntegration> response = getAzureMonitoringIntegrationWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Get Azure integration
   * Retrieves details for a specific Azure inventory or flow logs monitoring integration associated with the authenticated account group using the unique integration ID.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AzureMonitoringIntegration&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AzureMonitoringIntegration> getAzureMonitoringIntegrationWithHttpInfo(GetAzureMonitoringIntegrationRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAzureMonitoringIntegration");
    }
    getAzureMonitoringIntegrationValidateRequest(request.getIntegrationId());

    var requestBuilder = getAzureMonitoringIntegrationRequestBuilder(request.getIntegrationId(), request.getAid());

    return apiClient.send(requestBuilder.build(), AzureMonitoringIntegration.class);
  }

  private void getAzureMonitoringIntegrationValidateRequest(UUID integrationId) throws ApiException {
      // verify the required parameter 'integrationId' is set
      if (integrationId == null) {
        throw new ApiException(400, "Missing the required parameter 'integrationId' when calling getAzureMonitoringIntegration");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAzureMonitoringIntegrationRequestBuilder(UUID integrationId, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/cloud-insights/integration/azure/{integrationId}"
        .replace("{integrationId}", urlEncode(integrationId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAzureMonitoringIntegrationRequest {
    private final UUID integrationId;
    private final String aid;

    private GetAzureMonitoringIntegrationRequest(Builder builder) {
      this.integrationId = builder.integrationId;
      this.aid = builder.aid;
    }
    public UUID getIntegrationId() {
      return integrationId;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .integrationId(integrationId)
          .aid(aid);
    }

    public static final class Builder {
      private UUID integrationId;
      private String aid;

      public Builder integrationId(UUID integrationId) {
        this.integrationId = integrationId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetAzureMonitoringIntegrationRequest build() {
        return new GetAzureMonitoringIntegrationRequest(this);
      }
    }
  }

  /**
   * Update Azure flow logs monitoring integration
   * Updates an existing Azure flow logs monitoring integration.
   * @param request operation parameters (required)
   * @return AzureMonitoringIntegration
   * @throws ApiException if fails to make API call
   */
  public AzureMonitoringIntegration updateAzureFlowLogsMonitoringIntegration(UpdateAzureFlowLogsMonitoringIntegrationRequest request) throws ApiException {
    ApiResponse<AzureMonitoringIntegration> response = updateAzureFlowLogsMonitoringIntegrationWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Update Azure flow logs monitoring integration
   * Updates an existing Azure flow logs monitoring integration.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AzureMonitoringIntegration&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AzureMonitoringIntegration> updateAzureFlowLogsMonitoringIntegrationWithHttpInfo(UpdateAzureFlowLogsMonitoringIntegrationRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling updateAzureFlowLogsMonitoringIntegration");
    }
    updateAzureFlowLogsMonitoringIntegrationValidateRequest(request.getIntegrationId(), request.getAzureFlowLogsIntegrationRequest());

    var requestBuilder = updateAzureFlowLogsMonitoringIntegrationRequestBuilder(request.getIntegrationId(), request.getAzureFlowLogsIntegrationRequest(), request.getAid());

    return apiClient.send(requestBuilder.build(), AzureMonitoringIntegration.class);
  }

  private void updateAzureFlowLogsMonitoringIntegrationValidateRequest(UUID integrationId, AzureFlowLogsIntegrationRequest azureFlowLogsIntegrationRequest) throws ApiException {
      // verify the required parameter 'integrationId' is set
      if (integrationId == null) {
        throw new ApiException(400, "Missing the required parameter 'integrationId' when calling updateAzureFlowLogsMonitoringIntegration");
      }
      // verify the required parameter 'azureFlowLogsIntegrationRequest' is set
      if (azureFlowLogsIntegrationRequest == null) {
        throw new ApiException(400, "Missing the required parameter 'azureFlowLogsIntegrationRequest' when calling updateAzureFlowLogsMonitoringIntegration");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder updateAzureFlowLogsMonitoringIntegrationRequestBuilder(UUID integrationId, AzureFlowLogsIntegrationRequest azureFlowLogsIntegrationRequest, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("PUT");

    String path = "/cloud-insights/integration/azure/flow-logs/{integrationId}"
        .replace("{integrationId}", urlEncode(integrationId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(azureFlowLogsIntegrationRequest);
    return requestBuilder;
  }

  public static final class UpdateAzureFlowLogsMonitoringIntegrationRequest {
    private final UUID integrationId;
    private final AzureFlowLogsIntegrationRequest azureFlowLogsIntegrationRequest;
    private final String aid;

    private UpdateAzureFlowLogsMonitoringIntegrationRequest(Builder builder) {
      this.integrationId = builder.integrationId;
      this.azureFlowLogsIntegrationRequest = builder.azureFlowLogsIntegrationRequest;
      this.aid = builder.aid;
    }
    public UUID getIntegrationId() {
      return integrationId;
    }
    public AzureFlowLogsIntegrationRequest getAzureFlowLogsIntegrationRequest() {
      return azureFlowLogsIntegrationRequest;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .integrationId(integrationId)
          .azureFlowLogsIntegrationRequest(azureFlowLogsIntegrationRequest)
          .aid(aid);
    }

    public static final class Builder {
      private UUID integrationId;
      private AzureFlowLogsIntegrationRequest azureFlowLogsIntegrationRequest;
      private String aid;

      public Builder integrationId(UUID integrationId) {
        this.integrationId = integrationId;
        return this;
      }
      public Builder azureFlowLogsIntegrationRequest(AzureFlowLogsIntegrationRequest azureFlowLogsIntegrationRequest) {
        this.azureFlowLogsIntegrationRequest = azureFlowLogsIntegrationRequest;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public UpdateAzureFlowLogsMonitoringIntegrationRequest build() {
        return new UpdateAzureFlowLogsMonitoringIntegrationRequest(this);
      }
    }
  }

  /**
   * Update Azure inventory monitoring integration
   * Updates an existing Azure inventory monitoring integration.
   * @param request operation parameters (required)
   * @return AzureMonitoringIntegration
   * @throws ApiException if fails to make API call
   */
  public AzureMonitoringIntegration updateAzureInventoryMonitoringIntegration(UpdateAzureInventoryMonitoringIntegrationRequest request) throws ApiException {
    ApiResponse<AzureMonitoringIntegration> response = updateAzureInventoryMonitoringIntegrationWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Update Azure inventory monitoring integration
   * Updates an existing Azure inventory monitoring integration.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AzureMonitoringIntegration&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AzureMonitoringIntegration> updateAzureInventoryMonitoringIntegrationWithHttpInfo(UpdateAzureInventoryMonitoringIntegrationRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling updateAzureInventoryMonitoringIntegration");
    }
    updateAzureInventoryMonitoringIntegrationValidateRequest(request.getIntegrationId(), request.getAzureInventoryIntegrationRequest());

    var requestBuilder = updateAzureInventoryMonitoringIntegrationRequestBuilder(request.getIntegrationId(), request.getAzureInventoryIntegrationRequest(), request.getAid());

    return apiClient.send(requestBuilder.build(), AzureMonitoringIntegration.class);
  }

  private void updateAzureInventoryMonitoringIntegrationValidateRequest(UUID integrationId, AzureInventoryIntegrationRequest azureInventoryIntegrationRequest) throws ApiException {
      // verify the required parameter 'integrationId' is set
      if (integrationId == null) {
        throw new ApiException(400, "Missing the required parameter 'integrationId' when calling updateAzureInventoryMonitoringIntegration");
      }
      // verify the required parameter 'azureInventoryIntegrationRequest' is set
      if (azureInventoryIntegrationRequest == null) {
        throw new ApiException(400, "Missing the required parameter 'azureInventoryIntegrationRequest' when calling updateAzureInventoryMonitoringIntegration");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder updateAzureInventoryMonitoringIntegrationRequestBuilder(UUID integrationId, AzureInventoryIntegrationRequest azureInventoryIntegrationRequest, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("PUT");

    String path = "/cloud-insights/integration/azure/inventory/{integrationId}"
        .replace("{integrationId}", urlEncode(integrationId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(azureInventoryIntegrationRequest);
    return requestBuilder;
  }

  public static final class UpdateAzureInventoryMonitoringIntegrationRequest {
    private final UUID integrationId;
    private final AzureInventoryIntegrationRequest azureInventoryIntegrationRequest;
    private final String aid;

    private UpdateAzureInventoryMonitoringIntegrationRequest(Builder builder) {
      this.integrationId = builder.integrationId;
      this.azureInventoryIntegrationRequest = builder.azureInventoryIntegrationRequest;
      this.aid = builder.aid;
    }
    public UUID getIntegrationId() {
      return integrationId;
    }
    public AzureInventoryIntegrationRequest getAzureInventoryIntegrationRequest() {
      return azureInventoryIntegrationRequest;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .integrationId(integrationId)
          .azureInventoryIntegrationRequest(azureInventoryIntegrationRequest)
          .aid(aid);
    }

    public static final class Builder {
      private UUID integrationId;
      private AzureInventoryIntegrationRequest azureInventoryIntegrationRequest;
      private String aid;

      public Builder integrationId(UUID integrationId) {
        this.integrationId = integrationId;
        return this;
      }
      public Builder azureInventoryIntegrationRequest(AzureInventoryIntegrationRequest azureInventoryIntegrationRequest) {
        this.azureInventoryIntegrationRequest = azureInventoryIntegrationRequest;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public UpdateAzureInventoryMonitoringIntegrationRequest build() {
        return new UpdateAzureInventoryMonitoringIntegrationRequest(this);
      }
    }
  }

}
