/*
 * Cloud Insights Integrations API
 * **Note:** All Cloud Insights APIs are not available for ThousandEyes for Government instance.  The Cloud Insights Integrations API lets you programmatically manage **AWS** and **Azure** monitoring integrations in ThousandEyes.   ### What You Can Do  - **List** all integrations.  - **Get** details for a specific integration.  - **Delete** an existing integration.  - **Create** integrations for:    - **AWS**: inventory monitoring and flow logs monitoring.      - **Azure**: inventory monitoring and flow logs monitoring.  - **Update** integrations for:    - **Azure**: inventory monitoring and flow logs monitoring.    - **Fetch AWS IAM policy documents** required to configure AWS inventory and flow-logs integrations.  - **Retrieve** the current AWS and Azure integration policy settings to understand which AWS and Azure resource groups, AWS regions, Azure subscription rules are enabled and whether CloudTrail is enabled for Cloud Insights for inventory monitoring.  - **Update** policy settings to change the approved AWS resource groups, AWS regions, and Azure subscription rules that ThousandEyes should inventory.   ### Scope and Tenancy  All operations are scoped to the authenticated account group. Responses include only resources associated with that group.   ### Payloads and formats  - **Requests:** `application/json`  - **Responses:** primarily `application/hal+json` for resource representations and `application/json` for policy documents.  - HAL responses include `_links` with a `self` relation for direct navigation.   ### Integration Types  - **Inventory monitoring**    - AWS: reads inventory and network topology via read-only IAM permissions.      - Azure: authenticates with a Service Principal to read inventory and network topology.    - **Flow logs monitoring**    - AWS: reads flow logs from S3 buckets and uses SNS for notifications.      - Azure: reads flow logs via **Service Bus Queue** (`serviceBusQueueUrl`).     ### Policy Helpers (AWS)  Dedicated endpoints return **Trusted Policy**, **Permissions Policy**, and **SNS Topic Access Policy** documents to simplify role setup for inventory and flow logs integrations.   ### Notes  - All example values in this specification are **fictitious**.   For more information about Cloud Insights, see [Cloud Insights](https://docs.thousandeyes.com/product-documentation/cloud-insights). 
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.cloudinsights.integrations;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.cloudinsights.integrations.model.AwsIntegrationPolicySetting;
import com.thousandeyes.sdk.cloudinsights.integrations.model.AzureIntegrationPolicySetting;
import com.thousandeyes.sdk.cloudinsights.integrations.model.Error;
import com.thousandeyes.sdk.cloudinsights.integrations.model.UnauthorizedError;
import com.thousandeyes.sdk.cloudinsights.integrations.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class CloudInsightsIntegrationPolicySettingsApi {
  private final ApiClient apiClient;

  public CloudInsightsIntegrationPolicySettingsApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Get AWS integration policy settings
   * Retrieves the AWS integration policy settings for the authenticated account group. Use this endpoint to audit which AWS resource group types and AWS regions are enabled, and whether CloudTrail is enabled, for Cloud Insights inventory monitoring. 
   * @param request operation parameters (required)
   * @return AwsIntegrationPolicySetting
   * @throws ApiException if fails to make API call
   */
  public AwsIntegrationPolicySetting getAWSIntegrationPolicySettings(GetAWSIntegrationPolicySettingsRequest request) throws ApiException {
    ApiResponse<AwsIntegrationPolicySetting> response = getAWSIntegrationPolicySettingsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Get AWS integration policy settings
   * Retrieves the AWS integration policy settings for the authenticated account group. Use this endpoint to audit which AWS resource group types and AWS regions are enabled, and whether CloudTrail is enabled, for Cloud Insights inventory monitoring. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AwsIntegrationPolicySetting&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AwsIntegrationPolicySetting> getAWSIntegrationPolicySettingsWithHttpInfo(GetAWSIntegrationPolicySettingsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAWSIntegrationPolicySettings");
    }
    getAWSIntegrationPolicySettingsValidateRequest();

    var requestBuilder = getAWSIntegrationPolicySettingsRequestBuilder(request.getAid());

    return apiClient.send(requestBuilder.build(), AwsIntegrationPolicySetting.class);
  }

  private void getAWSIntegrationPolicySettingsValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAWSIntegrationPolicySettingsRequestBuilder(String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/cloud-insights/integration/aws/policy/settings";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAWSIntegrationPolicySettingsRequest {
    private final String aid;

    private GetAWSIntegrationPolicySettingsRequest(Builder builder) {
      this.aid = builder.aid;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid);
    }

    public static final class Builder {
      private String aid;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetAWSIntegrationPolicySettingsRequest build() {
        return new GetAWSIntegrationPolicySettingsRequest(this);
      }
    }
  }

  /**
   * Get Azure integration policy settings
   * Retrieves the Azure integration policy settings for the authenticated account group. Use this endpoint to review which Azure resource group types are monitored and inspect the subscriptions policy rules that gate which subscriptions ThousandEyes inventories. 
   * @param request operation parameters (required)
   * @return AzureIntegrationPolicySetting
   * @throws ApiException if fails to make API call
   */
  public AzureIntegrationPolicySetting getAzureIntegrationPolicySettings(GetAzureIntegrationPolicySettingsRequest request) throws ApiException {
    ApiResponse<AzureIntegrationPolicySetting> response = getAzureIntegrationPolicySettingsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Get Azure integration policy settings
   * Retrieves the Azure integration policy settings for the authenticated account group. Use this endpoint to review which Azure resource group types are monitored and inspect the subscriptions policy rules that gate which subscriptions ThousandEyes inventories. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AzureIntegrationPolicySetting&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AzureIntegrationPolicySetting> getAzureIntegrationPolicySettingsWithHttpInfo(GetAzureIntegrationPolicySettingsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAzureIntegrationPolicySettings");
    }
    getAzureIntegrationPolicySettingsValidateRequest();

    var requestBuilder = getAzureIntegrationPolicySettingsRequestBuilder(request.getAid());

    return apiClient.send(requestBuilder.build(), AzureIntegrationPolicySetting.class);
  }

  private void getAzureIntegrationPolicySettingsValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAzureIntegrationPolicySettingsRequestBuilder(String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/cloud-insights/integration/azure/policy/settings";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAzureIntegrationPolicySettingsRequest {
    private final String aid;

    private GetAzureIntegrationPolicySettingsRequest(Builder builder) {
      this.aid = builder.aid;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid);
    }

    public static final class Builder {
      private String aid;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetAzureIntegrationPolicySettingsRequest build() {
        return new GetAzureIntegrationPolicySettingsRequest(this);
      }
    }
  }

  /**
   * Update AWS integration policy settings
   * Updates the AWS integration policy settings for the authenticated account group. This endpoint lets you enable or disable specific AWS resource group types, adjust the set of AWS regions to inventory, and control whether CloudTrail is enabled for inventory monitoring. 
   * @param request operation parameters (required)
   * @return AwsIntegrationPolicySetting
   * @throws ApiException if fails to make API call
   */
  public AwsIntegrationPolicySetting updateAWSIntegrationPolicySettings(UpdateAWSIntegrationPolicySettingsRequest request) throws ApiException {
    ApiResponse<AwsIntegrationPolicySetting> response = updateAWSIntegrationPolicySettingsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Update AWS integration policy settings
   * Updates the AWS integration policy settings for the authenticated account group. This endpoint lets you enable or disable specific AWS resource group types, adjust the set of AWS regions to inventory, and control whether CloudTrail is enabled for inventory monitoring. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AwsIntegrationPolicySetting&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AwsIntegrationPolicySetting> updateAWSIntegrationPolicySettingsWithHttpInfo(UpdateAWSIntegrationPolicySettingsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling updateAWSIntegrationPolicySettings");
    }
    updateAWSIntegrationPolicySettingsValidateRequest(request.getAwsIntegrationPolicySetting());

    var requestBuilder = updateAWSIntegrationPolicySettingsRequestBuilder(request.getAwsIntegrationPolicySetting(), request.getAid());

    return apiClient.send(requestBuilder.build(), AwsIntegrationPolicySetting.class);
  }

  private void updateAWSIntegrationPolicySettingsValidateRequest(AwsIntegrationPolicySetting awsIntegrationPolicySetting) throws ApiException {
      // verify the required parameter 'awsIntegrationPolicySetting' is set
      if (awsIntegrationPolicySetting == null) {
        throw new ApiException(400, "Missing the required parameter 'awsIntegrationPolicySetting' when calling updateAWSIntegrationPolicySettings");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder updateAWSIntegrationPolicySettingsRequestBuilder(AwsIntegrationPolicySetting awsIntegrationPolicySetting, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("PUT");

    String path = "/cloud-insights/integration/aws/policy/settings";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(awsIntegrationPolicySetting);
    return requestBuilder;
  }

  public static final class UpdateAWSIntegrationPolicySettingsRequest {
    private final AwsIntegrationPolicySetting awsIntegrationPolicySetting;
    private final String aid;

    private UpdateAWSIntegrationPolicySettingsRequest(Builder builder) {
      this.awsIntegrationPolicySetting = builder.awsIntegrationPolicySetting;
      this.aid = builder.aid;
    }
    public AwsIntegrationPolicySetting getAwsIntegrationPolicySetting() {
      return awsIntegrationPolicySetting;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .awsIntegrationPolicySetting(awsIntegrationPolicySetting)
          .aid(aid);
    }

    public static final class Builder {
      private AwsIntegrationPolicySetting awsIntegrationPolicySetting;
      private String aid;

      public Builder awsIntegrationPolicySetting(AwsIntegrationPolicySetting awsIntegrationPolicySetting) {
        this.awsIntegrationPolicySetting = awsIntegrationPolicySetting;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public UpdateAWSIntegrationPolicySettingsRequest build() {
        return new UpdateAWSIntegrationPolicySettingsRequest(this);
      }
    }
  }

  /**
   * Update Azure integration policy settings
   * Updates the Azure integration policy settings for the authenticated account group. This endpoint lets you enable or disable Azure resource group types and manage the subscriptions policy (rules plus default action) that controls which Azure subscriptions are inventoried. 
   * @param request operation parameters (required)
   * @return AzureIntegrationPolicySetting
   * @throws ApiException if fails to make API call
   */
  public AzureIntegrationPolicySetting updateAzureIntegrationPolicySettings(UpdateAzureIntegrationPolicySettingsRequest request) throws ApiException {
    ApiResponse<AzureIntegrationPolicySetting> response = updateAzureIntegrationPolicySettingsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Update Azure integration policy settings
   * Updates the Azure integration policy settings for the authenticated account group. This endpoint lets you enable or disable Azure resource group types and manage the subscriptions policy (rules plus default action) that controls which Azure subscriptions are inventoried. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AzureIntegrationPolicySetting&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AzureIntegrationPolicySetting> updateAzureIntegrationPolicySettingsWithHttpInfo(UpdateAzureIntegrationPolicySettingsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling updateAzureIntegrationPolicySettings");
    }
    updateAzureIntegrationPolicySettingsValidateRequest(request.getAzureIntegrationPolicySetting());

    var requestBuilder = updateAzureIntegrationPolicySettingsRequestBuilder(request.getAzureIntegrationPolicySetting(), request.getAid());

    return apiClient.send(requestBuilder.build(), AzureIntegrationPolicySetting.class);
  }

  private void updateAzureIntegrationPolicySettingsValidateRequest(AzureIntegrationPolicySetting azureIntegrationPolicySetting) throws ApiException {
      // verify the required parameter 'azureIntegrationPolicySetting' is set
      if (azureIntegrationPolicySetting == null) {
        throw new ApiException(400, "Missing the required parameter 'azureIntegrationPolicySetting' when calling updateAzureIntegrationPolicySettings");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder updateAzureIntegrationPolicySettingsRequestBuilder(AzureIntegrationPolicySetting azureIntegrationPolicySetting, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("PUT");

    String path = "/cloud-insights/integration/azure/policy/settings";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(azureIntegrationPolicySetting);
    return requestBuilder;
  }

  public static final class UpdateAzureIntegrationPolicySettingsRequest {
    private final AzureIntegrationPolicySetting azureIntegrationPolicySetting;
    private final String aid;

    private UpdateAzureIntegrationPolicySettingsRequest(Builder builder) {
      this.azureIntegrationPolicySetting = builder.azureIntegrationPolicySetting;
      this.aid = builder.aid;
    }
    public AzureIntegrationPolicySetting getAzureIntegrationPolicySetting() {
      return azureIntegrationPolicySetting;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .azureIntegrationPolicySetting(azureIntegrationPolicySetting)
          .aid(aid);
    }

    public static final class Builder {
      private AzureIntegrationPolicySetting azureIntegrationPolicySetting;
      private String aid;

      public Builder azureIntegrationPolicySetting(AzureIntegrationPolicySetting azureIntegrationPolicySetting) {
        this.azureIntegrationPolicySetting = azureIntegrationPolicySetting;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public UpdateAzureIntegrationPolicySettingsRequest build() {
        return new UpdateAzureIntegrationPolicySettingsRequest(this);
      }
    }
  }

}
