/*
 * Agents API
 *  ## Overview Manage Cloud and Enterprise Agents available to your account in ThousandEyes.
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.agents;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.agents.model.AgentProxies;
import com.thousandeyes.sdk.agents.model.Error;
import com.thousandeyes.sdk.agents.model.UnauthorizedError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class AgentProxiesApi {
  private final ApiClient apiClient;

  public AgentProxiesApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * List Enterprise Agent Proxies
   * List all enterprise agent proxies available under the account group. 
   * @param request operation parameters (required)
   * @return AgentProxies
   * @throws ApiException if fails to make API call
   */
  public AgentProxies getAgentsProxies(GetAgentsProxiesRequest request) throws ApiException {
    ApiResponse<AgentProxies> response = getAgentsProxiesWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List Enterprise Agent Proxies
   * List all enterprise agent proxies available under the account group. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AgentProxies&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AgentProxies> getAgentsProxiesWithHttpInfo(GetAgentsProxiesRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAgentsProxies");
    }
    getAgentsProxiesValidateRequest();

    var requestBuilder = getAgentsProxiesRequestBuilder(request.getAid());

    return apiClient.send(requestBuilder.build(), AgentProxies.class);
  }

  private void getAgentsProxiesValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAgentsProxiesRequestBuilder(String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/agents/proxies";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAgentsProxiesRequest {
    private final String aid;

    private GetAgentsProxiesRequest(Builder builder) {
      this.aid = builder.aid;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid);
    }

    public static final class Builder {
      private String aid;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetAgentsProxiesRequest build() {
        return new GetAgentsProxiesRequest(this);
      }
    }
  }

}
