/*
 * Agents API
 *  ## Overview Manage Cloud and Enterprise Agents available to your account in ThousandEyes.
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.agents;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.agents.model.AgentDetails;
import com.thousandeyes.sdk.agents.model.AgentDetailsExpand;
import com.thousandeyes.sdk.agents.model.AgentListExpand;
import com.thousandeyes.sdk.agents.model.AgentRequest;
import com.thousandeyes.sdk.agents.model.CloudEnterpriseAgentType;
import com.thousandeyes.sdk.agents.model.CloudEnterpriseAgents;
import com.thousandeyes.sdk.agents.model.Error;
import com.thousandeyes.sdk.agents.model.UnauthorizedError;
import com.thousandeyes.sdk.agents.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class CloudAndEnterpriseAgentsApi {
  private final ApiClient apiClient;

  public CloudAndEnterpriseAgentsApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Delete Enterprise Agent
   * Deletes an Enterprise Agent.  Important notes related to agent removal: * If an agent is deleted, the modification date for tests using that agent at the time it was deleted will be changed. * If a deleted agent is the final remaining agent on a test, then the test will be disabled when the agent is removed. * If an agent is removed, it must be re-initialized to use the same machine again in different context. Virtual Appliances can be updated using the Reset State button in the Advanced tab of the agent management interface. Users running packaged versions of Linux will need to remove /var/lib/te-agent/\\*.sqlite in order to reinitialize an agent.
   * @param request operation parameters (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteAgent(DeleteAgentRequest request) throws ApiException {
    deleteAgentWithHttpInfo(request);
  }

  /**
   * Delete Enterprise Agent
   * Deletes an Enterprise Agent.  Important notes related to agent removal: * If an agent is deleted, the modification date for tests using that agent at the time it was deleted will be changed. * If a deleted agent is the final remaining agent on a test, then the test will be disabled when the agent is removed. * If an agent is removed, it must be re-initialized to use the same machine again in different context. Virtual Appliances can be updated using the Reset State button in the Advanced tab of the agent management interface. Users running packaged versions of Linux will need to remove /var/lib/te-agent/\\*.sqlite in order to reinitialize an agent.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteAgentWithHttpInfo(DeleteAgentRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling deleteAgent");
    }
    deleteAgentValidateRequest(request.getAgentId());

    var requestBuilder = deleteAgentRequestBuilder(request.getAgentId(), request.getAid());

    return apiClient.send(requestBuilder.build(), Void.class);
  }

  private void deleteAgentValidateRequest(String agentId) throws ApiException {
      // verify the required parameter 'agentId' is set
      if (agentId == null) {
        throw new ApiException(400, "Missing the required parameter 'agentId' when calling deleteAgent");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder deleteAgentRequestBuilder(String agentId, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("DELETE");

    String path = "/agents/{agentId}"
        .replace("{agentId}", urlEncode(agentId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class DeleteAgentRequest {
    private final String agentId;
    private final String aid;

    private DeleteAgentRequest(Builder builder) {
      this.agentId = builder.agentId;
      this.aid = builder.aid;
    }
    public String getAgentId() {
      return agentId;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .agentId(agentId)
          .aid(aid);
    }

    public static final class Builder {
      private String agentId;
      private String aid;

      public Builder agentId(String agentId) {
        this.agentId = agentId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public DeleteAgentRequest build() {
        return new DeleteAgentRequest(this);
      }
    }
  }

  /**
   * Retrieve Cloud and Enterprise Agent
   * Returns details for an agent, including assigned tests.  For Enterprise Agents, this operation returns additional details, including utilization data, assigned accounts, a list of account groups the agent is assigned to, and utilization details. 
   * @param request operation parameters (required)
   * @return AgentDetails
   * @throws ApiException if fails to make API call
   */
  public AgentDetails getAgent(GetAgentRequest request) throws ApiException {
    ApiResponse<AgentDetails> response = getAgentWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Retrieve Cloud and Enterprise Agent
   * Returns details for an agent, including assigned tests.  For Enterprise Agents, this operation returns additional details, including utilization data, assigned accounts, a list of account groups the agent is assigned to, and utilization details. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AgentDetails&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AgentDetails> getAgentWithHttpInfo(GetAgentRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAgent");
    }
    getAgentValidateRequest(request.getAgentId());

    var requestBuilder = getAgentRequestBuilder(request.getAgentId(), request.getAid(), request.getExpand());

    return apiClient.send(requestBuilder.build(), AgentDetails.class);
  }

  private void getAgentValidateRequest(String agentId) throws ApiException {
      // verify the required parameter 'agentId' is set
      if (agentId == null) {
        throw new ApiException(400, "Missing the required parameter 'agentId' when calling getAgent");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAgentRequestBuilder(String agentId, String aid, List<AgentDetailsExpand> expand) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/agents/{agentId}"
        .replace("{agentId}", urlEncode(agentId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("csv", "expand", expand));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAgentRequest {
    private final String agentId;
    private final String aid;
    private final List<AgentDetailsExpand> expand;

    private GetAgentRequest(Builder builder) {
      this.agentId = builder.agentId;
      this.aid = builder.aid;
      this.expand = builder.expand;
    }
    public String getAgentId() {
      return agentId;
    }
    public String getAid() {
      return aid;
    }
    public List<AgentDetailsExpand> getExpand() {
      return expand;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .agentId(agentId)
          .aid(aid)
          .expand(expand);
    }

    public static final class Builder {
      private String agentId;
      private String aid;
      private List<AgentDetailsExpand> expand;

      public Builder agentId(String agentId) {
        this.agentId = agentId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder expand(List<AgentDetailsExpand> expand) {
        this.expand = expand;
        return this;
      }
      public GetAgentRequest build() {
        return new GetAgentRequest(this);
      }
    }
  }

  /**
   * List Cloud and Enterprise Agents
   * List the Cloud and Enterprise Agents available to your account in ThousandEyes.  If an agent is an Enterprise Agent, this operation returns the agent’s public and private IP addresses, as well as the public network where the agent is located. 
   * @param request operation parameters (required)
   * @return CloudEnterpriseAgents
   * @throws ApiException if fails to make API call
   */
  public CloudEnterpriseAgents getAgents(GetAgentsRequest request) throws ApiException {
    ApiResponse<CloudEnterpriseAgents> response = getAgentsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List Cloud and Enterprise Agents
   * List the Cloud and Enterprise Agents available to your account in ThousandEyes.  If an agent is an Enterprise Agent, this operation returns the agent’s public and private IP addresses, as well as the public network where the agent is located. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;CloudEnterpriseAgents&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CloudEnterpriseAgents> getAgentsWithHttpInfo(GetAgentsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAgents");
    }
    getAgentsValidateRequest();

    var requestBuilder = getAgentsRequestBuilder(request.getAid(), request.getExpand(), request.getAgentTypes(), request.getLabels(), request.getTagKeys());

    return apiClient.send(requestBuilder.build(), CloudEnterpriseAgents.class);
  }

  private void getAgentsValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAgentsRequestBuilder(String aid, List<AgentListExpand> expand, List<CloudEnterpriseAgentType> agentTypes, List<String> labels, List<String> tagKeys) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/agents";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("csv", "expand", expand));
    localVarQueryParams.addAll(parameterToPairs("csv", "agentTypes", agentTypes));
    localVarQueryParams.addAll(parameterToPairs("csv", "labels", labels));
    localVarQueryParams.addAll(parameterToPairs("csv", "tagKeys", tagKeys));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAgentsRequest {
    private final String aid;
    private final List<AgentListExpand> expand;
    private final List<CloudEnterpriseAgentType> agentTypes;
    private final List<String> labels;
    private final List<String> tagKeys;

    private GetAgentsRequest(Builder builder) {
      this.aid = builder.aid;
      this.expand = builder.expand;
      this.agentTypes = builder.agentTypes;
      this.labels = builder.labels;
      this.tagKeys = builder.tagKeys;
    }
    public String getAid() {
      return aid;
    }
    public List<AgentListExpand> getExpand() {
      return expand;
    }
    public List<CloudEnterpriseAgentType> getAgentTypes() {
      return agentTypes;
    }
    public List<String> getLabels() {
      return labels;
    }
    public List<String> getTagKeys() {
      return tagKeys;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid)
          .expand(expand)
          .agentTypes(agentTypes)
          .labels(labels)
          .tagKeys(tagKeys);
    }

    public static final class Builder {
      private String aid;
      private List<AgentListExpand> expand;
      private List<CloudEnterpriseAgentType> agentTypes;
      private List<String> labels;
      private List<String> tagKeys;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder expand(List<AgentListExpand> expand) {
        this.expand = expand;
        return this;
      }
      public Builder agentTypes(List<CloudEnterpriseAgentType> agentTypes) {
        this.agentTypes = agentTypes;
        return this;
      }
      public Builder labels(List<String> labels) {
        this.labels = labels;
        return this;
      }
      public Builder tagKeys(List<String> tagKeys) {
        this.tagKeys = tagKeys;
        return this;
      }
      public GetAgentsRequest build() {
        return new GetAgentsRequest(this);
      }
    }
  }

  /**
   * Update Enterprise Agent
   * Updates details for an Enterprise Agent. This operation can only be used for Enterprise Agents, and only for users in a role that permits modification of Enterprise Agents.  Important notes related to agent modification on tests: * if an agent is removed from a test, the modification date for tests using that agent at the time it was removed will be changed. * If an agent is removed from an entire account group, then all tests using this agent in the removed account group will be updated to reflect the removed agent. * If a removed agent is the final remaining agent on a test, then the test will be disabled when the agent is removed.  Users can update the following fields: * &#x60;agentName&#x60;: String representation of an agent. No two agents can have the same display name. * &#x60;enabled&#x60;: Boolean representation of agent state. * &#x60;accountGroups&#x60;: An array of account group ids. See &#x60;v7/account-groups&#x60; to pull a list of account IDs. * &#x60;tests&#x60;: An array of test Is. See &#x60;v7/tests&#x60; to retrieve a list tests available in the current account context. * &#x60;ipv6Policy&#x60;: Enum representation of the IP version policy. * &#x60;keepBrowserCache&#x60;: Boolean representation of the Keep browser cache state. * &#x60;targetForTests&#x60;: String representation of the target IP address or domain name. This represents the test destination when agent is acting as a test target in an agent-to-agent test. * &#x60;localResolutionPrefixes&#x60;: This array of strings represents the public IP ranges where the Enterprise Agent performs rDNS (Reverse DNS) lookups. The range should be in CIDR notation, such as &#x60;10.1.1.0/24&#x60;. Please note that a maximum of 5 prefixes is allowed. This only applies to Enterprise Agents and Enterprise Agent clusters.
   * @param request operation parameters (required)
   * @return AgentDetails
   * @throws ApiException if fails to make API call
   */
  public AgentDetails updateAgent(UpdateAgentRequest request) throws ApiException {
    ApiResponse<AgentDetails> response = updateAgentWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Update Enterprise Agent
   * Updates details for an Enterprise Agent. This operation can only be used for Enterprise Agents, and only for users in a role that permits modification of Enterprise Agents.  Important notes related to agent modification on tests: * if an agent is removed from a test, the modification date for tests using that agent at the time it was removed will be changed. * If an agent is removed from an entire account group, then all tests using this agent in the removed account group will be updated to reflect the removed agent. * If a removed agent is the final remaining agent on a test, then the test will be disabled when the agent is removed.  Users can update the following fields: * &#x60;agentName&#x60;: String representation of an agent. No two agents can have the same display name. * &#x60;enabled&#x60;: Boolean representation of agent state. * &#x60;accountGroups&#x60;: An array of account group ids. See &#x60;v7/account-groups&#x60; to pull a list of account IDs. * &#x60;tests&#x60;: An array of test Is. See &#x60;v7/tests&#x60; to retrieve a list tests available in the current account context. * &#x60;ipv6Policy&#x60;: Enum representation of the IP version policy. * &#x60;keepBrowserCache&#x60;: Boolean representation of the Keep browser cache state. * &#x60;targetForTests&#x60;: String representation of the target IP address or domain name. This represents the test destination when agent is acting as a test target in an agent-to-agent test. * &#x60;localResolutionPrefixes&#x60;: This array of strings represents the public IP ranges where the Enterprise Agent performs rDNS (Reverse DNS) lookups. The range should be in CIDR notation, such as &#x60;10.1.1.0/24&#x60;. Please note that a maximum of 5 prefixes is allowed. This only applies to Enterprise Agents and Enterprise Agent clusters.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AgentDetails&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AgentDetails> updateAgentWithHttpInfo(UpdateAgentRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling updateAgent");
    }
    updateAgentValidateRequest(request.getAgentId(), request.getAgentRequest());

    var requestBuilder = updateAgentRequestBuilder(request.getAgentId(), request.getAgentRequest(), request.getAid(), request.getExpand());

    return apiClient.send(requestBuilder.build(), AgentDetails.class);
  }

  private void updateAgentValidateRequest(String agentId, AgentRequest agentRequest) throws ApiException {
      // verify the required parameter 'agentId' is set
      if (agentId == null) {
        throw new ApiException(400, "Missing the required parameter 'agentId' when calling updateAgent");
      }
      // verify the required parameter 'agentRequest' is set
      if (agentRequest == null) {
        throw new ApiException(400, "Missing the required parameter 'agentRequest' when calling updateAgent");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder updateAgentRequestBuilder(String agentId, AgentRequest agentRequest, String aid, List<AgentDetailsExpand> expand) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("PUT");

    String path = "/agents/{agentId}"
        .replace("{agentId}", urlEncode(agentId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("csv", "expand", expand));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(agentRequest);
    return requestBuilder;
  }

  public static final class UpdateAgentRequest {
    private final String agentId;
    private final AgentRequest agentRequest;
    private final String aid;
    private final List<AgentDetailsExpand> expand;

    private UpdateAgentRequest(Builder builder) {
      this.agentId = builder.agentId;
      this.agentRequest = builder.agentRequest;
      this.aid = builder.aid;
      this.expand = builder.expand;
    }
    public String getAgentId() {
      return agentId;
    }
    public AgentRequest getAgentRequest() {
      return agentRequest;
    }
    public String getAid() {
      return aid;
    }
    public List<AgentDetailsExpand> getExpand() {
      return expand;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .agentId(agentId)
          .agentRequest(agentRequest)
          .aid(aid)
          .expand(expand);
    }

    public static final class Builder {
      private String agentId;
      private AgentRequest agentRequest;
      private String aid;
      private List<AgentDetailsExpand> expand;

      public Builder agentId(String agentId) {
        this.agentId = agentId;
        return this;
      }
      public Builder agentRequest(AgentRequest agentRequest) {
        this.agentRequest = agentRequest;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder expand(List<AgentDetailsExpand> expand) {
        this.expand = expand;
        return this;
      }
      public UpdateAgentRequest build() {
        return new UpdateAgentRequest(this);
      }
    }
  }

}
