/*
 * Agents API
 *  ## Overview Manage Cloud and Enterprise Agents available to your account in ThousandEyes.
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.agents;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.agents.model.Error;
import com.thousandeyes.sdk.agents.model.ListNotificationRulesResponse;
import com.thousandeyes.sdk.agents.model.NotificationRuleDetail;
import com.thousandeyes.sdk.agents.model.UnauthorizedError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class CloudAndEnterpriseAgentNotificationRulesApi {
  private final ApiClient apiClient;

  public CloudAndEnterpriseAgentNotificationRulesApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Retrieve agent notification rule
   * Returns details of an agent notification rule, including agents it is assigned to. 
   * @param request operation parameters (required)
   * @return NotificationRuleDetail
   * @throws ApiException if fails to make API call
   */
  public NotificationRuleDetail getAgentsNotificationRule(GetAgentsNotificationRuleRequest request) throws ApiException {
    ApiResponse<NotificationRuleDetail> response = getAgentsNotificationRuleWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Retrieve agent notification rule
   * Returns details of an agent notification rule, including agents it is assigned to. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;NotificationRuleDetail&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<NotificationRuleDetail> getAgentsNotificationRuleWithHttpInfo(GetAgentsNotificationRuleRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAgentsNotificationRule");
    }
    getAgentsNotificationRuleValidateRequest(request.getNotificationRuleId());

    var requestBuilder = getAgentsNotificationRuleRequestBuilder(request.getNotificationRuleId(), request.getAid());

    return apiClient.send(requestBuilder.build(), NotificationRuleDetail.class);
  }

  private void getAgentsNotificationRuleValidateRequest(String notificationRuleId) throws ApiException {
      // verify the required parameter 'notificationRuleId' is set
      if (notificationRuleId == null) {
        throw new ApiException(400, "Missing the required parameter 'notificationRuleId' when calling getAgentsNotificationRule");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAgentsNotificationRuleRequestBuilder(String notificationRuleId, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/agents/notification-rules/{notificationRuleId}"
        .replace("{notificationRuleId}", urlEncode(notificationRuleId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAgentsNotificationRuleRequest {
    private final String notificationRuleId;
    private final String aid;

    private GetAgentsNotificationRuleRequest(Builder builder) {
      this.notificationRuleId = builder.notificationRuleId;
      this.aid = builder.aid;
    }
    public String getNotificationRuleId() {
      return notificationRuleId;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .notificationRuleId(notificationRuleId)
          .aid(aid);
    }

    public static final class Builder {
      private String notificationRuleId;
      private String aid;

      public Builder notificationRuleId(String notificationRuleId) {
        this.notificationRuleId = notificationRuleId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetAgentsNotificationRuleRequest build() {
        return new GetAgentsNotificationRuleRequest(this);
      }
    }
  }

  /**
   * List agent notification rules
   * Returns a list of all agent notification rules configured under the account.
   * @param request operation parameters (required)
   * @return ListNotificationRulesResponse
   * @throws ApiException if fails to make API call
   */
  public ListNotificationRulesResponse getAgentsNotificationRules(GetAgentsNotificationRulesRequest request) throws ApiException {
    ApiResponse<ListNotificationRulesResponse> response = getAgentsNotificationRulesWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List agent notification rules
   * Returns a list of all agent notification rules configured under the account.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;ListNotificationRulesResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ListNotificationRulesResponse> getAgentsNotificationRulesWithHttpInfo(GetAgentsNotificationRulesRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAgentsNotificationRules");
    }
    getAgentsNotificationRulesValidateRequest();

    var requestBuilder = getAgentsNotificationRulesRequestBuilder(request.getAid());

    return apiClient.send(requestBuilder.build(), ListNotificationRulesResponse.class);
  }

  private void getAgentsNotificationRulesValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAgentsNotificationRulesRequestBuilder(String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/agents/notification-rules";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAgentsNotificationRulesRequest {
    private final String aid;

    private GetAgentsNotificationRulesRequest(Builder builder) {
      this.aid = builder.aid;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid);
    }

    public static final class Builder {
      private String aid;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetAgentsNotificationRulesRequest build() {
        return new GetAgentsNotificationRulesRequest(this);
      }
    }
  }

}
