/*
 * Agents API
 *  ## Overview Manage Cloud and Enterprise Agents available to your account in ThousandEyes.
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.agents;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.agents.model.Error;
import com.thousandeyes.sdk.agents.model.LocalProblemAgentResults;
import java.time.OffsetDateTime;
import com.thousandeyes.sdk.agents.model.UnauthorizedError;
import com.thousandeyes.sdk.agents.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class LocalProblemsApi {
  private final ApiClient apiClient;

  public LocalProblemsApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * List Cloud agents with local problems
   * Returns local problem intervals for Cloud Agents available to your account in ThousandEyes. FedRAMP Cloud Agents are not included. Local problems indicate agent-side impairment detected by ThousandEyes and do not indicate that a monitored target or service was down.  If no time range is specified, this operation returns active local problems. 
   * @param request operation parameters (required)
   * @return LocalProblemAgentResults
   * @throws ApiException if fails to make API call
   */
  public LocalProblemAgentResults getAgentsLocalProblems(GetAgentsLocalProblemsRequest request) throws ApiException {
    ApiResponse<LocalProblemAgentResults> response = getAgentsLocalProblemsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List Cloud agents with local problems
   * Returns local problem intervals for Cloud Agents available to your account in ThousandEyes. FedRAMP Cloud Agents are not included. Local problems indicate agent-side impairment detected by ThousandEyes and do not indicate that a monitored target or service was down.  If no time range is specified, this operation returns active local problems. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;LocalProblemAgentResults&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LocalProblemAgentResults> getAgentsLocalProblemsWithHttpInfo(GetAgentsLocalProblemsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAgentsLocalProblems");
    }
    getAgentsLocalProblemsValidateRequest();

    var requestBuilder = getAgentsLocalProblemsRequestBuilder(request.getAid(), request.getWindow(), request.getStartDate(), request.getEndDate());

    return apiClient.send(requestBuilder.build(), LocalProblemAgentResults.class);
  }

  private void getAgentsLocalProblemsValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAgentsLocalProblemsRequestBuilder(String aid, String window, OffsetDateTime startDate, OffsetDateTime endDate) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/agents/local-problems";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("window", window));
    localVarQueryParams.addAll(parameterToPairs("startDate", startDate));
    localVarQueryParams.addAll(parameterToPairs("endDate", endDate));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAgentsLocalProblemsRequest {
    private final String aid;
    private final String window;
    private final OffsetDateTime startDate;
    private final OffsetDateTime endDate;

    private GetAgentsLocalProblemsRequest(Builder builder) {
      this.aid = builder.aid;
      this.window = builder.window;
      this.startDate = builder.startDate;
      this.endDate = builder.endDate;
    }
    public String getAid() {
      return aid;
    }
    public String getWindow() {
      return window;
    }
    public OffsetDateTime getStartDate() {
      return startDate;
    }
    public OffsetDateTime getEndDate() {
      return endDate;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid)
          .window(window)
          .startDate(startDate)
          .endDate(endDate);
    }

    public static final class Builder {
      private String aid;
      private String window;
      private OffsetDateTime startDate;
      private OffsetDateTime endDate;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder window(String window) {
        this.window = window;
        return this;
      }
      public Builder startDate(OffsetDateTime startDate) {
        this.startDate = startDate;
        return this;
      }
      public Builder endDate(OffsetDateTime endDate) {
        this.endDate = endDate;
        return this;
      }
      public GetAgentsLocalProblemsRequest build() {
        return new GetAgentsLocalProblemsRequest(this);
      }
    }
  }

}
