/*
 * Agents API
 *  ## Overview Manage Cloud and Enterprise Agents available to your account in ThousandEyes.
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.agents;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.agents.model.AgentDetails;
import com.thousandeyes.sdk.agents.model.AgentTestsAssignRequest;
import com.thousandeyes.sdk.agents.model.Error;
import com.thousandeyes.sdk.agents.model.UnauthorizedError;
import com.thousandeyes.sdk.agents.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class TestsAssignmentOnAgentsApi {
  private final ApiClient apiClient;

  public TestsAssignmentOnAgentsApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Assign tests to an agent
   * Assign tests to a specific Agent. Existing assigned tests are not removed.  **Important notes:**    * The operation fails if the specified agent does not exist.    * If any provided test ID is invalid, the entire operation is canceled.    * Already assigned tests are ignored; other valid tests will be assigned.    * This operation does not overwrite existing assignments.
   * @param request operation parameters (required)
   * @return AgentDetails
   * @throws ApiException if fails to make API call
   */
  public AgentDetails assignTests(AssignTestsRequest request) throws ApiException {
    ApiResponse<AgentDetails> response = assignTestsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Assign tests to an agent
   * Assign tests to a specific Agent. Existing assigned tests are not removed.  **Important notes:**    * The operation fails if the specified agent does not exist.    * If any provided test ID is invalid, the entire operation is canceled.    * Already assigned tests are ignored; other valid tests will be assigned.    * This operation does not overwrite existing assignments.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AgentDetails&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AgentDetails> assignTestsWithHttpInfo(AssignTestsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling assignTests");
    }
    assignTestsValidateRequest(request.getAgentId(), request.getAgentTestsAssignRequest());

    var requestBuilder = assignTestsRequestBuilder(request.getAgentId(), request.getAgentTestsAssignRequest(), request.getAid());

    return apiClient.send(requestBuilder.build(), AgentDetails.class);
  }

  private void assignTestsValidateRequest(String agentId, AgentTestsAssignRequest agentTestsAssignRequest) throws ApiException {
      // verify the required parameter 'agentId' is set
      if (agentId == null) {
        throw new ApiException(400, "Missing the required parameter 'agentId' when calling assignTests");
      }
      // verify the required parameter 'agentTestsAssignRequest' is set
      if (agentTestsAssignRequest == null) {
        throw new ApiException(400, "Missing the required parameter 'agentTestsAssignRequest' when calling assignTests");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder assignTestsRequestBuilder(String agentId, AgentTestsAssignRequest agentTestsAssignRequest, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/agents/{agentId}/tests/assign"
        .replace("{agentId}", urlEncode(agentId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(agentTestsAssignRequest);
    return requestBuilder;
  }

  public static final class AssignTestsRequest {
    private final String agentId;
    private final AgentTestsAssignRequest agentTestsAssignRequest;
    private final String aid;

    private AssignTestsRequest(Builder builder) {
      this.agentId = builder.agentId;
      this.agentTestsAssignRequest = builder.agentTestsAssignRequest;
      this.aid = builder.aid;
    }
    public String getAgentId() {
      return agentId;
    }
    public AgentTestsAssignRequest getAgentTestsAssignRequest() {
      return agentTestsAssignRequest;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .agentId(agentId)
          .agentTestsAssignRequest(agentTestsAssignRequest)
          .aid(aid);
    }

    public static final class Builder {
      private String agentId;
      private AgentTestsAssignRequest agentTestsAssignRequest;
      private String aid;

      public Builder agentId(String agentId) {
        this.agentId = agentId;
        return this;
      }
      public Builder agentTestsAssignRequest(AgentTestsAssignRequest agentTestsAssignRequest) {
        this.agentTestsAssignRequest = agentTestsAssignRequest;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public AssignTestsRequest build() {
        return new AssignTestsRequest(this);
      }
    }
  }

  /**
   * Overwrite tests assigned to an agent
   * Replaces all tests assigned to a specific agent with the new set of test IDs provided.  **Important notes:**    * The operation fails if the specified agent does not exist.    * If any test ID is invalid, the operation is canceled and no changes are made.    * Already assigned tests that are also in the request are ignored.    * Previously assigned tests not included in the request will be removed.
   * @param request operation parameters (required)
   * @return AgentDetails
   * @throws ApiException if fails to make API call
   */
  public AgentDetails overwriteTests(OverwriteTestsRequest request) throws ApiException {
    ApiResponse<AgentDetails> response = overwriteTestsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Overwrite tests assigned to an agent
   * Replaces all tests assigned to a specific agent with the new set of test IDs provided.  **Important notes:**    * The operation fails if the specified agent does not exist.    * If any test ID is invalid, the operation is canceled and no changes are made.    * Already assigned tests that are also in the request are ignored.    * Previously assigned tests not included in the request will be removed.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AgentDetails&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AgentDetails> overwriteTestsWithHttpInfo(OverwriteTestsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling overwriteTests");
    }
    overwriteTestsValidateRequest(request.getAgentId(), request.getAgentTestsAssignRequest());

    var requestBuilder = overwriteTestsRequestBuilder(request.getAgentId(), request.getAgentTestsAssignRequest(), request.getAid());

    return apiClient.send(requestBuilder.build(), AgentDetails.class);
  }

  private void overwriteTestsValidateRequest(String agentId, AgentTestsAssignRequest agentTestsAssignRequest) throws ApiException {
      // verify the required parameter 'agentId' is set
      if (agentId == null) {
        throw new ApiException(400, "Missing the required parameter 'agentId' when calling overwriteTests");
      }
      // verify the required parameter 'agentTestsAssignRequest' is set
      if (agentTestsAssignRequest == null) {
        throw new ApiException(400, "Missing the required parameter 'agentTestsAssignRequest' when calling overwriteTests");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder overwriteTestsRequestBuilder(String agentId, AgentTestsAssignRequest agentTestsAssignRequest, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/agents/{agentId}/tests/override"
        .replace("{agentId}", urlEncode(agentId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(agentTestsAssignRequest);
    return requestBuilder;
  }

  public static final class OverwriteTestsRequest {
    private final String agentId;
    private final AgentTestsAssignRequest agentTestsAssignRequest;
    private final String aid;

    private OverwriteTestsRequest(Builder builder) {
      this.agentId = builder.agentId;
      this.agentTestsAssignRequest = builder.agentTestsAssignRequest;
      this.aid = builder.aid;
    }
    public String getAgentId() {
      return agentId;
    }
    public AgentTestsAssignRequest getAgentTestsAssignRequest() {
      return agentTestsAssignRequest;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .agentId(agentId)
          .agentTestsAssignRequest(agentTestsAssignRequest)
          .aid(aid);
    }

    public static final class Builder {
      private String agentId;
      private AgentTestsAssignRequest agentTestsAssignRequest;
      private String aid;

      public Builder agentId(String agentId) {
        this.agentId = agentId;
        return this;
      }
      public Builder agentTestsAssignRequest(AgentTestsAssignRequest agentTestsAssignRequest) {
        this.agentTestsAssignRequest = agentTestsAssignRequest;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public OverwriteTestsRequest build() {
        return new OverwriteTestsRequest(this);
      }
    }
  }

  /**
   * Unassign tests from an agent
   * Unassigns the specified tests from a specific agent.  **Important notes:**    * The operation fails if the specified agent does not exist.    * If any test ID is invalid, the operation is canceled and no changes are made.
   * @param request operation parameters (required)
   * @return AgentDetails
   * @throws ApiException if fails to make API call
   */
  public AgentDetails unassignTests(UnassignTestsRequest request) throws ApiException {
    ApiResponse<AgentDetails> response = unassignTestsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Unassign tests from an agent
   * Unassigns the specified tests from a specific agent.  **Important notes:**    * The operation fails if the specified agent does not exist.    * If any test ID is invalid, the operation is canceled and no changes are made.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AgentDetails&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AgentDetails> unassignTestsWithHttpInfo(UnassignTestsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling unassignTests");
    }
    unassignTestsValidateRequest(request.getAgentId(), request.getAgentTestsAssignRequest());

    var requestBuilder = unassignTestsRequestBuilder(request.getAgentId(), request.getAgentTestsAssignRequest(), request.getAid());

    return apiClient.send(requestBuilder.build(), AgentDetails.class);
  }

  private void unassignTestsValidateRequest(String agentId, AgentTestsAssignRequest agentTestsAssignRequest) throws ApiException {
      // verify the required parameter 'agentId' is set
      if (agentId == null) {
        throw new ApiException(400, "Missing the required parameter 'agentId' when calling unassignTests");
      }
      // verify the required parameter 'agentTestsAssignRequest' is set
      if (agentTestsAssignRequest == null) {
        throw new ApiException(400, "Missing the required parameter 'agentTestsAssignRequest' when calling unassignTests");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder unassignTestsRequestBuilder(String agentId, AgentTestsAssignRequest agentTestsAssignRequest, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/agents/{agentId}/tests/unassign"
        .replace("{agentId}", urlEncode(agentId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(agentTestsAssignRequest);
    return requestBuilder;
  }

  public static final class UnassignTestsRequest {
    private final String agentId;
    private final AgentTestsAssignRequest agentTestsAssignRequest;
    private final String aid;

    private UnassignTestsRequest(Builder builder) {
      this.agentId = builder.agentId;
      this.agentTestsAssignRequest = builder.agentTestsAssignRequest;
      this.aid = builder.aid;
    }
    public String getAgentId() {
      return agentId;
    }
    public AgentTestsAssignRequest getAgentTestsAssignRequest() {
      return agentTestsAssignRequest;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .agentId(agentId)
          .agentTestsAssignRequest(agentTestsAssignRequest)
          .aid(aid);
    }

    public static final class Builder {
      private String agentId;
      private AgentTestsAssignRequest agentTestsAssignRequest;
      private String aid;

      public Builder agentId(String agentId) {
        this.agentId = agentId;
        return this;
      }
      public Builder agentTestsAssignRequest(AgentTestsAssignRequest agentTestsAssignRequest) {
        this.agentTestsAssignRequest = agentTestsAssignRequest;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public UnassignTestsRequest build() {
        return new UnassignTestsRequest(this);
      }
    }
  }

}
