/*
 * Alerts API
 * **Note:** API operations for the creation or retrieval of API, Page Load, or Web-Transaction alert rules are not available for ThousandEyes for Government instance.  You can manage the following alert functionalities on the ThousandEyes platform using the Alerts API:  * **Alerts**: Retrieve alert details. Alerts are assigned to tests through alert rules.  * **Alert Rules**: Conditions that you configure in order to highlight or be notified of events of interest in your ThousandEyes tests. When an alert rule’s conditions are met, the associated alert is triggered and the alert becomes active. It remains active until the alert is cleared. Alert rules are reusable across multiple tests..  * **Alert Suppression Windows**: Suppress alerts for tests during periods such as planned maintenance. Windows can be one-time events or recurring events to handle periodic occurrences such as monthly downtime for maintenance.  For more information about the alerts, see [Alerts](https://docs.thousandeyes.com/product-documentation/alerts). 
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.alerts;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.alerts.model.AlertDetail;
import com.thousandeyes.sdk.alerts.model.Alerts;
import com.thousandeyes.sdk.alerts.model.Error;
import java.time.OffsetDateTime;
import com.thousandeyes.sdk.alerts.model.State;
import java.util.UUID;
import com.thousandeyes.sdk.alerts.model.UnauthorizedError;
import com.thousandeyes.sdk.alerts.model.Alert;
import com.thousandeyes.sdk.pagination.Paginator;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class AlertsApi {
  private final ApiClient apiClient;

  public AlertsApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Retrieve alert details
   * Returns detailed information about an alert using its ID.
   * @param request operation parameters (required)
   * @return AlertDetail
   * @throws ApiException if fails to make API call
   */
  public AlertDetail getAlert(GetAlertRequest request) throws ApiException {
    ApiResponse<AlertDetail> response = getAlertWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Retrieve alert details
   * Returns detailed information about an alert using its ID.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;AlertDetail&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AlertDetail> getAlertWithHttpInfo(GetAlertRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAlert");
    }
    getAlertValidateRequest(request.getAlertId());

    var requestBuilder = getAlertRequestBuilder(request.getAlertId(), request.getAid());

    return apiClient.send(requestBuilder.build(), AlertDetail.class);
  }

  private void getAlertValidateRequest(UUID alertId) throws ApiException {
      // verify the required parameter 'alertId' is set
      if (alertId == null) {
        throw new ApiException(400, "Missing the required parameter 'alertId' when calling getAlert");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAlertRequestBuilder(UUID alertId, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/alerts/{alertId}"
        .replace("{alertId}", urlEncode(alertId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAlertRequest {
    private final UUID alertId;
    private final String aid;

    private GetAlertRequest(Builder builder) {
      this.alertId = builder.alertId;
      this.aid = builder.aid;
    }
    public UUID getAlertId() {
      return alertId;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .alertId(alertId)
          .aid(aid);
    }

    public static final class Builder {
      private UUID alertId;
      private String aid;

      public Builder alertId(UUID alertId) {
        this.alertId = alertId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetAlertRequest build() {
        return new GetAlertRequest(this);
      }
    }
  }

  /**
   * List alerts with pagination
   * Returns a list of alerts. Only active (triggered) alerts are returned by default. When no time filter is specified, only triggered alerts from the last 90 days are returned. To retrieve triggered alerts from a specific date range, specify &#x60;state&#x3D;trigger&#x60; with &#x60;startDate&#x60; and &#x60;endDate&#x60;. Only use &#x60;window&#x60; for a lookback interval ending at the current request time. To retrieve cleared alerts, specify &#x60;clear&#x60; in the optional &#x60;state&#x60; parameter. Note that the &#x60;state&#x60; parameter only accepts a single value, so to get both active and cleared alerts within a time range, two separate requests are needed. Time filters (&#x60;window&#x60;, &#x60;startDate&#x60;, &#x60;endDate&#x60;) are applied differently depending on state: - For &#x60;state&#x3D;trigger&#x60;: filters by when the alert started. - For &#x60;state&#x3D;clear&#x60;: filters by when the alert cleared. - When state is not specified: returns cleared alerts within the time range plus any currently active alerts that started before the end of the range.
   * @param request operation parameters (required)
   * @return Paginator<Alert, Alerts>
   */
  public Paginator<Alert, Alerts> getAlertsPaginated(GetAlertsRequest request) {
    if (request == null) {
      throw new IllegalArgumentException("Request must not be null when calling getAlertsPaginated");
    }
    return new Paginator<>(cursor -> getAlerts(request.toBuilder()
        .cursor(cursor != null ? cursor : request.getCursor())
        .build()),
                           Alerts::getAlerts);

  }
  /**
   * List alerts
   * Returns a list of alerts. Only active (triggered) alerts are returned by default. When no time filter is specified, only triggered alerts from the last 90 days are returned. To retrieve triggered alerts from a specific date range, specify &#x60;state&#x3D;trigger&#x60; with &#x60;startDate&#x60; and &#x60;endDate&#x60;. Only use &#x60;window&#x60; for a lookback interval ending at the current request time. To retrieve cleared alerts, specify &#x60;clear&#x60; in the optional &#x60;state&#x60; parameter. Note that the &#x60;state&#x60; parameter only accepts a single value, so to get both active and cleared alerts within a time range, two separate requests are needed. Time filters (&#x60;window&#x60;, &#x60;startDate&#x60;, &#x60;endDate&#x60;) are applied differently depending on state: - For &#x60;state&#x3D;trigger&#x60;: filters by when the alert started. - For &#x60;state&#x3D;clear&#x60;: filters by when the alert cleared. - When state is not specified: returns cleared alerts within the time range plus any currently active alerts that started before the end of the range.
   * @param request operation parameters (required)
   * @return Alerts
   * @throws ApiException if fails to make API call
   */
  public Alerts getAlerts(GetAlertsRequest request) throws ApiException {
    ApiResponse<Alerts> response = getAlertsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List alerts
   * Returns a list of alerts. Only active (triggered) alerts are returned by default. When no time filter is specified, only triggered alerts from the last 90 days are returned. To retrieve triggered alerts from a specific date range, specify &#x60;state&#x3D;trigger&#x60; with &#x60;startDate&#x60; and &#x60;endDate&#x60;. Only use &#x60;window&#x60; for a lookback interval ending at the current request time. To retrieve cleared alerts, specify &#x60;clear&#x60; in the optional &#x60;state&#x60; parameter. Note that the &#x60;state&#x60; parameter only accepts a single value, so to get both active and cleared alerts within a time range, two separate requests are needed. Time filters (&#x60;window&#x60;, &#x60;startDate&#x60;, &#x60;endDate&#x60;) are applied differently depending on state: - For &#x60;state&#x3D;trigger&#x60;: filters by when the alert started. - For &#x60;state&#x3D;clear&#x60;: filters by when the alert cleared. - When state is not specified: returns cleared alerts within the time range plus any currently active alerts that started before the end of the range.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Alerts&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Alerts> getAlertsWithHttpInfo(GetAlertsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAlerts");
    }
    getAlertsValidateRequest();

    var requestBuilder = getAlertsRequestBuilder(request.getAid(), request.getWindow(), request.getStartDate(), request.getEndDate(), request.getMax(), request.getCursor(), request.getState());

    return apiClient.send(requestBuilder.build(), Alerts.class);
  }

  private void getAlertsValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAlertsRequestBuilder(String aid, String window, OffsetDateTime startDate, OffsetDateTime endDate, Integer max, String cursor, State state) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/alerts";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("window", window));
    localVarQueryParams.addAll(parameterToPairs("startDate", startDate));
    localVarQueryParams.addAll(parameterToPairs("endDate", endDate));
    localVarQueryParams.addAll(parameterToPairs("max", max));
    localVarQueryParams.addAll(parameterToPairs("cursor", cursor));
    localVarQueryParams.addAll(parameterToPairs("state", state));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAlertsRequest {
    private final String aid;
    private final String window;
    private final OffsetDateTime startDate;
    private final OffsetDateTime endDate;
    private final Integer max;
    private final String cursor;
    private final State state;

    private GetAlertsRequest(Builder builder) {
      this.aid = builder.aid;
      this.window = builder.window;
      this.startDate = builder.startDate;
      this.endDate = builder.endDate;
      this.max = builder.max;
      this.cursor = builder.cursor;
      this.state = builder.state;
    }
    public String getAid() {
      return aid;
    }
    public String getWindow() {
      return window;
    }
    public OffsetDateTime getStartDate() {
      return startDate;
    }
    public OffsetDateTime getEndDate() {
      return endDate;
    }
    public Integer getMax() {
      return max;
    }
    public String getCursor() {
      return cursor;
    }
    public State getState() {
      return state;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid)
          .window(window)
          .startDate(startDate)
          .endDate(endDate)
          .max(max)
          .cursor(cursor)
          .state(state);
    }

    public static final class Builder {
      private String aid;
      private String window;
      private OffsetDateTime startDate;
      private OffsetDateTime endDate;
      private Integer max;
      private String cursor;
      private State state;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder window(String window) {
        this.window = window;
        return this;
      }
      public Builder startDate(OffsetDateTime startDate) {
        this.startDate = startDate;
        return this;
      }
      public Builder endDate(OffsetDateTime endDate) {
        this.endDate = endDate;
        return this;
      }
      public Builder max(Integer max) {
        this.max = max;
        return this;
      }
      public Builder cursor(String cursor) {
        this.cursor = cursor;
        return this;
      }
      public Builder state(State state) {
        this.state = state;
        return this;
      }
      public GetAlertsRequest build() {
        return new GetAlertsRequest(this);
      }
    }
  }

}
