/*
 * Alerts API
 * **Note:** API operations for the creation or retrieval of API, Page Load, or Web-Transaction alert rules are not available for ThousandEyes for Government instance.  You can manage the following alert functionalities on the ThousandEyes platform using the Alerts API:  * **Alerts**: Retrieve alert details. Alerts are assigned to tests through alert rules.  * **Alert Rules**: Conditions that you configure in order to highlight or be notified of events of interest in your ThousandEyes tests. When an alert rule’s conditions are met, the associated alert is triggered and the alert becomes active. It remains active until the alert is cleared. Alert rules are reusable across multiple tests..  * **Alert Suppression Windows**: Suppress alerts for tests during periods such as planned maintenance. Windows can be one-time events or recurring events to handle periodic occurrences such as monthly downtime for maintenance.  For more information about the alerts, see [Alerts](https://docs.thousandeyes.com/product-documentation/alerts). 
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.alerts;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.alerts.model.Error;
import com.thousandeyes.sdk.alerts.model.Rule;
import com.thousandeyes.sdk.alerts.model.RuleDetail;
import com.thousandeyes.sdk.alerts.model.RuleDetailUpdate;
import com.thousandeyes.sdk.alerts.model.Rules;
import java.net.URI;
import com.thousandeyes.sdk.alerts.model.UnauthorizedError;
import com.thousandeyes.sdk.alerts.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class AlertRulesApi {
  private final ApiClient apiClient;

  public AlertRulesApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Create alert rule
   * Creates a new alert rule in your account, using the provided POST data. This endpoint is limited to alert rules for Network &amp; App Synthetics tests and Routing tests. The &#x60;Edit alert rules&#x60; permission is required to create an alert rule. Note: Assigning an alert rule to a test during creation requires the &#x60;Edit tests&#x60; permission.
   * @param request operation parameters (required)
   * @return Rule
   * @throws ApiException if fails to make API call
   */
  public Rule createAlertRule(CreateAlertRuleRequest request) throws ApiException {
    ApiResponse<Rule> response = createAlertRuleWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Create alert rule
   * Creates a new alert rule in your account, using the provided POST data. This endpoint is limited to alert rules for Network &amp; App Synthetics tests and Routing tests. The &#x60;Edit alert rules&#x60; permission is required to create an alert rule. Note: Assigning an alert rule to a test during creation requires the &#x60;Edit tests&#x60; permission.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Rule&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Rule> createAlertRuleWithHttpInfo(CreateAlertRuleRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling createAlertRule");
    }
    createAlertRuleValidateRequest(request.getRuleDetailUpdate());

    var requestBuilder = createAlertRuleRequestBuilder(request.getRuleDetailUpdate(), request.getAid());

    return apiClient.send(requestBuilder.build(), Rule.class);
  }

  private void createAlertRuleValidateRequest(RuleDetailUpdate ruleDetailUpdate) throws ApiException {
      // verify the required parameter 'ruleDetailUpdate' is set
      if (ruleDetailUpdate == null) {
        throw new ApiException(400, "Missing the required parameter 'ruleDetailUpdate' when calling createAlertRule");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder createAlertRuleRequestBuilder(RuleDetailUpdate ruleDetailUpdate, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/alerts/rules";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(ruleDetailUpdate);
    return requestBuilder;
  }

  public static final class CreateAlertRuleRequest {
    private final RuleDetailUpdate ruleDetailUpdate;
    private final String aid;

    private CreateAlertRuleRequest(Builder builder) {
      this.ruleDetailUpdate = builder.ruleDetailUpdate;
      this.aid = builder.aid;
    }
    public RuleDetailUpdate getRuleDetailUpdate() {
      return ruleDetailUpdate;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .ruleDetailUpdate(ruleDetailUpdate)
          .aid(aid);
    }

    public static final class Builder {
      private RuleDetailUpdate ruleDetailUpdate;
      private String aid;

      public Builder ruleDetailUpdate(RuleDetailUpdate ruleDetailUpdate) {
        this.ruleDetailUpdate = ruleDetailUpdate;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public CreateAlertRuleRequest build() {
        return new CreateAlertRuleRequest(this);
      }
    }
  }

  /**
   * Delete alert rule
   * Deletes an alert rule from your account. Users must have both &#x60;Edit alert rules&#x60; and &#x60;Edit tests&#x60; permissions, especially if the rule is linked to any tests. Without these permissions, an error occurs. This endpoint is limited to alert rules for Network &amp; App Synthetics tests and Routing tests.
   * @param request operation parameters (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteAlertRule(DeleteAlertRuleRequest request) throws ApiException {
    deleteAlertRuleWithHttpInfo(request);
  }

  /**
   * Delete alert rule
   * Deletes an alert rule from your account. Users must have both &#x60;Edit alert rules&#x60; and &#x60;Edit tests&#x60; permissions, especially if the rule is linked to any tests. Without these permissions, an error occurs. This endpoint is limited to alert rules for Network &amp; App Synthetics tests and Routing tests.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteAlertRuleWithHttpInfo(DeleteAlertRuleRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling deleteAlertRule");
    }
    deleteAlertRuleValidateRequest(request.getRuleId());

    var requestBuilder = deleteAlertRuleRequestBuilder(request.getRuleId(), request.getAid());

    return apiClient.send(requestBuilder.build(), Void.class);
  }

  private void deleteAlertRuleValidateRequest(String ruleId) throws ApiException {
      // verify the required parameter 'ruleId' is set
      if (ruleId == null) {
        throw new ApiException(400, "Missing the required parameter 'ruleId' when calling deleteAlertRule");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder deleteAlertRuleRequestBuilder(String ruleId, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("DELETE");

    String path = "/alerts/rules/{ruleId}"
        .replace("{ruleId}", urlEncode(ruleId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class DeleteAlertRuleRequest {
    private final String ruleId;
    private final String aid;

    private DeleteAlertRuleRequest(Builder builder) {
      this.ruleId = builder.ruleId;
      this.aid = builder.aid;
    }
    public String getRuleId() {
      return ruleId;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .ruleId(ruleId)
          .aid(aid);
    }

    public static final class Builder {
      private String ruleId;
      private String aid;

      public Builder ruleId(String ruleId) {
        this.ruleId = ruleId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public DeleteAlertRuleRequest build() {
        return new DeleteAlertRuleRequest(this);
      }
    }
  }

  /**
   * Retrieve alert rule
   * Returns detailed information about an alert rule using the &#x60;ruleId&#x60;. This endpoint is limited to alert rules for Network &amp; App Synthetics tests and Routing tests. If the &#x60;ruleId&#x60; doesn’t exist or is inaccessible by your account, an empty response is returned.
   * @param request operation parameters (required)
   * @return RuleDetail
   * @throws ApiException if fails to make API call
   */
  public RuleDetail getAlertRule(GetAlertRuleRequest request) throws ApiException {
    ApiResponse<RuleDetail> response = getAlertRuleWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Retrieve alert rule
   * Returns detailed information about an alert rule using the &#x60;ruleId&#x60;. This endpoint is limited to alert rules for Network &amp; App Synthetics tests and Routing tests. If the &#x60;ruleId&#x60; doesn’t exist or is inaccessible by your account, an empty response is returned.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;RuleDetail&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RuleDetail> getAlertRuleWithHttpInfo(GetAlertRuleRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAlertRule");
    }
    getAlertRuleValidateRequest(request.getRuleId());

    var requestBuilder = getAlertRuleRequestBuilder(request.getRuleId(), request.getAid());

    return apiClient.send(requestBuilder.build(), RuleDetail.class);
  }

  private void getAlertRuleValidateRequest(String ruleId) throws ApiException {
      // verify the required parameter 'ruleId' is set
      if (ruleId == null) {
        throw new ApiException(400, "Missing the required parameter 'ruleId' when calling getAlertRule");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAlertRuleRequestBuilder(String ruleId, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/alerts/rules/{ruleId}"
        .replace("{ruleId}", urlEncode(ruleId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAlertRuleRequest {
    private final String ruleId;
    private final String aid;

    private GetAlertRuleRequest(Builder builder) {
      this.ruleId = builder.ruleId;
      this.aid = builder.aid;
    }
    public String getRuleId() {
      return ruleId;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .ruleId(ruleId)
          .aid(aid);
    }

    public static final class Builder {
      private String ruleId;
      private String aid;

      public Builder ruleId(String ruleId) {
        this.ruleId = ruleId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetAlertRuleRequest build() {
        return new GetAlertRuleRequest(this);
      }
    }
  }

  /**
   * List alert rules
   * Returns a list of alert rules. Default rules for each test type are indicated with a boolean response (true or false); these default alert rules automatically apply to their respective test types. This endpoint is limited to alert rules for Network &amp; App Synthetics tests and Routing tests.
   * @param request operation parameters (required)
   * @return Rules
   * @throws ApiException if fails to make API call
   */
  public Rules getAlertsRules(GetAlertsRulesRequest request) throws ApiException {
    ApiResponse<Rules> response = getAlertsRulesWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List alert rules
   * Returns a list of alert rules. Default rules for each test type are indicated with a boolean response (true or false); these default alert rules automatically apply to their respective test types. This endpoint is limited to alert rules for Network &amp; App Synthetics tests and Routing tests.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Rules&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Rules> getAlertsRulesWithHttpInfo(GetAlertsRulesRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getAlertsRules");
    }
    getAlertsRulesValidateRequest();

    var requestBuilder = getAlertsRulesRequestBuilder(request.getAid());

    return apiClient.send(requestBuilder.build(), Rules.class);
  }

  private void getAlertsRulesValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getAlertsRulesRequestBuilder(String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/alerts/rules";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetAlertsRulesRequest {
    private final String aid;

    private GetAlertsRulesRequest(Builder builder) {
      this.aid = builder.aid;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid);
    }

    public static final class Builder {
      private String aid;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetAlertsRulesRequest build() {
        return new GetAlertsRulesRequest(this);
      }
    }
  }

  /**
   * Update alert rule
   * Modifies an existing alert rule in your account, using the provided POST data. This endpoint is limited to alert rules for Network &amp; App Synthetics tests and Routing tests. The &#x60;Edit alert rules&#x60; permission is required to modify an alert rule.  Note: Assigning an alert rule to a test during creation requires the &#x60;Edit tests&#x60; permission.
   * @param request operation parameters (required)
   * @return Rule
   * @throws ApiException if fails to make API call
   */
  public Rule updateAlertRule(UpdateAlertRuleRequest request) throws ApiException {
    ApiResponse<Rule> response = updateAlertRuleWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Update alert rule
   * Modifies an existing alert rule in your account, using the provided POST data. This endpoint is limited to alert rules for Network &amp; App Synthetics tests and Routing tests. The &#x60;Edit alert rules&#x60; permission is required to modify an alert rule.  Note: Assigning an alert rule to a test during creation requires the &#x60;Edit tests&#x60; permission.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Rule&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Rule> updateAlertRuleWithHttpInfo(UpdateAlertRuleRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling updateAlertRule");
    }
    updateAlertRuleValidateRequest(request.getRuleId(), request.getRuleDetailUpdate());

    var requestBuilder = updateAlertRuleRequestBuilder(request.getRuleId(), request.getRuleDetailUpdate(), request.getAid());

    return apiClient.send(requestBuilder.build(), Rule.class);
  }

  private void updateAlertRuleValidateRequest(String ruleId, RuleDetailUpdate ruleDetailUpdate) throws ApiException {
      // verify the required parameter 'ruleId' is set
      if (ruleId == null) {
        throw new ApiException(400, "Missing the required parameter 'ruleId' when calling updateAlertRule");
      }
      // verify the required parameter 'ruleDetailUpdate' is set
      if (ruleDetailUpdate == null) {
        throw new ApiException(400, "Missing the required parameter 'ruleDetailUpdate' when calling updateAlertRule");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder updateAlertRuleRequestBuilder(String ruleId, RuleDetailUpdate ruleDetailUpdate, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("PUT");

    String path = "/alerts/rules/{ruleId}"
        .replace("{ruleId}", urlEncode(ruleId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(ruleDetailUpdate);
    return requestBuilder;
  }

  public static final class UpdateAlertRuleRequest {
    private final String ruleId;
    private final RuleDetailUpdate ruleDetailUpdate;
    private final String aid;

    private UpdateAlertRuleRequest(Builder builder) {
      this.ruleId = builder.ruleId;
      this.ruleDetailUpdate = builder.ruleDetailUpdate;
      this.aid = builder.aid;
    }
    public String getRuleId() {
      return ruleId;
    }
    public RuleDetailUpdate getRuleDetailUpdate() {
      return ruleDetailUpdate;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .ruleId(ruleId)
          .ruleDetailUpdate(ruleDetailUpdate)
          .aid(aid);
    }

    public static final class Builder {
      private String ruleId;
      private RuleDetailUpdate ruleDetailUpdate;
      private String aid;

      public Builder ruleId(String ruleId) {
        this.ruleId = ruleId;
        return this;
      }
      public Builder ruleDetailUpdate(RuleDetailUpdate ruleDetailUpdate) {
        this.ruleDetailUpdate = ruleDetailUpdate;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public UpdateAlertRuleRequest build() {
        return new UpdateAlertRuleRequest(this);
      }
    }
  }

}
