/*
 * Endpoint Agents API
 * **Note:** The Endpoint Agents Transfer APIs are not available for ThousandEyes for Government instance.  Manage ThousandEyes Endpoint Agents using this API.   For more information about Endpoint Agents, see [Endpoint Agents](https://docs.thousandeyes.com/product-documentation/global-vantage-points/endpoint-agents).
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.endpoint.agents;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.endpoint.agents.model.EndpointProxiesResponse;
import com.thousandeyes.sdk.endpoint.agents.model.Error;
import com.thousandeyes.sdk.endpoint.agents.model.UnauthorizedError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class EndpointProxiesApi {
  private final ApiClient apiClient;

  public EndpointProxiesApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * List endpoint proxy settings
   * Returns proxy settings for endpoint agents. Proxy passwords are never returned.
   * @param request operation parameters (required)
   * @return EndpointProxiesResponse
   * @throws ApiException if fails to make API call
   */
  public EndpointProxiesResponse getEndpointProxies(GetEndpointProxiesRequest request) throws ApiException {
    ApiResponse<EndpointProxiesResponse> response = getEndpointProxiesWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List endpoint proxy settings
   * Returns proxy settings for endpoint agents. Proxy passwords are never returned.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;EndpointProxiesResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EndpointProxiesResponse> getEndpointProxiesWithHttpInfo(GetEndpointProxiesRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getEndpointProxies");
    }
    getEndpointProxiesValidateRequest();

    var requestBuilder = getEndpointProxiesRequestBuilder(request.getAid());

    return apiClient.send(requestBuilder.build(), EndpointProxiesResponse.class);
  }

  private void getEndpointProxiesValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getEndpointProxiesRequestBuilder(String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/endpoint/proxies";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetEndpointProxiesRequest {
    private final String aid;

    private GetEndpointProxiesRequest(Builder builder) {
      this.aid = builder.aid;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid);
    }

    public static final class Builder {
      private String aid;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetEndpointProxiesRequest build() {
        return new GetEndpointProxiesRequest(this);
      }
    }
  }

}
