/*
 * Endpoint Agents API
 * **Note:** The Endpoint Agents Transfer APIs are not available for ThousandEyes for Government instance.  Manage ThousandEyes Endpoint Agents using this API.   For more information about Endpoint Agents, see [Endpoint Agents](https://docs.thousandeyes.com/product-documentation/global-vantage-points/endpoint-agents).
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.endpoint.agents;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.endpoint.agents.model.AgentSearchRequest;
import com.thousandeyes.sdk.endpoint.agents.model.ConnectionString;
import com.thousandeyes.sdk.endpoint.agents.model.EndpointAgent;
import com.thousandeyes.sdk.endpoint.agents.model.EndpointAgentUpdate;
import com.thousandeyes.sdk.endpoint.agents.model.Error;
import com.thousandeyes.sdk.endpoint.agents.model.ExpandEndpointAgentOptions;
import com.thousandeyes.sdk.endpoint.agents.model.FilterEndpointAgentsResponse;
import com.thousandeyes.sdk.endpoint.agents.model.ListEndpointAgentsResponse;
import java.util.UUID;
import com.thousandeyes.sdk.endpoint.agents.model.UnauthorizedError;
import com.thousandeyes.sdk.endpoint.agents.model.ValidationError;
import com.thousandeyes.sdk.endpoint.agents.model.EndpointAgent;
import com.thousandeyes.sdk.pagination.Paginator;
import com.thousandeyes.sdk.endpoint.agents.model.EndpointAgent;
import com.thousandeyes.sdk.pagination.Paginator;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class EndpointAgentsApi {
  private final ApiClient apiClient;

  public EndpointAgentsApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Delete endpoint agent
   * Deletes the agent with the specified &#x60;agent_id&#x60;. 
   * @param request operation parameters (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteEndpointAgent(DeleteEndpointAgentRequest request) throws ApiException {
    deleteEndpointAgentWithHttpInfo(request);
  }

  /**
   * Delete endpoint agent
   * Deletes the agent with the specified &#x60;agent_id&#x60;. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteEndpointAgentWithHttpInfo(DeleteEndpointAgentRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling deleteEndpointAgent");
    }
    deleteEndpointAgentValidateRequest(request.getAgentId());

    var requestBuilder = deleteEndpointAgentRequestBuilder(request.getAgentId(), request.getAid(), request.getExpand());

    return apiClient.send(requestBuilder.build(), Void.class);
  }

  private void deleteEndpointAgentValidateRequest(UUID agentId) throws ApiException {
      // verify the required parameter 'agentId' is set
      if (agentId == null) {
        throw new ApiException(400, "Missing the required parameter 'agentId' when calling deleteEndpointAgent");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder deleteEndpointAgentRequestBuilder(UUID agentId, String aid, List<ExpandEndpointAgentOptions> expand) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("DELETE");

    String path = "/endpoint/agents/{agentId}"
        .replace("{agentId}", urlEncode(agentId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("csv", "expand", expand));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class DeleteEndpointAgentRequest {
    private final UUID agentId;
    private final String aid;
    private final List<ExpandEndpointAgentOptions> expand;

    private DeleteEndpointAgentRequest(Builder builder) {
      this.agentId = builder.agentId;
      this.aid = builder.aid;
      this.expand = builder.expand;
    }
    public UUID getAgentId() {
      return agentId;
    }
    public String getAid() {
      return aid;
    }
    public List<ExpandEndpointAgentOptions> getExpand() {
      return expand;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .agentId(agentId)
          .aid(aid)
          .expand(expand);
    }

    public static final class Builder {
      private UUID agentId;
      private String aid;
      private List<ExpandEndpointAgentOptions> expand;

      public Builder agentId(UUID agentId) {
        this.agentId = agentId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder expand(List<ExpandEndpointAgentOptions> expand) {
        this.expand = expand;
        return this;
      }
      public DeleteEndpointAgentRequest build() {
        return new DeleteEndpointAgentRequest(this);
      }
    }
  }

  /**
   * Disable endpoint agent
   * Disables an endpoint agent. If it&#39;s already disabled, it has no effect (no operation).
   * @param request operation parameters (required)
   * @return EndpointAgent
   * @throws ApiException if fails to make API call
   */
  public EndpointAgent disableEndpointAgent(DisableEndpointAgentRequest request) throws ApiException {
    ApiResponse<EndpointAgent> response = disableEndpointAgentWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Disable endpoint agent
   * Disables an endpoint agent. If it&#39;s already disabled, it has no effect (no operation).
   * @param request operation parameters (required)
   * @return ApiResponse&lt;EndpointAgent&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EndpointAgent> disableEndpointAgentWithHttpInfo(DisableEndpointAgentRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling disableEndpointAgent");
    }
    disableEndpointAgentValidateRequest(request.getAgentId());

    var requestBuilder = disableEndpointAgentRequestBuilder(request.getAgentId(), request.getAid());

    return apiClient.send(requestBuilder.build(), EndpointAgent.class);
  }

  private void disableEndpointAgentValidateRequest(UUID agentId) throws ApiException {
      // verify the required parameter 'agentId' is set
      if (agentId == null) {
        throw new ApiException(400, "Missing the required parameter 'agentId' when calling disableEndpointAgent");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder disableEndpointAgentRequestBuilder(UUID agentId, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/endpoint/agents/{agentId}/disable"
        .replace("{agentId}", urlEncode(agentId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class DisableEndpointAgentRequest {
    private final UUID agentId;
    private final String aid;

    private DisableEndpointAgentRequest(Builder builder) {
      this.agentId = builder.agentId;
      this.aid = builder.aid;
    }
    public UUID getAgentId() {
      return agentId;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .agentId(agentId)
          .aid(aid);
    }

    public static final class Builder {
      private UUID agentId;
      private String aid;

      public Builder agentId(UUID agentId) {
        this.agentId = agentId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public DisableEndpointAgentRequest build() {
        return new DisableEndpointAgentRequest(this);
      }
    }
  }

  /**
   * Enable endpoint agent
   * Enables an endpoint agent. If it&#39;s already enabled, it has no effect (no operation).
   * @param request operation parameters (required)
   * @return EndpointAgent
   * @throws ApiException if fails to make API call
   */
  public EndpointAgent enableEndpointAgent(EnableEndpointAgentRequest request) throws ApiException {
    ApiResponse<EndpointAgent> response = enableEndpointAgentWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Enable endpoint agent
   * Enables an endpoint agent. If it&#39;s already enabled, it has no effect (no operation).
   * @param request operation parameters (required)
   * @return ApiResponse&lt;EndpointAgent&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EndpointAgent> enableEndpointAgentWithHttpInfo(EnableEndpointAgentRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling enableEndpointAgent");
    }
    enableEndpointAgentValidateRequest(request.getAgentId());

    var requestBuilder = enableEndpointAgentRequestBuilder(request.getAgentId(), request.getAid());

    return apiClient.send(requestBuilder.build(), EndpointAgent.class);
  }

  private void enableEndpointAgentValidateRequest(UUID agentId) throws ApiException {
      // verify the required parameter 'agentId' is set
      if (agentId == null) {
        throw new ApiException(400, "Missing the required parameter 'agentId' when calling enableEndpointAgent");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder enableEndpointAgentRequestBuilder(UUID agentId, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/endpoint/agents/{agentId}/enable"
        .replace("{agentId}", urlEncode(agentId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class EnableEndpointAgentRequest {
    private final UUID agentId;
    private final String aid;

    private EnableEndpointAgentRequest(Builder builder) {
      this.agentId = builder.agentId;
      this.aid = builder.aid;
    }
    public UUID getAgentId() {
      return agentId;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .agentId(agentId)
          .aid(aid);
    }

    public static final class Builder {
      private UUID agentId;
      private String aid;

      public Builder agentId(UUID agentId) {
        this.agentId = agentId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public EnableEndpointAgentRequest build() {
        return new EnableEndpointAgentRequest(this);
      }
    }
  }

  /**
   * Filter endpoint agents with pagination
   * Retrieves a list of endpoint agents within the specified account group that match the specified filters.  If no agents meet the filter criteria, the API returns an empty array. 
   * @param request operation parameters (required)
   * @return Paginator<EndpointAgent, FilterEndpointAgentsResponse>
   */
  public Paginator<EndpointAgent, FilterEndpointAgentsResponse> filterEndpointAgentsPaginated(FilterEndpointAgentsRequest request) {
    if (request == null) {
      throw new IllegalArgumentException("Request must not be null when calling filterEndpointAgentsPaginated");
    }
    return new Paginator<>(cursor -> filterEndpointAgents(request.toBuilder()
        .cursor(cursor != null ? cursor : request.getCursor())
        .build()),
                           FilterEndpointAgentsResponse::getAgents);

  }
  /**
   * Filter endpoint agents
   * Retrieves a list of endpoint agents within the specified account group that match the specified filters.  If no agents meet the filter criteria, the API returns an empty array. 
   * @param request operation parameters (required)
   * @return FilterEndpointAgentsResponse
   * @throws ApiException if fails to make API call
   */
  public FilterEndpointAgentsResponse filterEndpointAgents(FilterEndpointAgentsRequest request) throws ApiException {
    ApiResponse<FilterEndpointAgentsResponse> response = filterEndpointAgentsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Filter endpoint agents
   * Retrieves a list of endpoint agents within the specified account group that match the specified filters.  If no agents meet the filter criteria, the API returns an empty array. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;FilterEndpointAgentsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<FilterEndpointAgentsResponse> filterEndpointAgentsWithHttpInfo(FilterEndpointAgentsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling filterEndpointAgents");
    }
    filterEndpointAgentsValidateRequest(request.getAgentSearchRequest());

    var requestBuilder = filterEndpointAgentsRequestBuilder(request.getAgentSearchRequest(), request.getMax(), request.getCursor(), request.getAid(), request.getExpand(), request.getIncludeDeleted());

    return apiClient.send(requestBuilder.build(), FilterEndpointAgentsResponse.class);
  }

  private void filterEndpointAgentsValidateRequest(AgentSearchRequest agentSearchRequest) throws ApiException {
      // verify the required parameter 'agentSearchRequest' is set
      if (agentSearchRequest == null) {
        throw new ApiException(400, "Missing the required parameter 'agentSearchRequest' when calling filterEndpointAgents");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder filterEndpointAgentsRequestBuilder(AgentSearchRequest agentSearchRequest, Integer max, String cursor, String aid, List<ExpandEndpointAgentOptions> expand, Boolean includeDeleted) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/endpoint/agents/filter";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("max", max));
    localVarQueryParams.addAll(parameterToPairs("cursor", cursor));
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("csv", "expand", expand));
    localVarQueryParams.addAll(parameterToPairs("includeDeleted", includeDeleted));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(agentSearchRequest);
    return requestBuilder;
  }

  public static final class FilterEndpointAgentsRequest {
    private final AgentSearchRequest agentSearchRequest;
    private final Integer max;
    private final String cursor;
    private final String aid;
    private final List<ExpandEndpointAgentOptions> expand;
    private final Boolean includeDeleted;

    private FilterEndpointAgentsRequest(Builder builder) {
      this.agentSearchRequest = builder.agentSearchRequest;
      this.max = builder.max;
      this.cursor = builder.cursor;
      this.aid = builder.aid;
      this.expand = builder.expand;
      this.includeDeleted = builder.includeDeleted;
    }
    public AgentSearchRequest getAgentSearchRequest() {
      return agentSearchRequest;
    }
    public Integer getMax() {
      return max;
    }
    public String getCursor() {
      return cursor;
    }
    public String getAid() {
      return aid;
    }
    public List<ExpandEndpointAgentOptions> getExpand() {
      return expand;
    }
    public Boolean getIncludeDeleted() {
      return includeDeleted;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .agentSearchRequest(agentSearchRequest)
          .max(max)
          .cursor(cursor)
          .aid(aid)
          .expand(expand)
          .includeDeleted(includeDeleted);
    }

    public static final class Builder {
      private AgentSearchRequest agentSearchRequest;
      private Integer max;
      private String cursor;
      private String aid;
      private List<ExpandEndpointAgentOptions> expand;
      private Boolean includeDeleted;

      public Builder agentSearchRequest(AgentSearchRequest agentSearchRequest) {
        this.agentSearchRequest = agentSearchRequest;
        return this;
      }
      public Builder max(Integer max) {
        this.max = max;
        return this;
      }
      public Builder cursor(String cursor) {
        this.cursor = cursor;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder expand(List<ExpandEndpointAgentOptions> expand) {
        this.expand = expand;
        return this;
      }
      public Builder includeDeleted(Boolean includeDeleted) {
        this.includeDeleted = includeDeleted;
        return this;
      }
      public FilterEndpointAgentsRequest build() {
        return new FilterEndpointAgentsRequest(this);
      }
    }
  }

  /**
   * Retrieve endpoint agent
   * Retrieves details of an agent with the specified &#x60;agent_id&#x60;.
   * @param request operation parameters (required)
   * @return EndpointAgent
   * @throws ApiException if fails to make API call
   */
  public EndpointAgent getEndpointAgent(GetEndpointAgentRequest request) throws ApiException {
    ApiResponse<EndpointAgent> response = getEndpointAgentWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Retrieve endpoint agent
   * Retrieves details of an agent with the specified &#x60;agent_id&#x60;.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;EndpointAgent&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EndpointAgent> getEndpointAgentWithHttpInfo(GetEndpointAgentRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getEndpointAgent");
    }
    getEndpointAgentValidateRequest(request.getAgentId());

    var requestBuilder = getEndpointAgentRequestBuilder(request.getAgentId(), request.getAid(), request.getExpand(), request.getIncludeDeleted());

    return apiClient.send(requestBuilder.build(), EndpointAgent.class);
  }

  private void getEndpointAgentValidateRequest(UUID agentId) throws ApiException {
      // verify the required parameter 'agentId' is set
      if (agentId == null) {
        throw new ApiException(400, "Missing the required parameter 'agentId' when calling getEndpointAgent");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getEndpointAgentRequestBuilder(UUID agentId, String aid, List<ExpandEndpointAgentOptions> expand, Boolean includeDeleted) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/endpoint/agents/{agentId}"
        .replace("{agentId}", urlEncode(agentId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("csv", "expand", expand));
    localVarQueryParams.addAll(parameterToPairs("includeDeleted", includeDeleted));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetEndpointAgentRequest {
    private final UUID agentId;
    private final String aid;
    private final List<ExpandEndpointAgentOptions> expand;
    private final Boolean includeDeleted;

    private GetEndpointAgentRequest(Builder builder) {
      this.agentId = builder.agentId;
      this.aid = builder.aid;
      this.expand = builder.expand;
      this.includeDeleted = builder.includeDeleted;
    }
    public UUID getAgentId() {
      return agentId;
    }
    public String getAid() {
      return aid;
    }
    public List<ExpandEndpointAgentOptions> getExpand() {
      return expand;
    }
    public Boolean getIncludeDeleted() {
      return includeDeleted;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .agentId(agentId)
          .aid(aid)
          .expand(expand)
          .includeDeleted(includeDeleted);
    }

    public static final class Builder {
      private UUID agentId;
      private String aid;
      private List<ExpandEndpointAgentOptions> expand;
      private Boolean includeDeleted;

      public Builder agentId(UUID agentId) {
        this.agentId = agentId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder expand(List<ExpandEndpointAgentOptions> expand) {
        this.expand = expand;
        return this;
      }
      public Builder includeDeleted(Boolean includeDeleted) {
        this.includeDeleted = includeDeleted;
        return this;
      }
      public GetEndpointAgentRequest build() {
        return new GetEndpointAgentRequest(this);
      }
    }
  }

  /**
   * List endpoint agents with pagination
   * Retrieves a list of endpoint agents in a given account group.  If there are no agents in the specified account group, it returns an empty array. 
   * @param request operation parameters (required)
   * @return Paginator<EndpointAgent, ListEndpointAgentsResponse>
   */
  public Paginator<EndpointAgent, ListEndpointAgentsResponse> getEndpointAgentsPaginated(GetEndpointAgentsRequest request) {
    if (request == null) {
      throw new IllegalArgumentException("Request must not be null when calling getEndpointAgentsPaginated");
    }
    return new Paginator<>(cursor -> getEndpointAgents(request.toBuilder()
        .cursor(cursor != null ? cursor : request.getCursor())
        .build()),
                           ListEndpointAgentsResponse::getAgents);

  }
  /**
   * List endpoint agents
   * Retrieves a list of endpoint agents in a given account group.  If there are no agents in the specified account group, it returns an empty array. 
   * @param request operation parameters (required)
   * @return ListEndpointAgentsResponse
   * @throws ApiException if fails to make API call
   */
  public ListEndpointAgentsResponse getEndpointAgents(GetEndpointAgentsRequest request) throws ApiException {
    ApiResponse<ListEndpointAgentsResponse> response = getEndpointAgentsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List endpoint agents
   * Retrieves a list of endpoint agents in a given account group.  If there are no agents in the specified account group, it returns an empty array. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;ListEndpointAgentsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ListEndpointAgentsResponse> getEndpointAgentsWithHttpInfo(GetEndpointAgentsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getEndpointAgents");
    }
    getEndpointAgentsValidateRequest();

    var requestBuilder = getEndpointAgentsRequestBuilder(request.getMax(), request.getCursor(), request.getAid(), request.getExpand(), request.getIncludeDeleted(), request.getUseAllPermittedAids(), request.getAgentName(), request.getComputerName());

    return apiClient.send(requestBuilder.build(), ListEndpointAgentsResponse.class);
  }

  private void getEndpointAgentsValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getEndpointAgentsRequestBuilder(Integer max, String cursor, String aid, List<ExpandEndpointAgentOptions> expand, Boolean includeDeleted, Boolean useAllPermittedAids, String agentName, String computerName) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/endpoint/agents";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("max", max));
    localVarQueryParams.addAll(parameterToPairs("cursor", cursor));
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("csv", "expand", expand));
    localVarQueryParams.addAll(parameterToPairs("includeDeleted", includeDeleted));
    localVarQueryParams.addAll(parameterToPairs("useAllPermittedAids", useAllPermittedAids));
    localVarQueryParams.addAll(parameterToPairs("agentName", agentName));
    localVarQueryParams.addAll(parameterToPairs("computerName", computerName));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetEndpointAgentsRequest {
    private final Integer max;
    private final String cursor;
    private final String aid;
    private final List<ExpandEndpointAgentOptions> expand;
    private final Boolean includeDeleted;
    private final Boolean useAllPermittedAids;
    private final String agentName;
    private final String computerName;

    private GetEndpointAgentsRequest(Builder builder) {
      this.max = builder.max;
      this.cursor = builder.cursor;
      this.aid = builder.aid;
      this.expand = builder.expand;
      this.includeDeleted = builder.includeDeleted;
      this.useAllPermittedAids = builder.useAllPermittedAids;
      this.agentName = builder.agentName;
      this.computerName = builder.computerName;
    }
    public Integer getMax() {
      return max;
    }
    public String getCursor() {
      return cursor;
    }
    public String getAid() {
      return aid;
    }
    public List<ExpandEndpointAgentOptions> getExpand() {
      return expand;
    }
    public Boolean getIncludeDeleted() {
      return includeDeleted;
    }
    public Boolean getUseAllPermittedAids() {
      return useAllPermittedAids;
    }
    public String getAgentName() {
      return agentName;
    }
    public String getComputerName() {
      return computerName;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .max(max)
          .cursor(cursor)
          .aid(aid)
          .expand(expand)
          .includeDeleted(includeDeleted)
          .useAllPermittedAids(useAllPermittedAids)
          .agentName(agentName)
          .computerName(computerName);
    }

    public static final class Builder {
      private Integer max;
      private String cursor;
      private String aid;
      private List<ExpandEndpointAgentOptions> expand;
      private Boolean includeDeleted;
      private Boolean useAllPermittedAids;
      private String agentName;
      private String computerName;

      public Builder max(Integer max) {
        this.max = max;
        return this;
      }
      public Builder cursor(String cursor) {
        this.cursor = cursor;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder expand(List<ExpandEndpointAgentOptions> expand) {
        this.expand = expand;
        return this;
      }
      public Builder includeDeleted(Boolean includeDeleted) {
        this.includeDeleted = includeDeleted;
        return this;
      }
      public Builder useAllPermittedAids(Boolean useAllPermittedAids) {
        this.useAllPermittedAids = useAllPermittedAids;
        return this;
      }
      public Builder agentName(String agentName) {
        this.agentName = agentName;
        return this;
      }
      public Builder computerName(String computerName) {
        this.computerName = computerName;
        return this;
      }
      public GetEndpointAgentsRequest build() {
        return new GetEndpointAgentsRequest(this);
      }
    }
  }

  /**
   * Get agent connection string
   * 
   * @param request operation parameters (required)
   * @return ConnectionString
   * @throws ApiException if fails to make API call
   */
  public ConnectionString getEndpointAgentsConnectionString(GetEndpointAgentsConnectionStringRequest request) throws ApiException {
    ApiResponse<ConnectionString> response = getEndpointAgentsConnectionStringWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Get agent connection string
   * 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;ConnectionString&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ConnectionString> getEndpointAgentsConnectionStringWithHttpInfo(GetEndpointAgentsConnectionStringRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getEndpointAgentsConnectionString");
    }
    getEndpointAgentsConnectionStringValidateRequest();

    var requestBuilder = getEndpointAgentsConnectionStringRequestBuilder(request.getAid());

    return apiClient.send(requestBuilder.build(), ConnectionString.class);
  }

  private void getEndpointAgentsConnectionStringValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getEndpointAgentsConnectionStringRequestBuilder(String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/endpoint/agents/connection-string";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetEndpointAgentsConnectionStringRequest {
    private final String aid;

    private GetEndpointAgentsConnectionStringRequest(Builder builder) {
      this.aid = builder.aid;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid);
    }

    public static final class Builder {
      private String aid;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetEndpointAgentsConnectionStringRequest build() {
        return new GetEndpointAgentsConnectionStringRequest(this);
      }
    }
  }

  /**
   * Update endpoint agent
   * Updates the agent with the specified &#x60;agent_id&#x60;. This API supports the modification of the following fields:  * &#x60;name&#x60;  * &#x60;licenseType&#x60;  Any attempt to update fields other than those listed above, with a value different from their current value, will result in a 400 Bad Request response. 
   * @param request operation parameters (required)
   * @return EndpointAgent
   * @throws ApiException if fails to make API call
   */
  public EndpointAgent updateEndpointAgent(UpdateEndpointAgentRequest request) throws ApiException {
    ApiResponse<EndpointAgent> response = updateEndpointAgentWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Update endpoint agent
   * Updates the agent with the specified &#x60;agent_id&#x60;. This API supports the modification of the following fields:  * &#x60;name&#x60;  * &#x60;licenseType&#x60;  Any attempt to update fields other than those listed above, with a value different from their current value, will result in a 400 Bad Request response. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;EndpointAgent&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EndpointAgent> updateEndpointAgentWithHttpInfo(UpdateEndpointAgentRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling updateEndpointAgent");
    }
    updateEndpointAgentValidateRequest(request.getAgentId());

    var requestBuilder = updateEndpointAgentRequestBuilder(request.getAgentId(), request.getAid(), request.getExpand(), request.getEndpointAgentUpdate());

    return apiClient.send(requestBuilder.build(), EndpointAgent.class);
  }

  private void updateEndpointAgentValidateRequest(UUID agentId) throws ApiException {
      // verify the required parameter 'agentId' is set
      if (agentId == null) {
        throw new ApiException(400, "Missing the required parameter 'agentId' when calling updateEndpointAgent");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder updateEndpointAgentRequestBuilder(UUID agentId, String aid, List<ExpandEndpointAgentOptions> expand, EndpointAgentUpdate endpointAgentUpdate) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("PATCH");

    String path = "/endpoint/agents/{agentId}"
        .replace("{agentId}", urlEncode(agentId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("csv", "expand", expand));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(endpointAgentUpdate);
    return requestBuilder;
  }

  public static final class UpdateEndpointAgentRequest {
    private final UUID agentId;
    private final String aid;
    private final List<ExpandEndpointAgentOptions> expand;
    private final EndpointAgentUpdate endpointAgentUpdate;

    private UpdateEndpointAgentRequest(Builder builder) {
      this.agentId = builder.agentId;
      this.aid = builder.aid;
      this.expand = builder.expand;
      this.endpointAgentUpdate = builder.endpointAgentUpdate;
    }
    public UUID getAgentId() {
      return agentId;
    }
    public String getAid() {
      return aid;
    }
    public List<ExpandEndpointAgentOptions> getExpand() {
      return expand;
    }
    public EndpointAgentUpdate getEndpointAgentUpdate() {
      return endpointAgentUpdate;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .agentId(agentId)
          .aid(aid)
          .expand(expand)
          .endpointAgentUpdate(endpointAgentUpdate);
    }

    public static final class Builder {
      private UUID agentId;
      private String aid;
      private List<ExpandEndpointAgentOptions> expand;
      private EndpointAgentUpdate endpointAgentUpdate;

      public Builder agentId(UUID agentId) {
        this.agentId = agentId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder expand(List<ExpandEndpointAgentOptions> expand) {
        this.expand = expand;
        return this;
      }
      public Builder endpointAgentUpdate(EndpointAgentUpdate endpointAgentUpdate) {
        this.endpointAgentUpdate = endpointAgentUpdate;
        return this;
      }
      public UpdateEndpointAgentRequest build() {
        return new UpdateEndpointAgentRequest(this);
      }
    }
  }

}
