/*
 * Endpoint Agents API
 * **Note:** The Endpoint Agents Transfer APIs are not available for ThousandEyes for Government instance.  Manage ThousandEyes Endpoint Agents using this API.   For more information about Endpoint Agents, see [Endpoint Agents](https://docs.thousandeyes.com/product-documentation/global-vantage-points/endpoint-agents).
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.endpoint.agents;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.endpoint.agents.model.EndpointAgentLogItemsResponse;
import com.thousandeyes.sdk.endpoint.agents.model.Error;
import java.time.OffsetDateTime;
import java.util.UUID;
import com.thousandeyes.sdk.endpoint.agents.model.UnauthorizedError;
import com.thousandeyes.sdk.endpoint.agents.model.ValidationError;
import com.thousandeyes.sdk.endpoint.agents.model.EndpointAgentLogItem;
import com.thousandeyes.sdk.pagination.Paginator;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class EndpointAgentLogItemsApi {
  private final ApiClient apiClient;

  public EndpointAgentLogItemsApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * List endpoint agent log items with pagination
   * Returns paginated logs for an endpoint agent within the requested time range.
   * @param request operation parameters (required)
   * @return Paginator<EndpointAgentLogItem, EndpointAgentLogItemsResponse>
   */
  public Paginator<EndpointAgentLogItem, EndpointAgentLogItemsResponse> getEndpointAgentLogItemsPaginated(GetEndpointAgentLogItemsRequest request) {
    if (request == null) {
      throw new IllegalArgumentException("Request must not be null when calling getEndpointAgentLogItemsPaginated");
    }
    return new Paginator<>(cursor -> getEndpointAgentLogItems(request.toBuilder()
        .cursor(cursor != null ? cursor : request.getCursor())
        .build()),
                           EndpointAgentLogItemsResponse::getLogs);

  }
  /**
   * List endpoint agent log items
   * Returns paginated logs for an endpoint agent within the requested time range.
   * @param request operation parameters (required)
   * @return EndpointAgentLogItemsResponse
   * @throws ApiException if fails to make API call
   */
  public EndpointAgentLogItemsResponse getEndpointAgentLogItems(GetEndpointAgentLogItemsRequest request) throws ApiException {
    ApiResponse<EndpointAgentLogItemsResponse> response = getEndpointAgentLogItemsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List endpoint agent log items
   * Returns paginated logs for an endpoint agent within the requested time range.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;EndpointAgentLogItemsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EndpointAgentLogItemsResponse> getEndpointAgentLogItemsWithHttpInfo(GetEndpointAgentLogItemsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getEndpointAgentLogItems");
    }
    getEndpointAgentLogItemsValidateRequest(request.getAgentId());

    var requestBuilder = getEndpointAgentLogItemsRequestBuilder(request.getAgentId(), request.getAid(), request.getMax(), request.getCursor(), request.getWindow(), request.getStartDate(), request.getEndDate());

    return apiClient.send(requestBuilder.build(), EndpointAgentLogItemsResponse.class);
  }

  private void getEndpointAgentLogItemsValidateRequest(UUID agentId) throws ApiException {
      // verify the required parameter 'agentId' is set
      if (agentId == null) {
        throw new ApiException(400, "Missing the required parameter 'agentId' when calling getEndpointAgentLogItems");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getEndpointAgentLogItemsRequestBuilder(UUID agentId, String aid, Integer max, String cursor, String window, OffsetDateTime startDate, OffsetDateTime endDate) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/endpoint/agents/{agentId}/logs"
        .replace("{agentId}", urlEncode(agentId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("max", max));
    localVarQueryParams.addAll(parameterToPairs("cursor", cursor));
    localVarQueryParams.addAll(parameterToPairs("window", window));
    localVarQueryParams.addAll(parameterToPairs("startDate", startDate));
    localVarQueryParams.addAll(parameterToPairs("endDate", endDate));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetEndpointAgentLogItemsRequest {
    private final UUID agentId;
    private final String aid;
    private final Integer max;
    private final String cursor;
    private final String window;
    private final OffsetDateTime startDate;
    private final OffsetDateTime endDate;

    private GetEndpointAgentLogItemsRequest(Builder builder) {
      this.agentId = builder.agentId;
      this.aid = builder.aid;
      this.max = builder.max;
      this.cursor = builder.cursor;
      this.window = builder.window;
      this.startDate = builder.startDate;
      this.endDate = builder.endDate;
    }
    public UUID getAgentId() {
      return agentId;
    }
    public String getAid() {
      return aid;
    }
    public Integer getMax() {
      return max;
    }
    public String getCursor() {
      return cursor;
    }
    public String getWindow() {
      return window;
    }
    public OffsetDateTime getStartDate() {
      return startDate;
    }
    public OffsetDateTime getEndDate() {
      return endDate;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .agentId(agentId)
          .aid(aid)
          .max(max)
          .cursor(cursor)
          .window(window)
          .startDate(startDate)
          .endDate(endDate);
    }

    public static final class Builder {
      private UUID agentId;
      private String aid;
      private Integer max;
      private String cursor;
      private String window;
      private OffsetDateTime startDate;
      private OffsetDateTime endDate;

      public Builder agentId(UUID agentId) {
        this.agentId = agentId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder max(Integer max) {
        this.max = max;
        return this;
      }
      public Builder cursor(String cursor) {
        this.cursor = cursor;
        return this;
      }
      public Builder window(String window) {
        this.window = window;
        return this;
      }
      public Builder startDate(OffsetDateTime startDate) {
        this.startDate = startDate;
        return this;
      }
      public Builder endDate(OffsetDateTime endDate) {
        this.endDate = endDate;
        return this;
      }
      public GetEndpointAgentLogItemsRequest build() {
        return new GetEndpointAgentLogItemsRequest(this);
      }
    }
  }

}
