openapi: 3.0.1
info:
  description: |2-

    ## Overview
    Manage all alerts, alert rules and alert suppression windows.
  title: Alerts API
  version: 7.0.0
servers:
- description: Thousandeyes API production URL
  url: https://api.thousandeyes.com
security:
- BearerAuth:
  - read
paths:
  /v7/alerts:
    get:
      description: "Returns a list of active alerts. If no alerts are active within\
        \ the  specified time range, an empty response is returned.  Note that time\
        \ filters (`window`, `startDate`, or `endDate`) are only applied to cleared\
        \ alerts."
      operationId: getAlerts
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: |-
          A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.
          For a precise date range, use `startDate` and `endDate`.
        in: query
        name: window
        schema:
          example: 12h
          pattern: "^\\d+(?:[smhdw]{1})?$"
          type: string
      - description: "Use with the `endDate` parameter. Include the complete time\
          \ (hours, minutes, and seconds) in UTC time zone, following the ISO 8601\
          \ date-time format. See the example for reference. Please note that this\
          \ parameter can't be used with `window`."
        in: query
        name: startDate
        schema:
          example: 2022-07-17T22:00:54Z
          format: date-time
          type: string
      - description: "Defaults to current time the request is made. Use with the `startDate`\
          \ parameter. Include the complete time (hours, minutes, and seconds) in\
          \ UTC time zone, following the ISO 8601 date-time format. See the example\
          \ for reference. Please note that this parameter can't be used with `window`."
        in: query
        name: endDate
        schema:
          example: 2022-07-18T22:00:54Z
          format: date-time
          type: string
      - description: (Optional) Maximum number of objects to return.
        in: query
        name: max
        schema:
          example: 5
          type: number
      - description: "Optional parameter to match a specific alert state. If not specified,\
          \ it defaults to `trigger`."
        explode: false
        in: query
        name: state
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/State'
          - example: trigger
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/getAlerts_200_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: List active alerts
      tags:
      - Alerts
      x-accepts: "application/hal+json,application/problem+json"
  /v7/alerts/{alertId}:
    get:
      description: Returns detailed information about an alert using its ID.
      operationId: getAlertDetails
      parameters:
      - description: Unique alert ID.
        example: e9c3bf02-a48c-4aa8-9e5f-898800d6f569
        explode: false
        in: path
        name: alertId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AlertDetail'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Retrieve alert details
      tags:
      - Alerts
      x-accepts: "application/hal+json,application/problem+json"
  /v7/alerts/rules:
    get:
      description: Returns a list of alert rules. Default rules for each test type
        are indicated with a boolean response (true or false); these default alert
        rules automatically apply to their respective test types.
      operationId: getAlertsRules
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/getAlertsRules_200_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: List alert rules
      tags:
      - Alert Rules
      x-accepts: "application/hal+json,application/problem+json"
    post:
      description: |-
        Creates a new alert rule in your account, using the provided POST data. The `Edit alert rules` permission is required to create an alert rule.
        Note: Assigning an alert rule to a test during creation requires the `Edit tests` permission.
      operationId: createAlertRule
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/RuleDetailUpdate'
        required: true
      responses:
        "201":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/createAlertRule_201_response'
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Invalid field value for field `expand`
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Create alert rule
      tags:
      - Alert Rules
      x-content-type: application/hal+json
      x-accepts: "application/hal+json,application/problem+json"
  /v7/alerts/rules/{ruleId}:
    delete:
      description: "Deletes an alert rule from your account. Users must have both\
        \ `Edit alert rules` and `Edit tests` permissions,  especially if the rule\
        \ is linked to any tests. Without these permissions, an error occurs."
      operationId: deleteAlertRule
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: Unique alert rule ID.
        example: 127094
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json: {}
          description: No content
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Invalid field value for field `expand`
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Delete alert rule
      tags:
      - Alert Rules
      x-accepts: application/json
    get:
      description: "Returns detailed information about an alert rule using the `ruleId`.\
        \ If the `ruleId` doesn’t exist or is inaccessible by your account, an empty\
        \ response is returned."
      operationId: getAlertRuleDetails
      parameters:
      - description: Unique alert rule ID.
        example: 127094
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/getAlertRuleDetails_200_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Retrieve alert rule
      tags:
      - Alert Rules
      x-accepts: "application/hal+json,application/problem+json"
    put:
      description: |-
        Modifies an existing alert rule in your account, using the provided POST data. The `Edit alert rules` permission is required to modify an alert rule.

        Note: Assigning an alert rule to a test during creation requires the `Edit tests` permission.
      operationId: updateAlertRule
      parameters:
      - description: Unique alert rule ID.
        example: 127094
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/RuleDetailUpdate'
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/createAlertRule_201_response'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Invalid field value for field `expand`
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Update alert rule
      tags:
      - Alert Rules
      x-content-type: application/hal+json
      x-accepts: "application/hal+json,application/problem+json"
  /v7/alert-suppression-windows:
    get:
      description: Returns a list of all alert suppression windows configured in your
        account group.
      operationId: getSuppressionWindows
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/getSuppressionWindows_200_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: List alert suppression windows
      tags:
      - Alert Suppression Windows
      x-accepts: "application/hal+json,application/problem+json"
    post:
      description: "Creates a new alert suppression window in ThousandEyes, using\
        \ the  provided POST data. Only Account Admins can create alert suppression\
        \ windows."
      operationId: createSuppressionWindows
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: "Optional parameter on whether or not to expand alert related\
          \ resources.  Without this parameter, there's no default expansion. For\
          \ example, to expand the \"tests\" resource, use the `?expand=test` query."
        explode: false
        in: query
        name: expand
        required: false
        schema:
          example:
          - test
          items:
            $ref: '#/components/schemas/Expand'
          type: array
        style: form
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/AlertSuppressionWindowRequest'
        required: true
      responses:
        "201":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/createSuppressionWindows_201_response'
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Invalid field value for field `expand`
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Create alert suppression window
      tags:
      - Alert Suppression Windows
      x-content-type: application/hal+json
      x-accepts: "application/hal+json,application/problem+json"
  /v7/alert-suppression-windows/{windowId}:
    delete:
      description: Deletes an alert suppression window.
      operationId: deleteSuppressionWindow
      parameters:
      - description: Unique window ID.
        example: 2411
        explode: false
        in: path
        name: windowId
        required: true
        schema:
          type: string
        style: simple
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      responses:
        "204":
          content:
            application/json: {}
          description: No content
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Invalid field value for field `expand`
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Delete alert suppression window
      tags:
      - Alert Suppression Windows
      x-accepts: application/json
    get:
      description: Returns detailed information about an alert suppression window
        configured in your account group.
      operationId: getSuppressionWindowDetails
      parameters:
      - description: Unique window ID.
        example: 2411
        explode: false
        in: path
        name: windowId
        required: true
        schema:
          type: string
        style: simple
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: "Optional parameter on whether or not to expand alert related\
          \ resources.  Without this parameter, there's no default expansion. For\
          \ example, to expand the \"tests\" resource, use the `?expand=test` query."
        explode: false
        in: query
        name: expand
        required: false
        schema:
          example:
          - test
          items:
            $ref: '#/components/schemas/Expand'
          type: array
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/createSuppressionWindows_201_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Retrieve alert suppression window
      tags:
      - Alert Suppression Windows
      x-accepts: "application/hal+json,application/problem+json"
    put:
      description: "Updates an alert suppression window in ThousandEyes, using the\
        \  provided POST data. Only Account Admins can update alert suppression windows."
      operationId: updateSuppressionWindow
      parameters:
      - description: Unique window ID.
        example: 2411
        explode: false
        in: path
        name: windowId
        required: true
        schema:
          type: string
        style: simple
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: "Optional parameter on whether or not to expand alert related\
          \ resources.  Without this parameter, there's no default expansion. For\
          \ example, to expand the \"tests\" resource, use the `?expand=test` query."
        explode: false
        in: query
        name: expand
        required: false
        schema:
          example:
          - test
          items:
            $ref: '#/components/schemas/Expand'
          type: array
        style: form
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/AlertSuppressionWindowRequest'
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/createSuppressionWindows_201_response'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Invalid field value for field `expand`
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Update alert suppression window
      tags:
      - Alert Suppression Windows
      x-content-type: application/hal+json
      x-accepts: "application/hal+json,application/problem+json"
components:
  headers:
    Location:
      description: The absolute path to created resource.
      schema:
        example: https://api.thousandeyes.com/v7/link/to/resource/id
        format: uri
        type: string
  parameters:
    alertId:
      description: Unique alert ID.
      example: e9c3bf02-a48c-4aa8-9e5f-898800d6f569
      explode: false
      in: path
      name: alertId
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    ruleId:
      description: Unique alert rule ID.
      example: 127094
      explode: false
      in: path
      name: ruleId
      required: true
      schema:
        type: string
      style: simple
    windowId:
      description: Unique window ID.
      example: 2411
      explode: false
      in: path
      name: windowId
      required: true
      schema:
        type: string
      style: simple
    expandTest:
      description: "Optional parameter on whether or not to expand alert related resources.\
        \  Without this parameter, there's no default expansion. For example, to expand\
        \ the \"tests\" resource, use the `?expand=test` query."
      explode: false
      in: query
      name: expand
      required: false
      schema:
        example:
        - test
        items:
          $ref: '#/components/schemas/Expand'
        type: array
      style: form
    state:
      description: "Optional parameter to match a specific alert state. If not specified,\
        \ it defaults to `trigger`."
      explode: false
      in: query
      name: state
      required: false
      schema:
        allOf:
        - $ref: '#/components/schemas/State'
        - example: trigger
      style: form
    AccountGroupId:
      description: A unique identifier associated with your account group. You can
        retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that
        you must be assigned to the target account group. Specifying this parameter
        without being assigned to the target account group will result in an error
        response.
      in: query
      name: aid
      required: false
      schema:
        example: "2067"
        type: string
    Window:
      description: |-
        A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.
        For a precise date range, use `startDate` and `endDate`.
      in: query
      name: window
      schema:
        example: 12h
        pattern: "^\\d+(?:[smhdw]{1})?$"
        type: string
    StartDate:
      description: "Use with the `endDate` parameter. Include the complete time (hours,\
        \ minutes, and seconds) in UTC time zone, following the ISO 8601 date-time\
        \ format. See the example for reference. Please note that this parameter can't\
        \ be used with `window`."
      in: query
      name: startDate
      schema:
        example: 2022-07-17T22:00:54Z
        format: date-time
        type: string
    EndDate:
      description: "Defaults to current time the request is made. Use with the `startDate`\
        \ parameter. Include the complete time (hours, minutes, and seconds) in UTC\
        \ time zone, following the ISO 8601 date-time format. See the example for\
        \ reference. Please note that this parameter can't be used with `window`."
      in: query
      name: endDate
      schema:
        example: 2022-07-18T22:00:54Z
        format: date-time
        type: string
    PaginationMax:
      description: (Optional) Maximum number of objects to return.
      in: query
      name: max
      schema:
        example: 5
        type: number
  responses:
    "401":
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
      description: Unauthorized
    "403":
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Insufficient permissions to query endpoint
    "404":
      content:
        application/problem+json:
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI
              or a wrong ID
            instance: /v7
          schema:
            $ref: '#/components/schemas/Error'
      description: Not found
    "429":
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Exhausted rate limit for the organization
    "500":
      content:
        application/problem+json:
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
          schema:
            $ref: '#/components/schemas/Error'
      description: Internal server error
    "400":
      content:
        application/problem+json:
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Invalid field value for field `expand`
            instance: /v7
          schema:
            $ref: '#/components/schemas/Error'
      description: Bad Request
    "204":
      content:
        application/json: {}
      description: No content
  schemas:
    Expand:
      enum:
      - test
      type: string
    Rules:
      properties:
        alertRules:
          items:
            $ref: '#/components/schemas/Rule'
          type: array
      type: object
    Rule:
      properties:
        ruleId:
          description: Unique ID of the rule.
          example: "127094"
          readOnly: true
          type: string
        ruleName:
          description: Name of the alert rule.
          example: The End of the Internet
          type: string
        expression:
          description: The expression of the alert rule.
          example: ((hops((hopDelay >= 100 ms))))
          type: string
        direction:
          $ref: '#/components/schemas/TestDirection'
        notifyOnClear:
          description: Send notification when alert clears.
          example: true
          type: boolean
        isDefault:
          description: "If set to `true`, this alert rule becomes the default for\
            \ its test type and is automatically applied to newly created tests with\
            \ relevant metrics. Only one default alert rule is allowed per test type."
          example: true
          type: boolean
        alertType:
          $ref: '#/components/schemas/AlertType'
        minimumSources:
          description: The minimum number of agents or monitors that must meet the
            specified criteria to trigger the alert.
          example: 10
          type: integer
        minimumSourcesPct:
          description: The minimum percentage of all assigned agents or monitors that
            must meet the specified criteria to trigger the alert.
          example: 99
          type: integer
        roundsViolatingMode:
          $ref: '#/components/schemas/AlertRoundsViolationMode'
        roundsViolatingOutOf:
          description: Specifies the divisor (y value) in the “X of Y times” condition.
          example: 5
          type: integer
        roundsViolatingRequired:
          description: Specifies the numerator (x value) in the “X of Y times” condition.
          example: 2
          type: integer
        includeCoveredPrefixes:
          description: Set true to include covered prefixes in the BGP alert rule.
            Only applicable to BGP alert rules.
          example: true
          type: boolean
        severity:
          $ref: '#/components/schemas/Severity'
      required:
      - alertType
      - expression
      - roundsViolatingOutOf
      - roundsViolatingRequired
      - ruleName
      type: object
    RuleDetail:
      allOf:
      - $ref: '#/components/schemas/Rule'
      - properties:
          notifications:
            $ref: '#/components/schemas/Notification'
          tests:
            items:
              $ref: '#/components/schemas/BaseTest'
            readOnly: true
            type: array
        type: object
    RuleDetailUpdate:
      allOf:
      - $ref: '#/components/schemas/Rule'
      - properties:
          notifications:
            $ref: '#/components/schemas/Notification'
          testIds:
            $ref: '#/components/schemas/RuleTestIds'
        type: object
    BaseAlert:
      allOf:
      - properties:
          id:
            description: A unique ID for each individual alert occurrence.
            example: e9c3bf02-a48c-4aa8-9e5f-898800d6f569
            format: uuid
            readOnly: true
            type: string
          alertType:
            $ref: '#/components/schemas/AlertType'
          startDate:
            $ref: '#/components/schemas/StartDate'
          endDate:
            $ref: '#/components/schemas/EndDate'
          violationCount:
            description: Number of sources that meet the alert criteria.
            example: 2
            type: integer
          duration:
            description: Duration in seconds the alert was active
            example: 60
            format: long
            type: number
        type: object
      - $ref: '#/components/schemas/AlertLinks'
    Alerts:
      properties:
        alerts:
          items:
            $ref: '#/components/schemas/Alert'
          type: array
      type: object
    Alert:
      allOf:
      - $ref: '#/components/schemas/BaseAlert'
      - properties:
          alertRuleId:
            $ref: '#/components/schemas/RuleId'
          alertState:
            $ref: '#/components/schemas/State'
          alertSeverity:
            $ref: '#/components/schemas/Severity'
        type: object
    AlertDetail:
      allOf:
      - $ref: '#/components/schemas/BaseAlert'
      - properties:
          state:
            $ref: '#/components/schemas/State'
          severity:
            $ref: '#/components/schemas/Severity'
          details:
            items:
              $ref: '#/components/schemas/AlertMetricDetail'
            type: array
        type: object
    AlertMetricDetail:
      properties:
        end:
          $ref: '#/components/schemas/AlertMetricDetail_end'
        id:
          description: Unique metric detail id.
          example: "3379"
          type: string
        name:
          description: Geolocation of the alert.
          example: "Bucharest, Romania"
          type: string
        start:
          $ref: '#/components/schemas/AlertMetricDetail_start'
        state:
          $ref: '#/components/schemas/State'
        type:
          description: Type of the alert metric.
          example: cea_agent
          type: string
      type: object
    AlertMetrics:
      properties:
        metrics:
          type: string
      type: object
    StartDate:
      description: "The start date and time (in UTC, ISO 8601 format) for querying\
        \ alerts."
      example: 2020-04-23T13:43:16Z
      format: date-time
      readOnly: true
      type: string
    EndDate:
      description: "The end date and time (in UTC, ISO 8601 format) for querying alerts."
      example: 2020-04-23T13:43:16Z
      format: date-time
      readOnly: true
      type: string
    State:
      description: "Current state of the alert. Possible values: clear or trigger."
      enum:
      - clear
      - trigger
      example: active
      readOnly: true
      type: string
    Notification:
      description: Alert notification object. See Alert notification integrations.
      properties:
        email:
          $ref: '#/components/schemas/NotificationEmail'
        thirdParty:
          description: Third party notifications.
          items:
            $ref: '#/components/schemas/NotificationThirdParty'
          type: array
        webhook:
          description: Webhooks notifications.
          items:
            $ref: '#/components/schemas/NotificationWebhook'
          type: array
      type: object
    NotificationEmail:
      description: Email notifications.
      properties:
        recipients:
          description: An array containing the email addresses to receive notifications.
          example: noreply@thousandeyes.com
          items:
            type: string
          type: array
        message:
          description: Custom text included in alert email notifications sent to recipients.
          example: Notification message
          type: string
      type: object
    NotificationThirdParty:
      description: Webhook notification.
      properties:
        integrationId:
          description: Integration ID.
          example: sl-101
          items:
            type: string
          type: array
        integrationType:
          $ref: '#/components/schemas/ThirdPartyIntegrationType'
      type: object
    ThirdPartyIntegrationType:
      description: Integration type.
      enum:
      - pagerduty
      - slack
      example: slack
      type: string
    NotificationWebhook:
      description: Webhook notification.
      properties:
        integrationId:
          description: Integration ID.
          example: wb-201
          items:
            type: string
          type: array
        integrationType:
          $ref: '#/components/schemas/WebhookIntegrationType'
      type: object
    WebhookIntegrationType:
      description: Integration type.
      enum:
      - webhook
      example: webhook
      type: string
    RuleId:
      description: Unique ID of the rule.
      example: "127094"
      readOnly: true
      type: string
    Severity:
      description: The severity of the alert.
      enum:
      - info
      - major
      - minor
      - critical
      - unknown
      example: major
      type: string
    AlertSuppressionWindows:
      description: Alert suppression windows.
      properties:
        alertSuppressionWindows:
          items:
            $ref: '#/components/schemas/AlertSuppressionWindows_alertSuppressionWindows_inner'
          type: array
      type: object
    AlertSuppressionWindow:
      allOf:
      - description: Alert suppression window.
        properties:
          alertSuppressionWindowId:
            description: Unique ID of the alert suppression window.
            example: "2411"
            readOnly: true
            type: string
          name:
            description: Name of the alert suppression window.
            example: Monthly maintenance
            type: string
          isEnabled:
            description: "Set to `false` for `disabled`, `true` for `enabled`."
            example: false
            type: boolean
          status:
            $ref: '#/components/schemas/AlertSuppressionWindowState'
          startDate:
            description: The date/time when the alert suppression window starts (ISO
              date-time format).
            example: 2017-07-01T05:00:00Z
            format: date-time
            type: string
          duration:
            description: Duration in seconds the suppression window is active.
            example: 0
            type: integer
          repeat:
            $ref: '#/components/schemas/Repeat'
          endRepeat:
            $ref: '#/components/schemas/EndRepeat'
        type: object
    AlertSuppressionWindowState:
      description: Indicates the current status of the suppression window.
      enum:
      - active
      - inactive
      - ended
      example: ended
      readOnly: true
      type: string
    AlertSuppressionWindowRequest:
      allOf:
      - $ref: '#/components/schemas/AlertSuppressionWindow'
      - properties:
          tests:
            description: List of tests to assign to the alert suppression window.
            items:
              example: "71687"
              type: string
            type: array
        type: object
    CompleteAlertSuppressionWindow:
      allOf:
      - $ref: '#/components/schemas/AlertSuppressionWindow'
      - properties:
          tests:
            description: List of tests assigned to the alert suppression window.
            items:
              $ref: '#/components/schemas/BaseTest'
            type: array
        type: object
    Repeat:
      description: Repeat options.
      properties:
        type:
          $ref: '#/components/schemas/RepeatType'
        intervalType:
          $ref: '#/components/schemas/IntervalType'
        intervalLength:
          description: Number of `intervalTypes` to wait before reactivating the alert
            suppression window.
          example: 2
          type: integer
        daysOfWeek:
          items:
            $ref: '#/components/schemas/DaysOfWeek'
          type: array
      type: object
    RepeatType:
      description: Repeat options type.
      enum:
      - day
      - week
      - month
      - custom
      example: week
      type: string
    IntervalType:
      description: Repeat options interval type
      enum:
      - day
      - week
      - month
      example: day
      type: string
    DaysOfWeek:
      description: Specifies the day to activate the alert suppression window. Applicable
        only when `intervalType` is set to `week`.
      enum:
      - sun
      - mon
      - tue
      - wed
      - thu
      - fri
      - sat
      example: sun
      type: string
    EndRepeat:
      description: End repeat options.
      properties:
        type:
          $ref: '#/components/schemas/EndRepeatType'
        count:
          description: "End repeat after number of occurrences, only valid with count\
            \ type option."
          example: 3
          type: integer
        date:
          description: "End repeat after specific date, only valid with date type\
            \ option (ISO date format)."
          example: 2017-07-01
          format: date
          type: string
      type: object
    EndRepeatType:
      description: End repeat options type.
      enum:
      - count
      - never
      - date
      example: never
      type: string
    RuleTestIds:
      description: Array of test IDs to link to alert rule (get `testId` from `/tests`
        endpoint).
      items:
        example: "[\"281474976710706\",\"271659\"]"
        type: string
      type: array
    RuleLinks:
      properties:
        _links:
          $ref: '#/components/schemas/RuleLinks__links'
      readOnly: true
      type: object
    AlertLinks:
      allOf:
      - $ref: '#/components/schemas/SelfLinks'
      - $ref: '#/components/schemas/AppLinks'
      - $ref: '#/components/schemas/RuleLinks'
    SelfLinks:
      properties:
        _links:
          $ref: '#/components/schemas/SelfLinks__links'
      readOnly: true
      type: object
    Link:
      description: A hyperlink from the containing resource to a URI.
      properties:
        href:
          description: "Its value is either a URI [RFC3986] or a URI template [RFC6570]."
          example: https://api.thousandeyes.com/v7/link/to/resource/id
          type: string
        templated:
          description: Should be true when the link object's "href" property is a
            URI template.
          type: boolean
        type:
          description: Used as a hint to indicate the media type expected when dereferencing
            the target resource.
          type: string
        deprecation:
          description: Its presence indicates that the link is to be deprecated at
            a future date. Its value is a URL that should provide further information
            about the deprecation.
          type: string
        name:
          description: Its value may be used as a secondary key for selecting link
            objects that share the same relation type.
          type: string
        profile:
          description: A URI that hints about the profile of the target resource.
          type: string
        title:
          description: Intended for labelling the link with a human-readable identifier
          type: string
        hreflang:
          description: Indicates the language of the target resource
          type: string
      required:
      - href
      type: object
    PaginationLinks:
      description: A links object containing pagination related link(s).
      properties:
        _links:
          $ref: '#/components/schemas/PaginationLinks__links'
      type: object
    UnauthorizedError:
      properties:
        error:
          example: invalid_token
          type: string
        error_description:
          example: Invalid access token
          type: string
      type: object
    Error:
      properties:
        type:
          description: "A URI reference that identifies the problem type. When this\
            \ member is not present, its value is assumed to be \"about:blank\"."
          type: string
        title:
          description: "A short, human-readable summary of the problem type."
          type: string
        status:
          description: The HTTP status code generated by the origin server for this
            occurrence of the problem.
          type: integer
        detail:
          description: A human-readable explanation specific to this occurrence of
            the problem.
          type: string
        instance:
          description: A URI reference that identifies the specific occurrence of
            the problem.
          type: string
      type: object
    AlertDirection:
      $ref: '#/components/schemas/TestDirection'
    TestDirection:
      default: to-target
      description: "Direction of the test, which affects how results are shown."
      enum:
      - to-target
      - from-target
      - bidirectional
      type: string
    AlertType:
      description: "Type of alert being triggered. In multi-layered tests, this value\
        \ represents the layer the alert relates to. See [Alert Details](https://developer.thousandeyes.com/v7/alerts/#/alert-details)\
        \ documentation for a list of possible values"
      enum:
      - page-load
      - http-server
      - end-to-end-server
      - end-to-end-agent
      - voice
      - dns-server
      - dns-trace
      - dnssec
      - bgp
      - path-trace
      - ftp
      - sip-server
      - transactions
      - web-transactions
      - agent
      - network-outage
      - application-outage
      - device-device
      - device-interface
      - endpoint-network-server
      - endpoint-http-server
      - endpoint-path-trace
      - endpoint-browser-sessions-agent
      - endpoint-browser-sessions-application
      - unknown
      example: http-server
      type: string
    AlertRoundsViolationMode:
      description: '`exact` requires that the same agent(s) meet the threshold in
        consecutive rounds; default is `any`'
      enum:
      - exact
      - any
      example: exact
      readOnly: true
      type: string
    BaseTest:
      allOf:
      - $ref: '#/components/schemas/UnexpandedTest'
      - properties:
          alertRules:
            description: Contains list of enabled alert rule objects.
            items:
              $ref: '#/components/schemas/AlertRule'
            type: array
        type: object
    UnexpandedTest:
      properties:
        interval:
          $ref: '#/components/schemas/TestInterval'
        alertsEnabled:
          description: Indicates if alerts are enabled.
          example: true
          type: boolean
        enabled:
          default: true
          description: Test is enabled.
          example: true
          type: boolean
      type: object
    TestInterval:
      description: Interval between test runs in seconds.
      enum:
      - 60
      - 120
      - 300
      - 600
      - 900
      - 1800
      - 3600
      example: 120
      type: integer
    AppLinks:
      properties:
        _links:
          $ref: '#/components/schemas/AppLinks__links'
      readOnly: true
      type: object
    AlertRule:
      properties:
        ruleId:
          description: Unique ID of the rule
          example: "127094"
          readOnly: true
          type: string
        ruleName:
          description: Name of the alert rule
          example: The End of the Internet
          readOnly: true
          type: string
        expression:
          description: String expression of alert rule
          example: ((hops((hopDelay >= 100 ms))))
          readOnly: true
          type: string
        direction:
          $ref: '#/components/schemas/TestDirection'
        isDefault:
          description: "Alert rules allow up to 1 alert rule to be selected as a default\
            \ for each type. By checking the default option, this alert rule will\
            \ be automatically included on subsequently created tests that test a\
            \ metric used in alerting here"
          example: true
          readOnly: true
          type: boolean
        alertType:
          $ref: '#/components/schemas/AlertType'
        minimumSources:
          description: The minimum number of agents or monitors that must meet the
            specified criteria in order to trigger the alert
          example: 10
          readOnly: true
          type: integer
        minimumSourcesPct:
          description: the minimum percentage of all assigned agents or monitors that
            must meet the specified criteria in order to trigger the alert
          example: 99
          readOnly: true
          type: integer
        roundsViolatingMode:
          $ref: '#/components/schemas/AlertRoundsViolationMode'
        roundsViolatingOutOf:
          description: Specifies the divisor (y value) for the “X of Y times” condition.
          example: 5
          readOnly: true
          type: integer
        roundsViolatingRequired:
          description: Specifies the numerator (x value) for the “X of Y times” condition
          example: 2
          readOnly: true
          type: integer
      type: object
    RuleId_1:
      description: Unique ID of the rule
      example: "127094"
      readOnly: true
      type: string
    getAlerts_200_response:
      allOf:
      - $ref: '#/components/schemas/Alerts'
      - $ref: '#/components/schemas/SelfLinks'
      - $ref: '#/components/schemas/PaginationLinks'
    getAlertsRules_200_response:
      allOf:
      - $ref: '#/components/schemas/Rules'
      - $ref: '#/components/schemas/SelfLinks'
    createAlertRule_201_response:
      allOf:
      - $ref: '#/components/schemas/RuleDetailUpdate'
      - $ref: '#/components/schemas/SelfLinks'
    getAlertRuleDetails_200_response:
      allOf:
      - $ref: '#/components/schemas/RuleDetail'
      - $ref: '#/components/schemas/SelfLinks'
    getSuppressionWindows_200_response:
      allOf:
      - $ref: '#/components/schemas/AlertSuppressionWindows'
      - $ref: '#/components/schemas/SelfLinks'
    createSuppressionWindows_201_response:
      allOf:
      - $ref: '#/components/schemas/CompleteAlertSuppressionWindow'
      - $ref: '#/components/schemas/SelfLinks'
    AlertMetricDetail_end:
      allOf:
      - description: "String representation of the metric or metrics being considered\
          \ in the alert rule at the point that the alert was cleared.  If the alert\
          \ is not yet cleared, this field reflects the last round of data gathered\
          \ from the source."
      - $ref: '#/components/schemas/AlertMetrics'
    AlertMetricDetail_start:
      allOf:
      - description: "String representation of the metric at the time that the source\
          \ began alerting.   Note that the alert `start` and `startDate` for a particular\
          \ source do not need to be the same,  as sources may change alerting status\
          \ throughout an alert's lifecycle."
      - $ref: '#/components/schemas/AlertMetrics'
    AlertSuppressionWindows_alertSuppressionWindows_inner:
      allOf:
      - $ref: '#/components/schemas/AlertSuppressionWindow'
      - $ref: '#/components/schemas/SelfLinks'
    RuleLinks__links:
      description: An object containing the alert rule links.
      properties:
        rule:
          $ref: '#/components/schemas/Link'
      type: object
    SelfLinks__links:
      description: A links object containing the self link.
      properties:
        self:
          $ref: '#/components/schemas/Link'
      readOnly: true
      type: object
    PaginationLinks__links:
      properties:
        previous:
          $ref: '#/components/schemas/Link'
        next:
          $ref: '#/components/schemas/Link'
      type: object
    AppLinks__links:
      description: A links object containing the ThousandEyes App link
      properties:
        appLink:
          $ref: '#/components/schemas/Link'
      type: object
  securitySchemes:
    BearerAuth:
      description: Bearer authentication token
      scheme: bearer
      type: http

