openapi: 3.0.1
info:
  description: Retrieve results for scheduled and dynamic tests on endpoint agents.
  title: Endpoint Test Results API
  version: 7.0.0
servers:
- description: Thousandeyes API production URL
  url: https://api.thousandeyes.com
security:
- BearerAuth:
  - read
paths:
  /v7/endpoint/test-results/scheduled-tests/{testId}/network/filter:
    post:
      description: |
        Returns network metrics (loss, latency, and jitter) from each endpoint agent, for each roundId within the specified time window, as determined by search filters. If a time frame is provided, the rounds relevant to that time frame are returned, and the order is not predefined unless the user specifies a sort order in the filter.
        When no time frame is provided, the latest rounds are returned.
      operationId: post-fetch-test-result-metrics
      parameters:
      - description: Test ID
        in: path
        name: testId
        required: true
        schema:
          example: "202701"
          type: string
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: |-
          A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.
          For a precise date range, use `startDate` and `endDate`.
        in: query
        name: window
        schema:
          example: 12h
          pattern: "^\\d+(?:[smhdw]{1})?$"
          type: string
      - description: "Use with the `endDate` parameter. Include the complete time\
          \ (hours, minutes, and seconds) in UTC time zone, following the ISO 8601\
          \ date-time format. See the example for reference. Please note that this\
          \ parameter can't be used with `window`."
        in: query
        name: startDate
        schema:
          example: 2022-07-17T22:00:54Z
          format: date-time
          type: string
      - description: "Defaults to current time the request is made. Use with the `startDate`\
          \ parameter. Include the complete time (hours, minutes, and seconds) in\
          \ UTC time zone, following the ISO 8601 date-time format. See the example\
          \ for reference. Please note that this parameter can't be used with `window`."
        in: query
        name: endDate
        schema:
          example: 2022-07-18T22:00:54Z
          format: date-time
          type: string
      - description: (Optional) Opaque cursor used for pagination. Clients should
          use `_links` instead of this parameter.
        in: query
        name: cursor
        schema:
          type: string
          example: null
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestsDataRoundsSearch'
        description: Tests data search filters.
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/post_fetch_test_result_metrics_200_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: Retrieve network scheduled test results
      tags:
      - Network Scheduled Tests Results
      x-content-type: application/json
      x-accepts: "application/hal+json,application/problem+json"
  /v7/endpoint/test-results/scheduled-tests/network/filter:
    post:
      description: |
        Returns network metrics, including loss, latency, and jitter, for multiple test IDs obtained from each endpoint agent. It allows you to specify a time window using search filters to retrieve metrics for specific round IDs within that time frame. The default order of results is unspecified unless you include a sorting preference in the filter.
        When no time frame is provided, the API returns metrics for the most recent rounds. Access to all accounts associated with the specified test IDs is required to use this endpoint.
      operationId: post-fetch-test-result-metrics-multi-test
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: |-
          A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.
          For a precise date range, use `startDate` and `endDate`.
        in: query
        name: window
        schema:
          example: 12h
          pattern: "^\\d+(?:[smhdw]{1})?$"
          type: string
      - description: "Use with the `endDate` parameter. Include the complete time\
          \ (hours, minutes, and seconds) in UTC time zone, following the ISO 8601\
          \ date-time format. See the example for reference. Please note that this\
          \ parameter can't be used with `window`."
        in: query
        name: startDate
        schema:
          example: 2022-07-17T22:00:54Z
          format: date-time
          type: string
      - description: "Defaults to current time the request is made. Use with the `startDate`\
          \ parameter. Include the complete time (hours, minutes, and seconds) in\
          \ UTC time zone, following the ISO 8601 date-time format. See the example\
          \ for reference. Please note that this parameter can't be used with `window`."
        in: query
        name: endDate
        schema:
          example: 2022-07-18T22:00:54Z
          format: date-time
          type: string
      - description: (Optional) Maximum number of objects to return.
        in: query
        name: max
        schema:
          example: 5
          type: number
      - description: (Optional) Opaque cursor used for pagination. Clients should
          use `_links` instead of this parameter.
        in: query
        name: cursor
        schema:
          type: string
          example: null
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiTestIdTestsDataRoundsSearch'
        description: Test data search filters.
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/post_fetch_test_result_metrics_multi_test_200_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: Retrieve network scheduled test results from multiple tests
      tags:
      - Network Scheduled Tests Results
      x-content-type: application/json
      x-accepts: "application/hal+json,application/problem+json"
  /v7/endpoint/test-results/scheduled-tests/{testId}/pathvis:
    get:
      description: |
        Returns a summary of the path visualization data collected from each endpoint agent to the destination. In each path visualization attempt, one attempt is made to reach the destination. Each set of data is summarized, based on response time, number of hops, and response time to the target. A time frame must be specified, or the most recent round within last 2 hours is returned.
      operationId: get-test-result-network-pathvis
      parameters:
      - description: Test ID
        in: path
        name: testId
        required: true
        schema:
          example: "202701"
          type: string
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: |-
          A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.
          For a precise date range, use `startDate` and `endDate`.
        in: query
        name: window
        schema:
          example: 12h
          pattern: "^\\d+(?:[smhdw]{1})?$"
          type: string
      - description: "Use with the `endDate` parameter. Include the complete time\
          \ (hours, minutes, and seconds) in UTC time zone, following the ISO 8601\
          \ date-time format. See the example for reference. Please note that this\
          \ parameter can't be used with `window`."
        in: query
        name: startDate
        schema:
          example: 2022-07-17T22:00:54Z
          format: date-time
          type: string
      - description: "Defaults to current time the request is made. Use with the `startDate`\
          \ parameter. Include the complete time (hours, minutes, and seconds) in\
          \ UTC time zone, following the ISO 8601 date-time format. See the example\
          \ for reference. Please note that this parameter can't be used with `window`."
        in: query
        name: endDate
        schema:
          example: 2022-07-18T22:00:54Z
          format: date-time
          type: string
      - description: (Optional) Opaque cursor used for pagination. Clients should
          use `_links` instead of this parameter.
        in: query
        name: cursor
        schema:
          type: string
          example: null
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/get_test_result_network_pathvis_200_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: Retrieve pathvis network scheduled test results
      tags:
      - Network Scheduled Tests Results
      x-accepts: "application/hal+json,application/problem+json"
  /v7/endpoint/test-results/scheduled-tests/{testId}/pathvis/agent/{agentId}/round/{roundId}:
    get:
      description: |
        Returns a hop-by-hop summary of the path trace data collected during path visualization. In each round, one path discovery attempt is made to reach the destination. The entire path is returned. A `roundId` must be specified.
      operationId: get-test-result-pathvis-agent-round
      parameters:
      - description: Test ID
        in: path
        name: testId
        required: true
        schema:
          example: "202701"
          type: string
      - description: Agent ID
        in: path
        name: agentId
        required: true
        schema:
          example: "11"
          type: string
      - description: Round ID
        in: path
        name: roundId
        required: true
        schema:
          example: "1384309800"
          type: string
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/get_test_result_pathvis_agent_round_200_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: Retrieve pathvis network scheduled test results details
      tags:
      - Network Scheduled Tests Results
      x-accepts: "application/hal+json,application/problem+json"
  /v7/endpoint/test-results/scheduled-tests/{testId}/http-server:
    get:
      description: |
        Returns component-level (DNS, Connect, Wait and Receive) timing for the load of an object over HTTP.
      operationId: get-test-result-http-server
      parameters:
      - description: Test ID
        in: path
        name: testId
        required: true
        schema:
          example: "202701"
          type: string
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: |-
          A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.
          For a precise date range, use `startDate` and `endDate`.
        in: query
        name: window
        schema:
          example: 12h
          pattern: "^\\d+(?:[smhdw]{1})?$"
          type: string
      - description: "Use with the `endDate` parameter. Include the complete time\
          \ (hours, minutes, and seconds) in UTC time zone, following the ISO 8601\
          \ date-time format. See the example for reference. Please note that this\
          \ parameter can't be used with `window`."
        in: query
        name: startDate
        schema:
          example: 2022-07-17T22:00:54Z
          format: date-time
          type: string
      - description: "Defaults to current time the request is made. Use with the `startDate`\
          \ parameter. Include the complete time (hours, minutes, and seconds) in\
          \ UTC time zone, following the ISO 8601 date-time format. See the example\
          \ for reference. Please note that this parameter can't be used with `window`."
        in: query
        name: endDate
        schema:
          example: 2022-07-18T22:00:54Z
          format: date-time
          type: string
      - description: (Optional) Opaque cursor used for pagination. Clients should
          use `_links` instead of this parameter.
        in: query
        name: cursor
        schema:
          type: string
          example: null
      - description: "This parameter is optional and determines whether to expand\
          \ resources related to test results. By default, no expansion occurs when\
          \ this query parameter is omitted. To expand a specific resource, such as\
          \ \"header,\" append `?expand=header` to the query."
        explode: false
        in: query
        name: expand
        required: false
        schema:
          example:
          - header
          items:
            $ref: '#/components/schemas/Expand'
          type: array
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/get_test_result_http_server_200_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: Retrieve HTTP server scheduled test results
      tags:
      - Web HTTP Server Scheduled Test Results
      x-accepts: "application/hal+json,application/problem+json"
  /v7/endpoint/test-results/dynamic-tests/{testId}/network/filter:
    post:
      description: |
        Returns network metrics (`loss`, `latency`, `jitter` and `bandwidth`) from each endpoint agent, for each `roundId` in the requested window. When Time Frame is provided the rounds specific to the time frame is returned and the order is not pre-defined unless a user specifies the sort order in filter. When no time frame is provided the latest rounds are returned.
      operationId: post-fetch-dynamic-test-result-metrics
      parameters:
      - description: Test ID
        in: path
        name: testId
        required: true
        schema:
          example: "202701"
          type: string
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: |-
          A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.
          For a precise date range, use `startDate` and `endDate`.
        in: query
        name: window
        schema:
          example: 12h
          pattern: "^\\d+(?:[smhdw]{1})?$"
          type: string
      - description: "Use with the `endDate` parameter. Include the complete time\
          \ (hours, minutes, and seconds) in UTC time zone, following the ISO 8601\
          \ date-time format. See the example for reference. Please note that this\
          \ parameter can't be used with `window`."
        in: query
        name: startDate
        schema:
          example: 2022-07-17T22:00:54Z
          format: date-time
          type: string
      - description: "Defaults to current time the request is made. Use with the `startDate`\
          \ parameter. Include the complete time (hours, minutes, and seconds) in\
          \ UTC time zone, following the ISO 8601 date-time format. See the example\
          \ for reference. Please note that this parameter can't be used with `window`."
        in: query
        name: endDate
        schema:
          example: 2022-07-18T22:00:54Z
          format: date-time
          type: string
      - description: (Optional) Opaque cursor used for pagination. Clients should
          use `_links` instead of this parameter.
        in: query
        name: cursor
        schema:
          type: string
          example: null
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicTestsDataRoundSearch'
        description: Tests data search filters.
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/post_fetch_dynamic_test_result_metrics_200_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: Retrieve network dynamic test results
      tags:
      - Network Dynamic Tests Results
      x-content-type: application/json
      x-accepts: "application/hal+json,application/problem+json"
  /v7/endpoint/test-results/dynamic-tests/{testId}/pathvis:
    get:
      description: |
        Returns a summary of the path visualization data collected from each endpoint agent to the destination. In each path visualization attempt, one attempt is made to reach the destination. Each set of data is summarized, based on response time, number of hops, and response time to the target. A time frame must be specified, or the most recent round within last 2 hours will be returned.
      operationId: get-dynamic-test-result-network-pathvis
      parameters:
      - description: Test ID
        in: path
        name: testId
        required: true
        schema:
          example: "202701"
          type: string
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: |-
          A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.
          For a precise date range, use `startDate` and `endDate`.
        in: query
        name: window
        schema:
          example: 12h
          pattern: "^\\d+(?:[smhdw]{1})?$"
          type: string
      - description: "Use with the `endDate` parameter. Include the complete time\
          \ (hours, minutes, and seconds) in UTC time zone, following the ISO 8601\
          \ date-time format. See the example for reference. Please note that this\
          \ parameter can't be used with `window`."
        in: query
        name: startDate
        schema:
          example: 2022-07-17T22:00:54Z
          format: date-time
          type: string
      - description: "Defaults to current time the request is made. Use with the `startDate`\
          \ parameter. Include the complete time (hours, minutes, and seconds) in\
          \ UTC time zone, following the ISO 8601 date-time format. See the example\
          \ for reference. Please note that this parameter can't be used with `window`."
        in: query
        name: endDate
        schema:
          example: 2022-07-18T22:00:54Z
          format: date-time
          type: string
      - description: (Optional) Opaque cursor used for pagination. Clients should
          use `_links` instead of this parameter.
        in: query
        name: cursor
        schema:
          type: string
          example: null
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/get_dynamic_test_result_network_pathvis_200_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: Retrieve pathvis network dynamic test results
      tags:
      - Network Dynamic Tests Results
      x-accepts: "application/hal+json,application/problem+json"
  /v7/endpoint/test-results/dynamic-tests/{testId}/pathvis/agent/{agentId}/round/{roundId}:
    get:
      description: |
        Returns a hop-by-hop summary of the path trace data collected during path visualization. In each round, one path discovery attempt is made to reach the destination. The entire path is returned. A `roundId` must be specified.
      operationId: get-dynamic-test-result-pathvis-agent-round
      parameters:
      - description: Test ID
        in: path
        name: testId
        required: true
        schema:
          example: "202701"
          type: string
      - description: Agent ID
        in: path
        name: agentId
        required: true
        schema:
          example: "11"
          type: string
      - description: Round ID
        in: path
        name: roundId
        required: true
        schema:
          example: "1384309800"
          type: string
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/get_dynamic_test_result_pathvis_agent_round_200_response'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Invalid field value for field `expand`
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: Retrieve pathvis network dynamic test results details
      tags:
      - Network Dynamic Tests Results
      x-accepts: "application/hal+json,application/problem+json"
  /v7/endpoint/test-results/real-user-tests/filter:
    post:
      description: |
        Returns a list of all endpoint real user tests.
        Results from the last round are provided unless an explicit start and end is provided with `startDate`, `endDate` or `window` optional parameters.

        ## Request body filters
        This endpoint supports complex filtering using the request body.
        It is important these filters remain unaltered when making use of pagination, otherwise the results will not be coherent with the original request.

        ### Multiple filter fields
        When multiple filter fields are provided, a logical `AND` is applied between the filters.
         ```
        curl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/filter'
        --header 'Authorization: Bearer $token'
        --header 'Content-Type: application/json'
        --data-raw '{
          "searchFilters": {
            "platform": [ "mac" ],
            "domain": [ "thousandeyes.com" ]
          }}'
        ```

        ### Filter field with multiple values
        When a filter field contains multiple values, a logical `OR` is applied between the filter values.
         ```
        curl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/filter'
        --header 'Authorization: Bearer $token'
        --header 'Content-Type: application/json'
        --data-raw '{
            "searchFilters": {
              "networkId": [ "660b34109d12", "660b34109d15" ]
            }
          }'
        ```

        ### Combination of request parameters and body filters
        ```
        curl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/filter?window=1w'
        --header 'Authorization: Bearer $token'
        --header 'Content-Type: application/json'
        --data-raw '{
            "searchFilters": {
              "platform": [ "mac" ],
              "domain": [ "thousandeyes.com" ],
              "networkId": [ "660b34109d12", "660b34109d15" ]
            }
          }'
        ```

        Returns a `results` array of endpoint real user tests.
        Either the latest results, or based on the time range and body filters specified.
      operationId: get-endpoint-real-user-tests
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: |-
          A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.
          For a precise date range, use `startDate` and `endDate`.
        in: query
        name: window
        schema:
          example: 12h
          pattern: "^\\d+(?:[smhdw]{1})?$"
          type: string
      - description: "Use with the `endDate` parameter. Include the complete time\
          \ (hours, minutes, and seconds) in UTC time zone, following the ISO 8601\
          \ date-time format. See the example for reference. Please note that this\
          \ parameter can't be used with `window`."
        in: query
        name: startDate
        schema:
          example: 2022-07-17T22:00:54Z
          format: date-time
          type: string
      - description: "Defaults to current time the request is made. Use with the `startDate`\
          \ parameter. Include the complete time (hours, minutes, and seconds) in\
          \ UTC time zone, following the ISO 8601 date-time format. See the example\
          \ for reference. Please note that this parameter can't be used with `window`."
        in: query
        name: endDate
        schema:
          example: 2022-07-18T22:00:54Z
          format: date-time
          type: string
      - description: (Optional) Opaque cursor used for pagination. Clients should
          use `_links` instead of this parameter.
        in: query
        name: cursor
        schema:
          type: string
          example: null
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/get_endpoint_real_user_tests_request'
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/get_endpoint_real_user_tests_200_response'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Invalid field value for field `expand`
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: List endpoint real user tests
      tags:
      - Real User Tests Results
      x-content-type: application/json
      x-accepts: "application/hal+json,application/problem+json"
  /v7/endpoint/test-results/real-user-tests/{id}:
    get:
      description: |
        Provides details for an endpoint real user test. Returns a results array containing detailed information about endpoint real user tests."
      operationId: get-endpoint-real-user-test-details
      parameters:
      - description: The real user test id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 07625:1490529480:h3qJQTpl
          type: string
        style: simple
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/get_endpoint_real_user_test_details_200_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: Retrieve endpoint real user test
      tags:
      - Real User Tests Results
      x-accepts: "application/hal+json,application/problem+json"
  /v7/endpoint/test-results/real-user-tests/pages/filter:
    post:
      description: "Returns a list of all endpoint real user tests visited pages.\
        \ \nSessions from the last round are provided unless an explicit start and\
        \ end is provided with `startDate`, `endDate` or `window` optional parameters.\n\
        \n## Request body filters\nThis endpoint supports complex filtering using\
        \ the request body.\nIt is important these filters remain unaltered when making\
        \ use of pagination, otherwise the results will not be coherent with the original\
        \ request.\n\n### Multiple filter fields\nWhen multiple filter fields are\
        \ provided, a logical `AND` is applied between the filters.\n ```\ncurl --location\
        \ --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/pages/filter'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n\
        --data-raw '{\n  \"searchFilters\": {\n    \"platform\": [ \"mac\" ],\n  \
        \  \"domain\": [ \"thousandeyes.com\" ]\n  }}'\n```\n\n### Filter field with\
        \ multiple values\nWhen a filter field contains multiple values, a logical\
        \ `OR` is applied between the filter values.\n ```\ncurl --location --request\
        \ POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/pages/filter'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n\
        --data-raw '{\n  \"searchFilters\": {\n    \"networkId\": [ \"660b34109d12\"\
        , \"660b34109d15\" ]\n  }}'\n```\n\n### Combination of request parameters\
        \ and body filters\n```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/pages/filter?window=1w'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n\
        --data-raw '{\n  \"searchFilters\": {\n    \"platform\": [ \"mac\" ],\n  \
        \  \"domain\": [ \"thousandeyes.com\" ],\n    \"networkId\": [ \"660b34109d12\"\
        , \"660b34109d15\" ]\n  }}'\n```\n\nReturns a `results` array of user loaded\
        \ pages in an endpoint real user test. \nPages shown are from the latest round,\
        \ or based on the time range specified.\n"
      operationId: get-endpoint-real-user-tests-pages
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: |-
          A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.
          For a precise date range, use `startDate` and `endDate`.
        in: query
        name: window
        schema:
          example: 12h
          pattern: "^\\d+(?:[smhdw]{1})?$"
          type: string
      - description: "Use with the `endDate` parameter. Include the complete time\
          \ (hours, minutes, and seconds) in UTC time zone, following the ISO 8601\
          \ date-time format. See the example for reference. Please note that this\
          \ parameter can't be used with `window`."
        in: query
        name: startDate
        schema:
          example: 2022-07-17T22:00:54Z
          format: date-time
          type: string
      - description: "Defaults to current time the request is made. Use with the `startDate`\
          \ parameter. Include the complete time (hours, minutes, and seconds) in\
          \ UTC time zone, following the ISO 8601 date-time format. See the example\
          \ for reference. Please note that this parameter can't be used with `window`."
        in: query
        name: endDate
        schema:
          example: 2022-07-18T22:00:54Z
          format: date-time
          type: string
      - description: (Optional) Opaque cursor used for pagination. Clients should
          use `_links` instead of this parameter.
        in: query
        name: cursor
        schema:
          type: string
          example: null
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointRealUserTestResultRequestFilter'
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/get_endpoint_real_user_tests_pages_200_response'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Invalid field value for field `expand`
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: List endpoint real user tests visited pages
      tags:
      - Real User Tests Results
      x-content-type: application/json
      x-accepts: "application/hal+json,application/problem+json"
  /v7/endpoint/test-results/real-user-tests/{id}/pages/{pageId}:
    get:
      description: "Returns details for endpoint real user test web page request.\
        \ \nProvides complete waterfall information with all object requests.\n\n\
        Sends back detailed endpoint real user test web page request.\n\nReturned\
        \ object has a single field: `har` which is an HAR object according to the\
        \ HTTP Archive 1.2 specifications. \n[You can read more about the specification](http://www.softwareishard.com/blog/har-12-spec/).\n\
        \nIn addition to standard fields, the object har includes a custom property\
        \ `systemMetrics` which contain metrics about CPU and physical memory usage.\
        \ \nCheck `SystemMetrics` on schemas tab for more information.\n"
      operationId: get-endpoint-real-user-test-pages-details
      parameters:
      - description: The real user test id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 07625:1490529480:h3qJQTpl
          type: string
        style: simple
      - description: Web page ID
        in: path
        name: pageId
        required: true
        schema:
          example: "281474976710706"
          type: string
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/get_endpoint_real_user_test_pages_details_200_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: Retrieve endpoint real user test page
      tags:
      - Real User Tests Results
      x-accepts: "application/hal+json,application/problem+json"
  /v7/endpoint/test-results/real-user-tests/networks/filter:
    post:
      description: "Returns a list of all endpoint real user tests. \nSessions from\
        \ the last round are provided unless an explicit start and end is provided\
        \ with `startDate`, `endDate` or `window` optional parameters.\n\n## Request\
        \ body filters\nThis endpoint supports complex filtering using the request\
        \ body.\nIt is important these filters remain unaltered when making use of\
        \ pagination, otherwise the results will not be coherent with the original\
        \ request.\n\n### Multiple filter fields\nWhen multiple filter fields are\
        \ provided, a logical `AND` is applied between the filters.\n ```\ncurl --location\
        \ --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/networks/filter'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n\
        --data-raw '{\n   \"searchFilters\": {\n    \"platform\": [ \"mac\" ],\n \
        \   \"domain\": [ \"thousandeyes.com\" ]\n  }}'\n```\n\n### Filter field with\
        \ multiple values\nWhen a filter field contains multiple values, a logical\
        \ `OR` is applied between the filter values.\n ```\ncurl --location --request\
        \ POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/networks/filter'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n\
        --data-raw '{\n  \"searchFilters\": {\n    \"networkId\": [ \"660b34109d12\"\
        , \"660b34109d15\" ]\n  }}'\n```\n\n### Combination of request parameters\
        \ and body filters\n```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/networks/filter?window=1w'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n\
        --data-raw '{\n  \"searchFilters\": {\n    \"platform\": [ \"mac\" ],\n  \
        \  \"domain\": [ \"thousandeyes.com\" ],\n    \"networkId\": [ \"660b34109d12\"\
        , \"660b34109d15\" ]\n  }}'\n```\n\nReturns a `results` array of endpoint\
        \ real user tests. \nNetwork sessions shown are from the latest round, or\
        \ based on the time range specified.\n"
      operationId: get-endpoint-real-user-tests-network
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: |-
          A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.
          For a precise date range, use `startDate` and `endDate`.
        in: query
        name: window
        schema:
          example: 12h
          pattern: "^\\d+(?:[smhdw]{1})?$"
          type: string
      - description: "Use with the `endDate` parameter. Include the complete time\
          \ (hours, minutes, and seconds) in UTC time zone, following the ISO 8601\
          \ date-time format. See the example for reference. Please note that this\
          \ parameter can't be used with `window`."
        in: query
        name: startDate
        schema:
          example: 2022-07-17T22:00:54Z
          format: date-time
          type: string
      - description: "Defaults to current time the request is made. Use with the `startDate`\
          \ parameter. Include the complete time (hours, minutes, and seconds) in\
          \ UTC time zone, following the ISO 8601 date-time format. See the example\
          \ for reference. Please note that this parameter can't be used with `window`."
        in: query
        name: endDate
        schema:
          example: 2022-07-18T22:00:54Z
          format: date-time
          type: string
      - description: (Optional) Opaque cursor used for pagination. Clients should
          use `_links` instead of this parameter.
        in: query
        name: cursor
        schema:
          type: string
          example: null
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/get_endpoint_real_user_tests_request'
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/get_endpoint_real_user_tests_network_200_response'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Invalid field value for field `expand`
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: List endpoint real user tests
      tags:
      - Real User Tests Results
      x-content-type: application/json
      x-accepts: "application/hal+json,application/problem+json"
  /v7/endpoint/test-results/local-networks:
    get:
      description: |
        Returns a list of all the networks used by endpoint agents.

        Sends back a `localNetworks` array.
      operationId: get-endpoint-local-networks
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/get_endpoint_local_networks_200_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: List local networks
      tags:
      - Local Network Tests Results
      x-accepts: "application/hal+json,application/problem+json"
  /v7/endpoint/test-results/local-networks/topologies/filter:
    post:
      description: "Returns a list of all endpoint local network topologies probes.\
        \ \nResults from the last round are provided unless an explicit start and\
        \ end is provided with `startDate`, `endDate` or `window` optional parameters.\n\
        \n## Request body filters\nThis endpoint supports complex filtering using\
        \ the request body.\nIt is important these filters remain unaltered when making\
        \ use of pagination, otherwise the results will not be coherent with the original\
        \ request.\n\n### Multiple filter fields\nWhen multiple filter fields are\
        \ provided, a logical `AND` is applied between the filters.\n ```\ncurl --location\
        \ --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/local-networks/topologies/filter'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n\
        --data-raw '{\n  \"searchFilters\": {\n    \"platform\": [ \"mac\" ],\n  \
        \  \"domain\": [ \"thousandeyes.com\" ]\n  }}'\n```\n\n### Filter field with\
        \ multiple values\nWhen a filter field contains multiple values, a logical\
        \ `OR` is applied between the filter values.\n ```\ncurl --location --request\
        \ POST 'https://api.thousandeyes.com/v7/endpoint/test-results/local-networks/topologies/filter'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n\
        --data-raw '{\n  \"searchFilters\": {\n    \"networkId\": [ \"660b34109d12\"\
        , \"660b34109d15\" ]\n  }}'\n```\n\n### Combination of request parameters\
        \ and body filters\n```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/local-networks/topologies/filter?window=12h'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n\
        --data-raw '{\n  \"searchFilters\": {\n    \"platform\": [ \"mac\" ],\n  \
        \  \"domain\": [ \"thousandeyes.com\" ],\n    \"networkId\": [ \"660b34109d12\"\
        , \"660b34109d15\" ]\n  }}'\n```\n\n### Warning\nNote that a maximum of 12h\
        \ worth of data can be retrieved at once. \nIf you need more, you need to\
        \ make multiple requests.\n\nReturns a `results` array of network topology\
        \ probes. \nNetwork topology probes shown are from the latest round, or based\
        \ on the time range specified.\n"
      operationId: get-endpoint-local-networks-topologies
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: |-
          A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.
          For a precise date range, use `startDate` and `endDate`.
        in: query
        name: window
        schema:
          example: 12h
          pattern: "^\\d+(?:[smhdw]{1})?$"
          type: string
      - description: "Use with the `endDate` parameter. Include the complete time\
          \ (hours, minutes, and seconds) in UTC time zone, following the ISO 8601\
          \ date-time format. See the example for reference. Please note that this\
          \ parameter can't be used with `window`."
        in: query
        name: startDate
        schema:
          example: 2022-07-17T22:00:54Z
          format: date-time
          type: string
      - description: "Defaults to current time the request is made. Use with the `startDate`\
          \ parameter. Include the complete time (hours, minutes, and seconds) in\
          \ UTC time zone, following the ISO 8601 date-time format. See the example\
          \ for reference. Please note that this parameter can't be used with `window`."
        in: query
        name: endDate
        schema:
          example: 2022-07-18T22:00:54Z
          format: date-time
          type: string
      - description: (Optional) Opaque cursor used for pagination. Clients should
          use `_links` instead of this parameter.
        in: query
        name: cursor
        schema:
          type: string
          example: null
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/get_endpoint_local_networks_topologies_request'
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/get_endpoint_local_networks_topologies_200_response'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Invalid field value for field `expand`
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: List endpoint network topologies probes
      tags:
      - Local Network Tests Results
      x-content-type: application/json
      x-accepts: "application/hal+json,application/problem+json"
  /v7/endpoint/test-results/local-networks/topologies/{networkTopologyId}:
    get:
      description: |
        Returns detailed data of a local network topology.
      operationId: get-endpoint-local-network-topology-details
      parameters:
      - description: The network topology ID.
        explode: false
        in: path
        name: networkTopologyId
        required: true
        schema:
          example: 00160:39c518560de9:1491651900:236e6f18
          type: string
        style: simple
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/get_endpoint_local_network_topology_details_200_response'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        "502":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Gateway
      summary: Retrieve endpoint local network topology
      tags:
      - Local Network Tests Results
      x-accepts: "application/hal+json,application/problem+json"
components:
  parameters:
    NetworkTopologyIdPath:
      description: The network topology ID.
      explode: false
      in: path
      name: networkTopologyId
      required: true
      schema:
        example: 00160:39c518560de9:1491651900:236e6f18
        type: string
      style: simple
    IdPath:
      description: The real user test id.
      explode: false
      in: path
      name: id
      required: true
      schema:
        example: 07625:1490529480:h3qJQTpl
        type: string
      style: simple
    HttpServerExpand:
      description: "This parameter is optional and determines whether to expand resources\
        \ related to test results. By default, no expansion occurs when this query\
        \ parameter is omitted. To expand a specific resource, such as \"header,\"\
        \ append `?expand=header` to the query."
      explode: false
      in: query
      name: expand
      required: false
      schema:
        example:
        - header
        items:
          $ref: '#/components/schemas/Expand'
        type: array
      style: form
    TestIdPath:
      description: Test ID
      in: path
      name: testId
      required: true
      schema:
        example: "202701"
        type: string
    AccountGroupId:
      description: A unique identifier associated with your account group. You can
        retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that
        you must be assigned to the target account group. Specifying this parameter
        without being assigned to the target account group will result in an error
        response.
      in: query
      name: aid
      required: false
      schema:
        example: "2067"
        type: string
    Window:
      description: |-
        A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.
        For a precise date range, use `startDate` and `endDate`.
      in: query
      name: window
      schema:
        example: 12h
        pattern: "^\\d+(?:[smhdw]{1})?$"
        type: string
    StartDate:
      description: "Use with the `endDate` parameter. Include the complete time (hours,\
        \ minutes, and seconds) in UTC time zone, following the ISO 8601 date-time\
        \ format. See the example for reference. Please note that this parameter can't\
        \ be used with `window`."
      in: query
      name: startDate
      schema:
        example: 2022-07-17T22:00:54Z
        format: date-time
        type: string
    EndDate:
      description: "Defaults to current time the request is made. Use with the `startDate`\
        \ parameter. Include the complete time (hours, minutes, and seconds) in UTC\
        \ time zone, following the ISO 8601 date-time format. See the example for\
        \ reference. Please note that this parameter can't be used with `window`."
      in: query
      name: endDate
      schema:
        example: 2022-07-18T22:00:54Z
        format: date-time
        type: string
    PaginationCursor:
      description: (Optional) Opaque cursor used for pagination. Clients should use
        `_links` instead of this parameter.
      in: query
      name: cursor
      schema:
        type: string
        example: null
    PaginationMax:
      description: (Optional) Maximum number of objects to return.
      in: query
      name: max
      schema:
        example: 5
        type: number
    AgentIdPath:
      description: Agent ID
      in: path
      name: agentId
      required: true
      schema:
        example: "11"
        type: string
    RoundIdPath:
      description: Round ID
      in: path
      name: roundId
      required: true
      schema:
        example: "1384309800"
        type: string
    PageIdPath:
      description: Web page ID
      in: path
      name: pageId
      required: true
      schema:
        example: "281474976710706"
        type: string
  responses:
    "401":
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
      description: Unauthorized
    "403":
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Insufficient permissions to query endpoint
    "404":
      content:
        application/problem+json:
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI
              or a wrong ID
            instance: /v7
          schema:
            $ref: '#/components/schemas/Error'
      description: Not found
    "429":
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Exhausted rate limit for the organization
    "500":
      content:
        application/problem+json:
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
          schema:
            $ref: '#/components/schemas/Error'
      description: Internal server error
    "502":
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Bad Gateway
    "400":
      content:
        application/problem+json:
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Invalid field value for field `expand`
            instance: /v7
          schema:
            $ref: '#/components/schemas/Error'
      description: Bad Request
  schemas:
    AgentId:
      description: "Unique ID of endpoint agent, from `/endpoint/agents` endpoint."
      example: 861b7557-cd57-4bbb-b648-00bddf88ef49
      format: uuid
      readOnly: true
      type: string
    RoundId:
      description: Epoch time (seconds) indicating the start time of the round.
      example: 1384309800
      readOnly: true
      type: integer
    TestsDataRoundsSearch:
      example:
        searchSort:
        - sort: null
          order: desc
        - sort: null
          order: desc
        searchFilters:
          agentId:
          - 52455b09-ff1b-4849-8194-99026cc890e0
          - 52455b09-ff1b-4849-8194-99026cc890e0
        thresholdFilter:
          conditionalOperator: null
          filters:
          - name: null
            value: 0.8008281904610115
            operator: null
          - name: null
            value: 0.8008281904610115
            operator: null
      properties:
        searchSort:
          items:
            $ref: '#/components/schemas/TestsDataSearchSort'
          type: array
        thresholdFilter:
          $ref: '#/components/schemas/TestsDataThresholdFilters'
        searchFilters:
          $ref: '#/components/schemas/TestsDataSearchFilter'
      type: object
    MultiTestIdTestsDataRoundsSearch:
      example:
        searchSort:
        - sort: null
          order: desc
        - sort: null
          order: desc
        searchFilters:
          agentId:
          - 52455b09-ff1b-4849-8194-99026cc890e0
          - 52455b09-ff1b-4849-8194-99026cc890e0
          testId:
          - "5"
          - "5"
        thresholdFilter:
          conditionalOperator: null
          filters:
          - name: null
            value: 0.8008281904610115
            operator: null
          - name: null
            value: 0.8008281904610115
            operator: null
      properties:
        searchSort:
          items:
            $ref: '#/components/schemas/TestsDataSearchSort'
          type: array
        thresholdFilter:
          $ref: '#/components/schemas/TestsDataThresholdFilters'
        searchFilters:
          $ref: '#/components/schemas/MultiTestIdTestsDataSearchFilter'
      type: object
    DynamicTestsDataRoundSearch:
      example:
        searchSort:
        - sort: null
          order: desc
        - sort: null
          order: desc
        searchFilters:
          agentId:
          - 52455b09-ff1b-4849-8194-99026cc890e0
          - 52455b09-ff1b-4849-8194-99026cc890e0
          webexConferenceId:
          - 52455b09-ff1b-4849-8194-99026cc890e0
          - 52455b09-ff1b-4849-8194-99026cc890e0
        thresholdFilter:
          conditionalOperator: null
          filters:
          - name: null
            value: 0.8008281904610115
            operator: null
          - name: null
            value: 0.8008281904610115
            operator: null
      properties:
        searchSort:
          items:
            $ref: '#/components/schemas/TestsDataSearchSort'
          type: array
        thresholdFilter:
          $ref: '#/components/schemas/TestsDataThresholdFilters'
        searchFilters:
          $ref: '#/components/schemas/DynamicTestsDataSearchFilter'
      type: object
    TestsDataSearchSort:
      example:
        sort: null
        order: desc
      properties:
        sort:
          $ref: '#/components/schemas/TestsDataSearchSortKey'
        order:
          $ref: '#/components/schemas/SortOrder'
      type: object
    TestsDataSearchSortKey:
      enum:
      - round-id
      - loss
      - latency
      - jitter
      - cpu
      - memory
      - signal-quality
      type: string
    TestsDataThresholdFilters:
      description: All filters are applied based on the conditional operator (and/or).
      example:
        conditionalOperator: null
        filters:
        - name: null
          value: 0.8008281904610115
          operator: null
        - name: null
          value: 0.8008281904610115
          operator: null
      properties:
        filters:
          items:
            $ref: '#/components/schemas/TestsDataThresholdFilter'
          type: array
        conditionalOperator:
          $ref: '#/components/schemas/ConditionalOperator'
      type: object
    TestsDataThresholdFilter:
      description: The metric is filtered based on the threshold value and operator
        provided.
      example:
        name: null
        value: 0.8008281904610115
        operator: null
      properties:
        name:
          $ref: '#/components/schemas/ThresholdFilterName'
        value:
          description: The threshold value.
          format: double
          type: number
        operator:
          $ref: '#/components/schemas/ThresholdFilterOperator'
      type: object
    ThresholdFilterName:
      description: Metric on which the threshold filter is applied.
      enum:
      - loss
      - latency
      - jitter
      - cpu
      - memory
      - signal-quality
      type: string
    ThresholdFilterOperator:
      enum:
      - gte
      - lte
      type: string
    ConditionalOperator:
      enum:
      - and
      - or
      type: string
    TestsDataSearchFilter:
      example:
        agentId:
        - 52455b09-ff1b-4849-8194-99026cc890e0
        - 52455b09-ff1b-4849-8194-99026cc890e0
      properties:
        agentId:
          description: Filter using the `agent-id`.
          items:
            example: 52455b09-ff1b-4849-8194-99026cc890e0
            format: uuid
            type: string
          type: array
      type: object
    MultiTestIdTestsDataSearchFilter:
      example:
        agentId:
        - 52455b09-ff1b-4849-8194-99026cc890e0
        - 52455b09-ff1b-4849-8194-99026cc890e0
        testId:
        - "5"
        - "5"
      properties:
        agentId:
          description: Filter using the `agent-id`.
          items:
            example: 52455b09-ff1b-4849-8194-99026cc890e0
            format: uuid
            type: string
          type: array
        testId:
          items:
            example: "5"
            type: string
          type: array
      type: object
    DynamicTestsDataSearchFilter:
      example:
        agentId:
        - 52455b09-ff1b-4849-8194-99026cc890e0
        - 52455b09-ff1b-4849-8194-99026cc890e0
        webexConferenceId:
        - 52455b09-ff1b-4849-8194-99026cc890e0
        - 52455b09-ff1b-4849-8194-99026cc890e0
      properties:
        agentId:
          description: Filter using the `agent-id`.
          items:
            example: 52455b09-ff1b-4849-8194-99026cc890e0
            format: uuid
            type: string
          type: array
        webexConferenceId:
          description: Filter using the `conference-id` of the webex call.
          items:
            example: 52455b09-ff1b-4849-8194-99026cc890e0
            format: uuid
            type: string
          type: array
      type: object
    TestResult:
      allOf:
      - properties:
          agentId:
            $ref: '#/components/schemas/AgentId'
          aid:
            $ref: '#/components/schemas/AccountGroupId'
          roundId:
            $ref: '#/components/schemas/RoundId'
          serverIp:
            description: IP address of target server.
            example: 185.199.108.153
            readOnly: true
            type: string
          systemMetrics:
            $ref: '#/components/schemas/SystemMetrics'
          vpnProfile:
            $ref: '#/components/schemas/VpnProfile'
        type: object
    NetworkTestResults:
      properties:
        results:
          items:
            $ref: '#/components/schemas/NetworkTestResult'
          type: array
        test:
          $ref: '#/components/schemas/EndpointScheduledTest'
      type: object
    MultiTestIdNetworkTestResults:
      properties:
        results:
          items:
            $ref: '#/components/schemas/NetworkTestResult'
          type: array
      type: object
    NetworkTestResult:
      allOf:
      - $ref: '#/components/schemas/TestResult'
      - properties:
          networkProfile:
            $ref: '#/components/schemas/NetworkProfile'
          avgLatency:
            description: Average RTT for packets sent to destination.
            example: 167.04
            format: double
            readOnly: true
            type: number
          errorDetails:
            description: "Error details, if an error was encountered."
            example: Error
            readOnly: true
            type: string
          jitter:
            description: Standard deviation of latency.
            example: 0.076808
            format: double
            readOnly: true
            type: number
          isIcmpBlocked:
            $ref: '#/components/schemas/IcmpBlocked'
          loss:
            description: Percentage of packets not reaching destination.
            example: 0.0
            format: double
            readOnly: true
            type: number
          maxLatency:
            description: Maximum RTT for packets sent to destination.
            example: 168.0
            format: double
            readOnly: true
            type: number
          minLatency:
            description: Minimum RTT for packets sent to destination.
            example: 167.0
            format: double
            readOnly: true
            type: number
        type: object
    SystemMetrics:
      properties:
        startTimeMs:
          description: "The start time of metrics collection, expressed in milliseconds\
            \ since the Epoch."
          example: 1581508857327
          format: integer
          readOnly: true
          type: number
        endTimeMs:
          description: "The end time of metrics collection, expressed in milliseconds\
            \ since the Epoch."
          example: 1581508867333
          format: integer
          readOnly: true
          type: number
        cpuUtilization:
          $ref: '#/components/schemas/CpuUtilization'
        physicalMemoryUsedBytes:
          $ref: '#/components/schemas/PhysicalMemoryUsedBytes'
        physicalMemoryTotalBytes:
          description: Total physical memory of the system.
          example: 1024
          format: long
          readOnly: true
          type: number
      type: object
    CpuUtilization:
      properties:
        min:
          description: The minimum sampled usage value recorded during the monitored
            period.
          example: 0.22
          format: double
          maximum: 1.0
          minimum: 0.0
          readOnly: true
          type: number
        max:
          description: The maximum sampled usage value recorded during the monitored
            period.
          example: 0.75
          format: double
          maximum: 1.0
          minimum: 0.0
          readOnly: true
          type: number
        mean:
          description: The mean (average) sampled usage value recorded during the
            monitored period.
          example: 0.55
          format: double
          maximum: 1.0
          minimum: 0.0
          readOnly: true
          type: number
        median:
          description: The median sampled usage value recorded during the monitored
            period.
          example: 0.61
          format: double
          maximum: 1.0
          minimum: 0.0
          readOnly: true
          type: number
        stdDev:
          description: The standard deviation of sampled usage values recorded during
            the monitored period.
          example: 0.01
          format: double
          maximum: 1.0
          minimum: 0.0
          readOnly: true
          type: number
        count:
          description: The total number of samples collected during the monitored
            period.
          example: 150
          format: integer
          readOnly: true
          type: number
      type: object
    PhysicalMemoryUsedBytes:
      properties:
        min:
          description: The minimum sampled memory usage value recorded during the
            monitored period.
          example: 1.2
          format: double
          readOnly: true
          type: number
        max:
          description: The maximum sampled memory usage value recorded during the
            monitored period.
          example: 2.5
          format: double
          readOnly: true
          type: number
        mean:
          description: The mean (average) value of memory usage sampled over the monitored
            period.
          example: 1.77
          format: double
          readOnly: true
          type: number
        median:
          description: The median value of memory usage sampled over the monitored
            period.
          example: 1.85
          format: double
          readOnly: true
          type: number
        stdDev:
          description: The standard deviation of memory usage sampled during the monitored
            period.
          example: 0.25
          format: double
          readOnly: true
          type: number
        count:
          description: The total number of samples collected during the monitored
            period..
          example: 155
          format: integer
          readOnly: true
          type: number
      type: object
    VpnProfile:
      properties:
        vpnClientAddresses:
          description: A list of private IP addresses assigned to the device by the
[...]
