openapi: 3.0.1
info:
  description: |2

    Configure ThousandEyes to stream or push test data to a OpenTelemetry compliant endpoint with the ThousandEyes for OpenTelemetry API.
  title: ThousandEyes for OpenTelemetry
  version: 7.0.0
servers:
- description: Thousandeyes API production URL
  url: https://api.thousandeyes.com
security:
- BearerAuth:
  - read
tags:
- description: Configure data streaming
  name: Streaming
paths:
  /v7/stream:
    get:
      description: Retrieves a list of configured data streams.
      operationId: getStreams
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: Optional filter on type of Stream; should match one of Stream
          `type` enum
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/StreamType'
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/StreamCollection'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: List data streams
      tags:
      - Streaming
      x-accepts: application/json
    post:
      description: Creates a new data stream.
      operationId: createStream
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Stream'
        description: Stream to configure
      responses:
        "201":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CreateStreamResponse'
          description: item created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "409":
          description: An existing item already exists
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorIntegrationLimits'
          description: Reached limit on number of streams (maximum 1 data stream per
            account group)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Create data stream
      tags:
      - Streaming
      x-content-type: application/json
      x-accepts: application/json
  /v7/stream/{id}:
    delete:
      description: Deletes a configured data stream using its ID.
      operationId: deleteStream
      parameters:
      - description: ID of stream to query
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      responses:
        "204":
          content:
            application/json: {}
          description: No content
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Delete a data stream
      tags:
      - Streaming
      x-accepts: application/json
    get:
      description: Retrieves a configured data stream using its ID.
      operationId: getStream
      parameters:
      - description: ID of stream to query
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      - description: Optional filter on type of Stream; should match one of Stream
          `type` enum
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/StreamType'
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/GetStreamResponse'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Retrieve data stream
      tags:
      - Streaming
      x-accepts: application/json
    put:
      description: "Updates a configured data stream using its ID. The fields are\
        \ overwritten, not appended."
      operationId: putStream
      parameters:
      - description: ID of stream to query
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "2067"
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutStream'
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/GetStreamResponse'
          description: Stream updated
        "204":
          content:
            application/json: {}
          description: No content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Update data stream
      tags:
      - Streaming
      x-content-type: application/json
      x-accepts: application/json
components:
  parameters:
    AccountGroupId:
      description: A unique identifier associated with your account group. You can
        retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that
        you must be assigned to the target account group. Specifying this parameter
        without being assigned to the target account group will result in an error
        response.
      in: query
      name: aid
      required: false
      schema:
        example: "2067"
        type: string
  requestBodies:
    assignBatchUsingPOST_ObjectIds:
      content:
        application/json:
          schema:
            items:
              format: int64
              type: integer
            type: array
      description: objectIds
      required: true
  responses:
    "401":
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
      description: Unauthorized
    "204":
      content:
        application/json: {}
      description: No content
  schemas:
    StreamType:
      description: "The type of data stream to configure. Currently, only `opentelemetry`\
        \ is supported."
      enum:
      - opentelemetry
      example: opentelemetry
      type: string
    AuditOperation:
      properties:
        createdBy:
          description: ID of the user who created the integration
          example: 3962
          format: int64
          type: integer
        createdDate:
          description: Creation date of the integration
          example: 1679677853573
          format: int64
          type: integer
      type: object
    AuditOperationWithUpdate:
      allOf:
      - $ref: '#/components/schemas/AuditOperation'
      - properties:
          updatedBy:
            description: ID of the user who last updated the integration
            example: 3962
            format: int64
            nullable: true
            type: integer
          updatedDate:
            description: Date of the last update to the integration
            example: 1679677853573
            format: int64
            nullable: true
            type: integer
        type: object
    PutStream:
      example:
        tagMatch:
        - objectType: test
          key: keyA
          value: valueA
        - objectType: test
          key: keyB
          value: valueB
        customHeaders:
          Authorization: '*****'
          Content-Type: '*****'
        enabled: false
      properties:
        customHeaders:
          additionalProperties:
            type: string
          description: Custom headers
          example:
            Authorization: '*****'
            Content-Type: '*****'
          type: object
        tagMatch:
          description: A collection of tags that determine what tests are included
            in the data stream. These tag values are also included as attributes in
            the data stream metrics.
          example:
          - objectType: test
            key: keyA
            value: valueA
          - objectType: test
            key: keyB
            value: valueB
          items:
            $ref: '#/components/schemas/PutStream_tagMatch_inner'
          type: array
        enabled:
          description: Flag to enable or disable the stream integration.
          example: false
          type: boolean
      type: object
    TagMatchObjectType:
      description: The object type of tag
      enum:
      - test
      example: test
      type: string
    Stream:
      allOf:
      - properties:
          type:
            $ref: '#/components/schemas/StreamType'
          endpointType:
            $ref: '#/components/schemas/EndpointType'
          streamEndpointUrl:
            description: "The URL ThousandEyes sends data stream to.\nFor a URL to\
              \ be valid, it needs to: - Be syntactically correct. - Be reachable.\
              \ - Use the HTTPS protocol. - When using the `grpc` endpointType, streamEndpointUrl\
              \ cannot contain paths:\n    - Valid . `grpc` - `https://example.com`\n\
              \    - Invalid . `grpc` - `https://example.com/collector`.\n    - Valid\
              \ . `http` - `https://example.com/collector`.\n    \n- When using the\
              \ `http` endpointType, the endpoint must match the exact final full\
              \ URL (including the path if there is one) to which the metrics will\
              \ be sent. Examples below:\n    - `https://api.honeycomb.io:443/v1/metrics`\n\
              \    - `https://ingest.eu0.signalfx.com/v2/datapoint/otlp`"
            example: https://api.thousandeyes.otel-collector
            type: string
        type: object
      - $ref: '#/components/schemas/PutStream'
    EndpointType:
      default: grpc
      description: The type of connection used to send data to the endpoint.
      enum:
      - grpc
      - http
      example: grpc
      type: string
    StreamResponse:
      properties:
        id:
          description: The data stream ID
          example: 342ieu09
          readOnly: true
          type: string
        enabled:
          description: Flag to indicate if the stream integration is currently enabled.
          example: false
          readOnly: true
          type: boolean
        _links:
          $ref: '#/components/schemas/StreamResponse__links'
      type: object
    GetStreamResponse:
      allOf:
      - $ref: '#/components/schemas/StreamResponse'
      - $ref: '#/components/schemas/Stream'
      - properties:
          auditOperation:
            $ref: '#/components/schemas/AuditOperationWithUpdate'
        type: object
    CreateStreamResponse:
      allOf:
      - $ref: '#/components/schemas/StreamResponse'
      - $ref: '#/components/schemas/Stream'
      - properties:
          auditOperation:
            $ref: '#/components/schemas/AuditOperation'
        type: object
    StreamCollection:
      items:
        $ref: '#/components/schemas/GetStreamResponse'
      type: array
    BadRequestError:
      properties:
        timestamp:
          example: 1679677853573
          format: int64
          type: integer
        httpStatus:
          example: BAD_REQUEST
          type: string
        errors:
          items:
            example: "JSON parse error: invalid type"
            type: string
          type: array
        path:
          example: https://api.thousandeyes.com/v7/stream
          format: url
          type: string
      type: object
    ApiError:
      properties:
        timestamp:
          example: 1679677853573
          format: int64
          type: integer
        status:
          example: 500
          type: integer
        errors:
          example: Internal Server Error
          type: string
        path:
          example: https://api.thousandeyes.com/v7/stream
          format: url
          type: string
      type: object
    ApiErrorIntegrationLimits:
      properties:
        timestamp:
          example: 1679677853573
          format: int64
          type: integer
        httpStatus:
          example: PRECONDITION_FAILED
          type: string
        errors:
          items:
            example: User cannot create more than 5 integrations
            type: string
          type: array
        path:
          example: https://api.thousandeyes.com/v7/stream
          format: url
          type: string
      type: object
    UnauthorizedError:
      properties:
        error:
          example: invalid_token
          type: string
        error_description:
          example: Invalid access token
          type: string
      type: object
    PutStream_tagMatch_inner:
      properties:
        objectType:
          $ref: '#/components/schemas/TagMatchObjectType'
        key:
          description: The name of the tag key to match
          example: keyA
          type: string
        value:
          description: The value of the tag to match
          example: valueA
          type: string
      type: object
    StreamResponse__links_self:
      properties:
        href:
          example: https://api.thousandeyes.com/v7/streams/575766da-9664-4e85-94fe-facbe1154799
          format: url
          type: string
      type: object
    StreamResponse__links:
      properties:
        self:
          $ref: '#/components/schemas/StreamResponse__links_self'
      readOnly: true
      type: object
  securitySchemes:
    BearerAuth:
      description: Bearer authentication token
      scheme: bearer
      type: http

