/*
 * Internet Insights API
 * **Note:** All Internet Insights APIs are not available for ThousandEyes for Government instance.  We are happy to announce the release of the Internet Insights API set. This limited release includes endpoints that:  * Make our catalog provider and Internet outage data accessible to API users. * Provide access to advanced filtering, which is part of our next-generation API efforts to allow API users to fine-tune queries across all of our APIs in a consistent manner.  Internet Insights provide visibility into core Internet infrastructure, including ISPs, DNS providers, IaaS, CDNs , and SaaS providers. It tracks the macro-level impact of Internet events on individual users and enterprise networks connecting at the edge of the Internet. These events include Outages, Routing hijacks and leaks, DDoS attacks, And political interference, among others.  Future releases of the Internet Insights API set will further unlock access to core Internet Insights functionality, unlocking potential integrations to enrich customer process flows.  For more information about Internet Insights, see the [Internet Insights](https://docs.thousandeyes.com/product-documentation/internet-insights). 
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.internet.insights;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.internet.insights.model.ApiCatalogProviderDetails;
import com.thousandeyes.sdk.internet.insights.model.ApiCatalogProviderFilter;
import com.thousandeyes.sdk.internet.insights.model.ApiCatalogProviderResponse;
import com.thousandeyes.sdk.internet.insights.model.Error;
import java.util.UUID;
import com.thousandeyes.sdk.internet.insights.model.UnauthorizedError;
import com.thousandeyes.sdk.internet.insights.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class InternetInsightsCatalogProvidersApi {
  private final ApiClient apiClient;

  public InternetInsightsCatalogProvidersApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * List catalog providers
   * Returns a list of catalog providers using the specified filters. Returns high-level information about each catalog provider. For more details about a specific provider, call the Get a catalog provider endpoint.  &lt;b&gt;Note:&lt;/b&gt; Support for pagination will be added in the future. 
   * @param request operation parameters (required)
   * @return ApiCatalogProviderResponse
   * @throws ApiException if fails to make API call
   */
  public ApiCatalogProviderResponse filterCatalogProviders(FilterCatalogProvidersRequest request) throws ApiException {
    ApiResponse<ApiCatalogProviderResponse> response = filterCatalogProvidersWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List catalog providers
   * Returns a list of catalog providers using the specified filters. Returns high-level information about each catalog provider. For more details about a specific provider, call the Get a catalog provider endpoint.  &lt;b&gt;Note:&lt;/b&gt; Support for pagination will be added in the future. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;ApiCatalogProviderResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ApiCatalogProviderResponse> filterCatalogProvidersWithHttpInfo(FilterCatalogProvidersRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling filterCatalogProviders");
    }
    filterCatalogProvidersValidateRequest(request.getApiCatalogProviderFilter());

    var requestBuilder = filterCatalogProvidersRequestBuilder(request.getApiCatalogProviderFilter(), request.getAid());

    return apiClient.send(requestBuilder.build(), ApiCatalogProviderResponse.class);
  }

  private void filterCatalogProvidersValidateRequest(ApiCatalogProviderFilter apiCatalogProviderFilter) throws ApiException {
      // verify the required parameter 'apiCatalogProviderFilter' is set
      if (apiCatalogProviderFilter == null) {
        throw new ApiException(400, "Missing the required parameter 'apiCatalogProviderFilter' when calling filterCatalogProviders");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder filterCatalogProvidersRequestBuilder(ApiCatalogProviderFilter apiCatalogProviderFilter, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/internet-insights/catalog/providers/filter";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(apiCatalogProviderFilter);
    return requestBuilder;
  }

  public static final class FilterCatalogProvidersRequest {
    private final ApiCatalogProviderFilter apiCatalogProviderFilter;
    private final String aid;

    private FilterCatalogProvidersRequest(Builder builder) {
      this.apiCatalogProviderFilter = builder.apiCatalogProviderFilter;
      this.aid = builder.aid;
    }
    public ApiCatalogProviderFilter getApiCatalogProviderFilter() {
      return apiCatalogProviderFilter;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .apiCatalogProviderFilter(apiCatalogProviderFilter)
          .aid(aid);
    }

    public static final class Builder {
      private ApiCatalogProviderFilter apiCatalogProviderFilter;
      private String aid;

      public Builder apiCatalogProviderFilter(ApiCatalogProviderFilter apiCatalogProviderFilter) {
        this.apiCatalogProviderFilter = apiCatalogProviderFilter;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public FilterCatalogProvidersRequest build() {
        return new FilterCatalogProvidersRequest(this);
      }
    }
  }

  /**
   * Retrieve a catalog provider
   * Returns the details of a catalog provider. 
   * @param request operation parameters (required)
   * @return ApiCatalogProviderDetails
   * @throws ApiException if fails to make API call
   */
  public ApiCatalogProviderDetails getCatalogProvider(GetCatalogProviderRequest request) throws ApiException {
    ApiResponse<ApiCatalogProviderDetails> response = getCatalogProviderWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Retrieve a catalog provider
   * Returns the details of a catalog provider. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;ApiCatalogProviderDetails&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ApiCatalogProviderDetails> getCatalogProviderWithHttpInfo(GetCatalogProviderRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getCatalogProvider");
    }
    getCatalogProviderValidateRequest(request.getProviderId());

    var requestBuilder = getCatalogProviderRequestBuilder(request.getProviderId(), request.getAid());

    return apiClient.send(requestBuilder.build(), ApiCatalogProviderDetails.class);
  }

  private void getCatalogProviderValidateRequest(UUID providerId) throws ApiException {
      // verify the required parameter 'providerId' is set
      if (providerId == null) {
        throw new ApiException(400, "Missing the required parameter 'providerId' when calling getCatalogProvider");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getCatalogProviderRequestBuilder(UUID providerId, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/internet-insights/catalog/providers/{providerId}"
        .replace("{providerId}", urlEncode(providerId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetCatalogProviderRequest {
    private final UUID providerId;
    private final String aid;

    private GetCatalogProviderRequest(Builder builder) {
      this.providerId = builder.providerId;
      this.aid = builder.aid;
    }
    public UUID getProviderId() {
      return providerId;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .providerId(providerId)
          .aid(aid);
    }

    public static final class Builder {
      private UUID providerId;
      private String aid;

      public Builder providerId(UUID providerId) {
        this.providerId = providerId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetCatalogProviderRequest build() {
        return new GetCatalogProviderRequest(this);
      }
    }
  }

}
