/*
 * Usage API
 * These usage endpoints define the following operations:  * **Usage**: Retrieve usage data for the specified time period (default is one month).          * Users must have the `View organization usage` permission to access this endpoint.     * This operation offers visibility across all account groups within the organization.     * Users with `View organization usage` permission in multiple organizations should query the operation with the `aid` query string parameter (see optional parameters) for each organization.     * The `agentId` field in enterprise agent unit responses may be omitted when not available.  * **Quotas**: Obtain organization and account usage quotas. Additionally, users with the appropriate permissions can create, update, or delete these quotas.          * Users must have the necessary permissions to perform quota-related actions.  Refer to the Usage API operations for detailed usage instructions and optional parameters. 
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.usage;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.usage.model.Error;
import com.thousandeyes.sdk.usage.model.OrganizationsQuotasAssign;
import com.thousandeyes.sdk.usage.model.OrganizationsQuotasUnassign;
import com.thousandeyes.sdk.usage.model.Quotas;
import com.thousandeyes.sdk.usage.model.QuotasAssignRequest;
import com.thousandeyes.sdk.usage.model.QuotasAssignResponse;
import com.thousandeyes.sdk.usage.model.QuotasUnassign;
import com.thousandeyes.sdk.usage.model.UnauthorizedError;
import com.thousandeyes.sdk.usage.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class QuotasApi {
  private final ApiClient apiClient;

  public QuotasApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Create or update accout group quotas
   * This operation assigns quota values to multiple account groups across multiple organizations. To use this endpoint, you need the &#x60;Edit organization and account group quotas&#x60; permission, which is a management-level permission. This operation follows a cumulative behavior––This means that the quotas are assigned to the designated account groups, and any previous assignments remain in place without any unassignment occurring.
   * @param request operation parameters (required)
   * @return OrganizationsQuotasAssign
   * @throws ApiException if fails to make API call
   */
  public OrganizationsQuotasAssign assignOrganizationsAccountGroupsQuotas(AssignOrganizationsAccountGroupsQuotasRequest request) throws ApiException {
    ApiResponse<OrganizationsQuotasAssign> response = assignOrganizationsAccountGroupsQuotasWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Create or update accout group quotas
   * This operation assigns quota values to multiple account groups across multiple organizations. To use this endpoint, you need the &#x60;Edit organization and account group quotas&#x60; permission, which is a management-level permission. This operation follows a cumulative behavior––This means that the quotas are assigned to the designated account groups, and any previous assignments remain in place without any unassignment occurring.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;OrganizationsQuotasAssign&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<OrganizationsQuotasAssign> assignOrganizationsAccountGroupsQuotasWithHttpInfo(AssignOrganizationsAccountGroupsQuotasRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling assignOrganizationsAccountGroupsQuotas");
    }
    assignOrganizationsAccountGroupsQuotasValidateRequest();

    var requestBuilder = assignOrganizationsAccountGroupsQuotasRequestBuilder(request.getOrganizationsQuotasAssign());

    return apiClient.send(requestBuilder.build(), OrganizationsQuotasAssign.class);
  }

  private void assignOrganizationsAccountGroupsQuotasValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder assignOrganizationsAccountGroupsQuotasRequestBuilder(OrganizationsQuotasAssign organizationsQuotasAssign) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/quotas/account-groups/assign";
    requestBuilder.path(path);


    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(organizationsQuotasAssign);
    return requestBuilder;
  }

  public static final class AssignOrganizationsAccountGroupsQuotasRequest {
    private final OrganizationsQuotasAssign organizationsQuotasAssign;

    private AssignOrganizationsAccountGroupsQuotasRequest(Builder builder) {
      this.organizationsQuotasAssign = builder.organizationsQuotasAssign;
    }
    public OrganizationsQuotasAssign getOrganizationsQuotasAssign() {
      return organizationsQuotasAssign;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .organizationsQuotasAssign(organizationsQuotasAssign);
    }

    public static final class Builder {
      private OrganizationsQuotasAssign organizationsQuotasAssign;

      public Builder organizationsQuotasAssign(OrganizationsQuotasAssign organizationsQuotasAssign) {
        this.organizationsQuotasAssign = organizationsQuotasAssign;
        return this;
      }
      public AssignOrganizationsAccountGroupsQuotasRequest build() {
        return new AssignOrganizationsAccountGroupsQuotasRequest(this);
      }
    }
  }

  /**
   * Create or update organizations quotas
   * This operation recieves a list of organization quotas to create or update. If there&#39;s no specific &#x60;orgId&#x60; defined for a quota, it defaults to using the authenticated organization. To use this endpoint, you need the &#x60;Edit organization and account group quotas&#x60; permission, which is a management-level permission. This operation follows cumulative behavior––This means that the quotas are assigned to the specified organizations, and any previous assignments remain unchanged; no unassignments occur.
   * @param request operation parameters (required)
   * @return QuotasAssignResponse
   * @throws ApiException if fails to make API call
   */
  public QuotasAssignResponse assignOrganizationsQuotas(AssignOrganizationsQuotasRequest request) throws ApiException {
    ApiResponse<QuotasAssignResponse> response = assignOrganizationsQuotasWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Create or update organizations quotas
   * This operation recieves a list of organization quotas to create or update. If there&#39;s no specific &#x60;orgId&#x60; defined for a quota, it defaults to using the authenticated organization. To use this endpoint, you need the &#x60;Edit organization and account group quotas&#x60; permission, which is a management-level permission. This operation follows cumulative behavior––This means that the quotas are assigned to the specified organizations, and any previous assignments remain unchanged; no unassignments occur.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;QuotasAssignResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<QuotasAssignResponse> assignOrganizationsQuotasWithHttpInfo(AssignOrganizationsQuotasRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling assignOrganizationsQuotas");
    }
    assignOrganizationsQuotasValidateRequest();

    var requestBuilder = assignOrganizationsQuotasRequestBuilder(request.getQuotasAssignRequest());

    return apiClient.send(requestBuilder.build(), QuotasAssignResponse.class);
  }

  private void assignOrganizationsQuotasValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder assignOrganizationsQuotasRequestBuilder(QuotasAssignRequest quotasAssignRequest) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/quotas/assign";
    requestBuilder.path(path);


    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(quotasAssignRequest);
    return requestBuilder;
  }

  public static final class AssignOrganizationsQuotasRequest {
    private final QuotasAssignRequest quotasAssignRequest;

    private AssignOrganizationsQuotasRequest(Builder builder) {
      this.quotasAssignRequest = builder.quotasAssignRequest;
    }
    public QuotasAssignRequest getQuotasAssignRequest() {
      return quotasAssignRequest;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .quotasAssignRequest(quotasAssignRequest);
    }

    public static final class Builder {
      private QuotasAssignRequest quotasAssignRequest;

      public Builder quotasAssignRequest(QuotasAssignRequest quotasAssignRequest) {
        this.quotasAssignRequest = quotasAssignRequest;
        return this;
      }
      public AssignOrganizationsQuotasRequest build() {
        return new AssignOrganizationsQuotasRequest(this);
      }
    }
  }

  /**
   * Get organization and account group usage quota
   * This operation retrieves usage quotas for both organization and account groups. To use this endpoint, you need the &#x60;Edit organization and account group quotas&#x60; permission, which is a management-level permission. If a user has quota update permission in multiple organizations, the API returns data from all such organizations.
   * @return Quotas
   * @throws ApiException if fails to make API call
   */
  public Quotas getQuotas() throws ApiException {
    ApiResponse<Quotas> response = getQuotasWithHttpInfo();
    return response.getData();
  }

  /**
   * Get organization and account group usage quota
   * This operation retrieves usage quotas for both organization and account groups. To use this endpoint, you need the &#x60;Edit organization and account group quotas&#x60; permission, which is a management-level permission. If a user has quota update permission in multiple organizations, the API returns data from all such organizations.
   * @return ApiResponse&lt;Quotas&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Quotas> getQuotasWithHttpInfo() throws ApiException {
    getQuotasValidateRequest();

    var requestBuilder = getQuotasRequestBuilder();

    return apiClient.send(requestBuilder.build(), Quotas.class);
  }

  private void getQuotasValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getQuotasRequestBuilder() throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/quotas";
    requestBuilder.path(path);


    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }
  /**
   * Remove account group quotas from organizations
   * This operation removes quotas from multiple account groups across multiple organizations. To use this endpoint, you need the &#x60;Edit organization and account group quotas&#x60; permission, which is a management-level permission.
   * @param request operation parameters (required)
   * @throws ApiException if fails to make API call
   */
  public void unassignOrganizationsAccountGroupsQuotas(UnassignOrganizationsAccountGroupsQuotasRequest request) throws ApiException {
    unassignOrganizationsAccountGroupsQuotasWithHttpInfo(request);
  }

  /**
   * Remove account group quotas from organizations
   * This operation removes quotas from multiple account groups across multiple organizations. To use this endpoint, you need the &#x60;Edit organization and account group quotas&#x60; permission, which is a management-level permission.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> unassignOrganizationsAccountGroupsQuotasWithHttpInfo(UnassignOrganizationsAccountGroupsQuotasRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling unassignOrganizationsAccountGroupsQuotas");
    }
    unassignOrganizationsAccountGroupsQuotasValidateRequest();

    var requestBuilder = unassignOrganizationsAccountGroupsQuotasRequestBuilder(request.getOrganizationsQuotasUnassign());

    return apiClient.send(requestBuilder.build(), Void.class);
  }

  private void unassignOrganizationsAccountGroupsQuotasValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder unassignOrganizationsAccountGroupsQuotasRequestBuilder(OrganizationsQuotasUnassign organizationsQuotasUnassign) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/quotas/account-groups/unassign";
    requestBuilder.path(path);


    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(organizationsQuotasUnassign);
    return requestBuilder;
  }

  public static final class UnassignOrganizationsAccountGroupsQuotasRequest {
    private final OrganizationsQuotasUnassign organizationsQuotasUnassign;

    private UnassignOrganizationsAccountGroupsQuotasRequest(Builder builder) {
      this.organizationsQuotasUnassign = builder.organizationsQuotasUnassign;
    }
    public OrganizationsQuotasUnassign getOrganizationsQuotasUnassign() {
      return organizationsQuotasUnassign;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .organizationsQuotasUnassign(organizationsQuotasUnassign);
    }

    public static final class Builder {
      private OrganizationsQuotasUnassign organizationsQuotasUnassign;

      public Builder organizationsQuotasUnassign(OrganizationsQuotasUnassign organizationsQuotasUnassign) {
        this.organizationsQuotasUnassign = organizationsQuotasUnassign;
        return this;
      }
      public UnassignOrganizationsAccountGroupsQuotasRequest build() {
        return new UnassignOrganizationsAccountGroupsQuotasRequest(this);
      }
    }
  }

  /**
   * Remove organization quotas
   * This operation recieves a list of organization IDs to remove their current quota. To use this endpoint, you need the &#x60;Edit organization and account group quotas&#x60; permission, which is a management-level permission.
   * @param request operation parameters (required)
   * @throws ApiException if fails to make API call
   */
  public void unassignOrganizationsQuotas(UnassignOrganizationsQuotasRequest request) throws ApiException {
    unassignOrganizationsQuotasWithHttpInfo(request);
  }

  /**
   * Remove organization quotas
   * This operation recieves a list of organization IDs to remove their current quota. To use this endpoint, you need the &#x60;Edit organization and account group quotas&#x60; permission, which is a management-level permission.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> unassignOrganizationsQuotasWithHttpInfo(UnassignOrganizationsQuotasRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling unassignOrganizationsQuotas");
    }
    unassignOrganizationsQuotasValidateRequest();

    var requestBuilder = unassignOrganizationsQuotasRequestBuilder(request.getQuotasUnassign());

    return apiClient.send(requestBuilder.build(), Void.class);
  }

  private void unassignOrganizationsQuotasValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder unassignOrganizationsQuotasRequestBuilder(QuotasUnassign quotasUnassign) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/quotas/unassign";
    requestBuilder.path(path);


    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(quotasUnassign);
    return requestBuilder;
  }

  public static final class UnassignOrganizationsQuotasRequest {
    private final QuotasUnassign quotasUnassign;

    private UnassignOrganizationsQuotasRequest(Builder builder) {
      this.quotasUnassign = builder.quotasUnassign;
    }
    public QuotasUnassign getQuotasUnassign() {
      return quotasUnassign;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .quotasUnassign(quotasUnassign);
    }

    public static final class Builder {
      private QuotasUnassign quotasUnassign;

      public Builder quotasUnassign(QuotasUnassign quotasUnassign) {
        this.quotasUnassign = quotasUnassign;
        return this;
      }
      public UnassignOrganizationsQuotasRequest build() {
        return new UnassignOrganizationsQuotasRequest(this);
      }
    }
  }

}
