/*
 * Usage API
 * These usage endpoints define the following operations:  * **Usage**: Retrieve usage data for the specified time period (default is one month).          * Users must have the `View organization usage` permission to access this endpoint.     * This operation offers visibility across all account groups within the organization.     * Users with `View organization usage` permission in multiple organizations should query the operation with the `aid` query string parameter (see optional parameters) for each organization.     * The `agentId` field in enterprise agent unit responses may be omitted when not available.  * **Quotas**: Obtain organization and account usage quotas. Additionally, users with the appropriate permissions can create, update, or delete these quotas.          * Users must have the necessary permissions to perform quota-related actions.  Refer to the Usage API operations for detailed usage instructions and optional parameters. 
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.usage;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.usage.model.EnterpriseAgentsUsage;
import com.thousandeyes.sdk.usage.model.Error;
import com.thousandeyes.sdk.usage.model.ExpandUsageOptions;
import java.time.OffsetDateTime;
import com.thousandeyes.sdk.usage.model.TestsUsage;
import com.thousandeyes.sdk.usage.model.UnauthorizedError;
import com.thousandeyes.sdk.usage.model.Usage;
import com.thousandeyes.sdk.usage.model.ValidationError;
import com.thousandeyes.sdk.usage.model.EnterpriseAgentUnitsByTestOwnerAccountGroup;
import com.thousandeyes.sdk.pagination.Paginator;
import com.thousandeyes.sdk.usage.model.UnitsByTests;
import com.thousandeyes.sdk.pagination.Paginator;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class UsageApi {
  private final ApiClient apiClient;

  public UsageApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Get enterprise agent usage with pagination
   * This operation returns the organization&#39;s enterprise agents usage for a specific time period, or the curent billing cycle if no time period is specified. In the &#x60;/v7/usage&#x60; API, a shared enterprise agent&#39;s usage is reported in the account group where the agent was created (i.e Primary Account Group).  However in this API, the shared agent&#39;s usage is distributed among all the account groups where the tests are running on the particular agent. This API is also only available to customers on usage based pricing model.
   * @param request operation parameters (required)
   * @return Paginator<EnterpriseAgentUnitsByTestOwnerAccountGroup, EnterpriseAgentsUsage>
   */
  public Paginator<EnterpriseAgentUnitsByTestOwnerAccountGroup, EnterpriseAgentsUsage> getEnterpriseAgentsUnitsUsagePaginated(GetEnterpriseAgentsUnitsUsageRequest request) {
    if (request == null) {
      throw new IllegalArgumentException("Request must not be null when calling getEnterpriseAgentsUnitsUsagePaginated");
    }
    return new Paginator<>(cursor -> getEnterpriseAgentsUnitsUsage(request.toBuilder()
        .cursor(cursor != null ? cursor : request.getCursor())
        .build()),
                           EnterpriseAgentsUsage::getBreakdowns);

  }
  /**
   * Get enterprise agent usage
   * This operation returns the organization&#39;s enterprise agents usage for a specific time period, or the curent billing cycle if no time period is specified. In the &#x60;/v7/usage&#x60; API, a shared enterprise agent&#39;s usage is reported in the account group where the agent was created (i.e Primary Account Group).  However in this API, the shared agent&#39;s usage is distributed among all the account groups where the tests are running on the particular agent. This API is also only available to customers on usage based pricing model.
   * @param request operation parameters (required)
   * @return EnterpriseAgentsUsage
   * @throws ApiException if fails to make API call
   */
  public EnterpriseAgentsUsage getEnterpriseAgentsUnitsUsage(GetEnterpriseAgentsUnitsUsageRequest request) throws ApiException {
    ApiResponse<EnterpriseAgentsUsage> response = getEnterpriseAgentsUnitsUsageWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Get enterprise agent usage
   * This operation returns the organization&#39;s enterprise agents usage for a specific time period, or the curent billing cycle if no time period is specified. In the &#x60;/v7/usage&#x60; API, a shared enterprise agent&#39;s usage is reported in the account group where the agent was created (i.e Primary Account Group).  However in this API, the shared agent&#39;s usage is distributed among all the account groups where the tests are running on the particular agent. This API is also only available to customers on usage based pricing model.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;EnterpriseAgentsUsage&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EnterpriseAgentsUsage> getEnterpriseAgentsUnitsUsageWithHttpInfo(GetEnterpriseAgentsUnitsUsageRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getEnterpriseAgentsUnitsUsage");
    }
    getEnterpriseAgentsUnitsUsageValidateRequest();

    var requestBuilder = getEnterpriseAgentsUnitsUsageRequestBuilder(request.getStartDate(), request.getEndDate(), request.getCursor());

    return apiClient.send(requestBuilder.build(), EnterpriseAgentsUsage.class);
  }

  private void getEnterpriseAgentsUnitsUsageValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getEnterpriseAgentsUnitsUsageRequestBuilder(OffsetDateTime startDate, OffsetDateTime endDate, String cursor) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/usage/units/enterprise-agents";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("startDate", startDate));
    localVarQueryParams.addAll(parameterToPairs("endDate", endDate));
    localVarQueryParams.addAll(parameterToPairs("cursor", cursor));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetEnterpriseAgentsUnitsUsageRequest {
    private final OffsetDateTime startDate;
    private final OffsetDateTime endDate;
    private final String cursor;

    private GetEnterpriseAgentsUnitsUsageRequest(Builder builder) {
      this.startDate = builder.startDate;
      this.endDate = builder.endDate;
      this.cursor = builder.cursor;
    }
    public OffsetDateTime getStartDate() {
      return startDate;
    }
    public OffsetDateTime getEndDate() {
      return endDate;
    }
    public String getCursor() {
      return cursor;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .startDate(startDate)
          .endDate(endDate)
          .cursor(cursor);
    }

    public static final class Builder {
      private OffsetDateTime startDate;
      private OffsetDateTime endDate;
      private String cursor;

      public Builder startDate(OffsetDateTime startDate) {
        this.startDate = startDate;
        return this;
      }
      public Builder endDate(OffsetDateTime endDate) {
        this.endDate = endDate;
        return this;
      }
      public Builder cursor(String cursor) {
        this.cursor = cursor;
        return this;
      }
      public GetEnterpriseAgentsUnitsUsageRequest build() {
        return new GetEnterpriseAgentsUnitsUsageRequest(this);
      }
    }
  }

  /**
   * Get cloud and enterprise agents units usage with pagination
   * This operation returns the cloud and enterprise agents usage for all the tests for a specific time period, or the curent billing cycle if no time period is specified. In the &#x60;/v7/usage&#x60; API, an enterprise agent&#39;s usage is reported in the account group where the agent was created (i.e Primary Account Group).  However in this API, the agent&#39;s usage is distributed among all the account groups where the tests are running on the particular agent. This API is also only available to customers on usage based pricing model.
   * @param request operation parameters (required)
   * @return Paginator<UnitsByTests, TestsUsage>
   */
  public Paginator<UnitsByTests, TestsUsage> getTestsUnitsUsagePaginated(GetTestsUnitsUsageRequest request) {
    if (request == null) {
      throw new IllegalArgumentException("Request must not be null when calling getTestsUnitsUsagePaginated");
    }
    return new Paginator<>(cursor -> getTestsUnitsUsage(request.toBuilder()
        .cursor(cursor != null ? cursor : request.getCursor())
        .build()),
                           TestsUsage::getBreakdowns);

  }
  /**
   * Get cloud and enterprise agents units usage
   * This operation returns the cloud and enterprise agents usage for all the tests for a specific time period, or the curent billing cycle if no time period is specified. In the &#x60;/v7/usage&#x60; API, an enterprise agent&#39;s usage is reported in the account group where the agent was created (i.e Primary Account Group).  However in this API, the agent&#39;s usage is distributed among all the account groups where the tests are running on the particular agent. This API is also only available to customers on usage based pricing model.
   * @param request operation parameters (required)
   * @return TestsUsage
   * @throws ApiException if fails to make API call
   */
  public TestsUsage getTestsUnitsUsage(GetTestsUnitsUsageRequest request) throws ApiException {
    ApiResponse<TestsUsage> response = getTestsUnitsUsageWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Get cloud and enterprise agents units usage
   * This operation returns the cloud and enterprise agents usage for all the tests for a specific time period, or the curent billing cycle if no time period is specified. In the &#x60;/v7/usage&#x60; API, an enterprise agent&#39;s usage is reported in the account group where the agent was created (i.e Primary Account Group).  However in this API, the agent&#39;s usage is distributed among all the account groups where the tests are running on the particular agent. This API is also only available to customers on usage based pricing model.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;TestsUsage&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TestsUsage> getTestsUnitsUsageWithHttpInfo(GetTestsUnitsUsageRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getTestsUnitsUsage");
    }
    getTestsUnitsUsageValidateRequest();

    var requestBuilder = getTestsUnitsUsageRequestBuilder(request.getAid(), request.getStartDate(), request.getEndDate(), request.getCursor());

    return apiClient.send(requestBuilder.build(), TestsUsage.class);
  }

  private void getTestsUnitsUsageValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getTestsUnitsUsageRequestBuilder(String aid, OffsetDateTime startDate, OffsetDateTime endDate, String cursor) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/usage/units/tests";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("startDate", startDate));
    localVarQueryParams.addAll(parameterToPairs("endDate", endDate));
    localVarQueryParams.addAll(parameterToPairs("cursor", cursor));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetTestsUnitsUsageRequest {
    private final String aid;
    private final OffsetDateTime startDate;
    private final OffsetDateTime endDate;
    private final String cursor;

    private GetTestsUnitsUsageRequest(Builder builder) {
      this.aid = builder.aid;
      this.startDate = builder.startDate;
      this.endDate = builder.endDate;
      this.cursor = builder.cursor;
    }
    public String getAid() {
      return aid;
    }
    public OffsetDateTime getStartDate() {
      return startDate;
    }
    public OffsetDateTime getEndDate() {
      return endDate;
    }
    public String getCursor() {
      return cursor;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid)
          .startDate(startDate)
          .endDate(endDate)
          .cursor(cursor);
    }

    public static final class Builder {
      private String aid;
      private OffsetDateTime startDate;
      private OffsetDateTime endDate;
      private String cursor;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder startDate(OffsetDateTime startDate) {
        this.startDate = startDate;
        return this;
      }
      public Builder endDate(OffsetDateTime endDate) {
        this.endDate = endDate;
        return this;
      }
      public Builder cursor(String cursor) {
        this.cursor = cursor;
        return this;
      }
      public GetTestsUnitsUsageRequest build() {
        return new GetTestsUnitsUsageRequest(this);
      }
    }
  }

  /**
   * Get usage information for the last month
   * This operation returns usage for the current period. It provides visibility across all account groups within an organization. To access this endpoint, you need the &#x60;View Billing&#x60; permission (a management permission). If you have access to view billing in multiple organizations, query the endpoint using an &#x60;aid&#x60; querystring parameter (see optional parameters, below) from each organization. **Note:** Access to billing information older than one month is not supported by this endpoint.
   * @param request operation parameters (required)
   * @return Usage
   * @throws ApiException if fails to make API call
   */
  public Usage getUsage(GetUsageRequest request) throws ApiException {
    ApiResponse<Usage> response = getUsageWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Get usage information for the last month
   * This operation returns usage for the current period. It provides visibility across all account groups within an organization. To access this endpoint, you need the &#x60;View Billing&#x60; permission (a management permission). If you have access to view billing in multiple organizations, query the endpoint using an &#x60;aid&#x60; querystring parameter (see optional parameters, below) from each organization. **Note:** Access to billing information older than one month is not supported by this endpoint.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Usage&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Usage> getUsageWithHttpInfo(GetUsageRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getUsage");
    }
    getUsageValidateRequest();

    var requestBuilder = getUsageRequestBuilder(request.getAid(), request.getExpand());

    return apiClient.send(requestBuilder.build(), Usage.class);
  }

  private void getUsageValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getUsageRequestBuilder(String aid, List<ExpandUsageOptions> expand) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/usage";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("csv", "expand", expand));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetUsageRequest {
    private final String aid;
    private final List<ExpandUsageOptions> expand;

    private GetUsageRequest(Builder builder) {
      this.aid = builder.aid;
      this.expand = builder.expand;
    }
    public String getAid() {
      return aid;
    }
    public List<ExpandUsageOptions> getExpand() {
      return expand;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid)
          .expand(expand);
    }

    public static final class Builder {
      private String aid;
      private List<ExpandUsageOptions> expand;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder expand(List<ExpandUsageOptions> expand) {
        this.expand = expand;
        return this;
      }
      public GetUsageRequest build() {
        return new GetUsageRequest(this);
      }
    }
  }

}
