/*
 * Dashboards API
 * Manage ThousandEyes Dashboards.
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.dashboards;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.dashboards.model.ApiDashboard;
import com.thousandeyes.sdk.dashboards.model.ApiMultiMetricColumnData;
import com.thousandeyes.sdk.dashboards.model.ApiNumbersCardData;
import com.thousandeyes.sdk.dashboards.model.ApiWidgetDataResponse;
import java.math.BigDecimal;
import com.thousandeyes.sdk.dashboards.model.CloneDashboardRequest;
import com.thousandeyes.sdk.dashboards.model.Dashboard;
import com.thousandeyes.sdk.dashboards.model.DashboardOrder;
import com.thousandeyes.sdk.dashboards.model.DashboardScheduleRequest;
import com.thousandeyes.sdk.dashboards.model.Error;
import java.time.OffsetDateTime;
import java.net.URI;
import com.thousandeyes.sdk.dashboards.model.UnauthorizedError;
import com.thousandeyes.sdk.dashboards.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class DashboardsApi {
  private final ApiClient apiClient;

  public DashboardsApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Clone dashboard
   * Creates a dashboard by cloning an existing dashboard. By default, the clone inherits the source dashboard&#39;s widgets, layout, default timespan, tags, and other supported settings. Values provided in the request override the corresponding source dashboard settings. Sharing settings are not inherited. If &#x60;title&#x60; is omitted, the API generates a unique title for the clone.  **Note**: * Users with the &#x60;Edit dashboard templates for all users in account group&#x60; permission (Account Admin) can clone any dashboard they can view. * Users with the &#x60;Edit own dashboard templates&#x60; permission (Regular User) can clone dashboards they can view. The current user owns the cloned dashboard. 
   * @param request operation parameters (required)
   * @return Dashboard
   * @throws ApiException if fails to make API call
   */
  public Dashboard cloneDashboard(CloneDashboardRequest request) throws ApiException {
    ApiResponse<Dashboard> response = cloneDashboardWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Clone dashboard
   * Creates a dashboard by cloning an existing dashboard. By default, the clone inherits the source dashboard&#39;s widgets, layout, default timespan, tags, and other supported settings. Values provided in the request override the corresponding source dashboard settings. Sharing settings are not inherited. If &#x60;title&#x60; is omitted, the API generates a unique title for the clone.  **Note**: * Users with the &#x60;Edit dashboard templates for all users in account group&#x60; permission (Account Admin) can clone any dashboard they can view. * Users with the &#x60;Edit own dashboard templates&#x60; permission (Regular User) can clone dashboards they can view. The current user owns the cloned dashboard. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Dashboard&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Dashboard> cloneDashboardWithHttpInfo(CloneDashboardRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling cloneDashboard");
    }
    cloneDashboardValidateRequest(request.getDashboardId());

    var requestBuilder = cloneDashboardRequestBuilder(request.getDashboardId(), request.getAid(), request.getCloneDashboardRequest());

    return apiClient.send(requestBuilder.build(), Dashboard.class);
  }

  private void cloneDashboardValidateRequest(String dashboardId) throws ApiException {
      // verify the required parameter 'dashboardId' is set
      if (dashboardId == null) {
        throw new ApiException(400, "Missing the required parameter 'dashboardId' when calling cloneDashboard");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder cloneDashboardRequestBuilder(String dashboardId, String aid, com.thousandeyes.sdk.dashboards.model.CloneDashboardRequest cloneDashboardRequest) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/dashboards/{dashboardId}/clone"
        .replace("{dashboardId}", urlEncode(dashboardId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(cloneDashboardRequest);
    return requestBuilder;
  }

  public static final class CloneDashboardRequest {
    private final String dashboardId;
    private final String aid;
    private final com.thousandeyes.sdk.dashboards.model.CloneDashboardRequest cloneDashboardRequest;

    private CloneDashboardRequest(Builder builder) {
      this.dashboardId = builder.dashboardId;
      this.aid = builder.aid;
      this.cloneDashboardRequest = builder.cloneDashboardRequest;
    }
    public String getDashboardId() {
      return dashboardId;
    }
    public String getAid() {
      return aid;
    }
    public com.thousandeyes.sdk.dashboards.model.CloneDashboardRequest getCloneDashboardRequest() {
      return cloneDashboardRequest;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .dashboardId(dashboardId)
          .aid(aid)
          .cloneDashboardRequest(cloneDashboardRequest);
    }

    public static final class Builder {
      private String dashboardId;
      private String aid;
      private com.thousandeyes.sdk.dashboards.model.CloneDashboardRequest cloneDashboardRequest;

      public Builder dashboardId(String dashboardId) {
        this.dashboardId = dashboardId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder cloneDashboardRequest(com.thousandeyes.sdk.dashboards.model.CloneDashboardRequest cloneDashboardRequest) {
        this.cloneDashboardRequest = cloneDashboardRequest;
        return this;
      }
      public CloneDashboardRequest build() {
        return new CloneDashboardRequest(this);
      }
    }
  }

  /**
   * Create dashboard
   * Creates a new dashboard in your account group. To create a dashboard,  you must have one of the following permissions: * &#x60;Edit dashboard templates for all users in account group&#x60; permission (Account Admin).  * &#x60;Edit own dashboard templates&#x60; permission (Regular User). 
   * @param request operation parameters (required)
   * @return Dashboard
   * @throws ApiException if fails to make API call
   */
  public Dashboard createDashboard(CreateDashboardRequest request) throws ApiException {
    ApiResponse<Dashboard> response = createDashboardWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Create dashboard
   * Creates a new dashboard in your account group. To create a dashboard,  you must have one of the following permissions: * &#x60;Edit dashboard templates for all users in account group&#x60; permission (Account Admin).  * &#x60;Edit own dashboard templates&#x60; permission (Regular User). 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Dashboard&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Dashboard> createDashboardWithHttpInfo(CreateDashboardRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling createDashboard");
    }
    createDashboardValidateRequest(request.getDashboard());

    var requestBuilder = createDashboardRequestBuilder(request.getDashboard(), request.getAid());

    return apiClient.send(requestBuilder.build(), Dashboard.class);
  }

  private void createDashboardValidateRequest(Dashboard dashboard) throws ApiException {
      // verify the required parameter 'dashboard' is set
      if (dashboard == null) {
        throw new ApiException(400, "Missing the required parameter 'dashboard' when calling createDashboard");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder createDashboardRequestBuilder(Dashboard dashboard, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/dashboards";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(dashboard);
    return requestBuilder;
  }

  public static final class CreateDashboardRequest {
    private final Dashboard dashboard;
    private final String aid;

    private CreateDashboardRequest(Builder builder) {
      this.dashboard = builder.dashboard;
      this.aid = builder.aid;
    }
    public Dashboard getDashboard() {
      return dashboard;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .dashboard(dashboard)
          .aid(aid);
    }

    public static final class Builder {
      private Dashboard dashboard;
      private String aid;

      public Builder dashboard(Dashboard dashboard) {
        this.dashboard = dashboard;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public CreateDashboardRequest build() {
        return new CreateDashboardRequest(this);
      }
    }
  }

  /**
   * Delete dashboard
   * Deletes a dashboard using the &#x60;dashboardId&#x60; provided in the request.  **Note**: * Users with the &#x60;Edit dashboard templates for all users in account group&#x60; permission (Account Admin) can delete any dashboard. * Users with the &#x60;Edit own dashboard templates&#x60; permission (Regular User) can only delete the dashboards they have created themselves. 
   * @param request operation parameters (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteDashboard(DeleteDashboardRequest request) throws ApiException {
    deleteDashboardWithHttpInfo(request);
  }

  /**
   * Delete dashboard
   * Deletes a dashboard using the &#x60;dashboardId&#x60; provided in the request.  **Note**: * Users with the &#x60;Edit dashboard templates for all users in account group&#x60; permission (Account Admin) can delete any dashboard. * Users with the &#x60;Edit own dashboard templates&#x60; permission (Regular User) can only delete the dashboards they have created themselves. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteDashboardWithHttpInfo(DeleteDashboardRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling deleteDashboard");
    }
    deleteDashboardValidateRequest(request.getDashboardId());

    var requestBuilder = deleteDashboardRequestBuilder(request.getDashboardId(), request.getAid());

    return apiClient.send(requestBuilder.build(), Void.class);
  }

  private void deleteDashboardValidateRequest(String dashboardId) throws ApiException {
      // verify the required parameter 'dashboardId' is set
      if (dashboardId == null) {
        throw new ApiException(400, "Missing the required parameter 'dashboardId' when calling deleteDashboard");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder deleteDashboardRequestBuilder(String dashboardId, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("DELETE");

    String path = "/dashboards/{dashboardId}"
        .replace("{dashboardId}", urlEncode(dashboardId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class DeleteDashboardRequest {
    private final String dashboardId;
    private final String aid;

    private DeleteDashboardRequest(Builder builder) {
      this.dashboardId = builder.dashboardId;
      this.aid = builder.aid;
    }
    public String getDashboardId() {
      return dashboardId;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .dashboardId(dashboardId)
          .aid(aid);
    }

    public static final class Builder {
      private String dashboardId;
      private String aid;

      public Builder dashboardId(String dashboardId) {
        this.dashboardId = dashboardId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public DeleteDashboardRequest build() {
        return new DeleteDashboardRequest(this);
      }
    }
  }

  /**
   * Delete dashboard snapshot schedule
   * Removes the snapshot schedule from a dashboard. Existing snapshots are not deleted. 
   * @param request operation parameters (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteDashboardSchedule(DeleteDashboardScheduleRequest request) throws ApiException {
    deleteDashboardScheduleWithHttpInfo(request);
  }

  /**
   * Delete dashboard snapshot schedule
   * Removes the snapshot schedule from a dashboard. Existing snapshots are not deleted. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteDashboardScheduleWithHttpInfo(DeleteDashboardScheduleRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling deleteDashboardSchedule");
    }
    deleteDashboardScheduleValidateRequest(request.getDashboardId());

    var requestBuilder = deleteDashboardScheduleRequestBuilder(request.getDashboardId(), request.getAid());

    return apiClient.send(requestBuilder.build(), Void.class);
  }

  private void deleteDashboardScheduleValidateRequest(String dashboardId) throws ApiException {
      // verify the required parameter 'dashboardId' is set
      if (dashboardId == null) {
        throw new ApiException(400, "Missing the required parameter 'dashboardId' when calling deleteDashboardSchedule");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder deleteDashboardScheduleRequestBuilder(String dashboardId, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("DELETE");

    String path = "/dashboards/{dashboardId}/actions/schedule"
        .replace("{dashboardId}", urlEncode(dashboardId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class DeleteDashboardScheduleRequest {
    private final String dashboardId;
    private final String aid;

    private DeleteDashboardScheduleRequest(Builder builder) {
      this.dashboardId = builder.dashboardId;
      this.aid = builder.aid;
    }
    public String getDashboardId() {
      return dashboardId;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .dashboardId(dashboardId)
          .aid(aid);
    }

    public static final class Builder {
      private String dashboardId;
      private String aid;

      public Builder dashboardId(String dashboardId) {
        this.dashboardId = dashboardId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public DeleteDashboardScheduleRequest build() {
        return new DeleteDashboardScheduleRequest(this);
      }
    }
  }

  /**
   * Retrieve dashboard
   * Returns a list of widgets within a dashboard, along with the dashboard&#39;s metadata. 
   * @param request operation parameters (required)
   * @return ApiDashboard
   * @throws ApiException if fails to make API call
   */
  public ApiDashboard getDashboard(GetDashboardRequest request) throws ApiException {
    ApiResponse<ApiDashboard> response = getDashboardWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Retrieve dashboard
   * Returns a list of widgets within a dashboard, along with the dashboard&#39;s metadata. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;ApiDashboard&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ApiDashboard> getDashboardWithHttpInfo(GetDashboardRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getDashboard");
    }
    getDashboardValidateRequest(request.getDashboardId());

    var requestBuilder = getDashboardRequestBuilder(request.getDashboardId(), request.getAid());

    return apiClient.send(requestBuilder.build(), ApiDashboard.class);
  }

  private void getDashboardValidateRequest(String dashboardId) throws ApiException {
      // verify the required parameter 'dashboardId' is set
      if (dashboardId == null) {
        throw new ApiException(400, "Missing the required parameter 'dashboardId' when calling getDashboard");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getDashboardRequestBuilder(String dashboardId, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/dashboards/{dashboardId}"
        .replace("{dashboardId}", urlEncode(dashboardId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetDashboardRequest {
    private final String dashboardId;
    private final String aid;

    private GetDashboardRequest(Builder builder) {
      this.dashboardId = builder.dashboardId;
      this.aid = builder.aid;
    }
    public String getDashboardId() {
      return dashboardId;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .dashboardId(dashboardId)
          .aid(aid);
    }

    public static final class Builder {
      private String dashboardId;
      private String aid;

      public Builder dashboardId(String dashboardId) {
        this.dashboardId = dashboardId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetDashboardRequest build() {
        return new GetDashboardRequest(this);
      }
    }
  }

  /**
   * Retrieve dashboard widget data
   * Returns the raw data displayed within a widget in the dashboard. 
   * @param request operation parameters (required)
   * @return ApiWidgetDataResponse
   * @throws ApiException if fails to make API call
   */
  public ApiWidgetDataResponse getDashboardWidgetData(GetDashboardWidgetDataRequest request) throws ApiException {
    ApiResponse<ApiWidgetDataResponse> response = getDashboardWidgetDataWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Retrieve dashboard widget data
   * Returns the raw data displayed within a widget in the dashboard. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;ApiWidgetDataResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ApiWidgetDataResponse> getDashboardWidgetDataWithHttpInfo(GetDashboardWidgetDataRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getDashboardWidgetData");
    }
    getDashboardWidgetDataValidateRequest(request.getDashboardId(), request.getWidgetId());

    var requestBuilder = getDashboardWidgetDataRequestBuilder(request.getDashboardId(), request.getWidgetId(), request.getAid(), request.getWindow(), request.getStartDate(), request.getEndDate(), request.getMax(), request.getCursor(), request.getSort(), request.getOrder());

    return apiClient.send(requestBuilder.build(), ApiWidgetDataResponse.class);
  }

  private void getDashboardWidgetDataValidateRequest(String dashboardId, String widgetId) throws ApiException {
      // verify the required parameter 'dashboardId' is set
      if (dashboardId == null) {
        throw new ApiException(400, "Missing the required parameter 'dashboardId' when calling getDashboardWidgetData");
      }
      // verify the required parameter 'widgetId' is set
      if (widgetId == null) {
        throw new ApiException(400, "Missing the required parameter 'widgetId' when calling getDashboardWidgetData");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getDashboardWidgetDataRequestBuilder(String dashboardId, String widgetId, String aid, String window, OffsetDateTime startDate, OffsetDateTime endDate, BigDecimal max, String cursor, String sort, DashboardOrder order) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/dashboards/{dashboardId}/widgets/{widgetId}"
        .replace("{dashboardId}", urlEncode(dashboardId.toString()))
        .replace("{widgetId}", urlEncode(widgetId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("window", window));
    localVarQueryParams.addAll(parameterToPairs("startDate", startDate));
    localVarQueryParams.addAll(parameterToPairs("endDate", endDate));
    localVarQueryParams.addAll(parameterToPairs("max", max));
    localVarQueryParams.addAll(parameterToPairs("cursor", cursor));
    localVarQueryParams.addAll(parameterToPairs("sort", sort));
    localVarQueryParams.addAll(parameterToPairs("order", order));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetDashboardWidgetDataRequest {
    private final String dashboardId;
    private final String widgetId;
    private final String aid;
    private final String window;
    private final OffsetDateTime startDate;
    private final OffsetDateTime endDate;
    private final BigDecimal max;
    private final String cursor;
    private final String sort;
    private final DashboardOrder order;

    private GetDashboardWidgetDataRequest(Builder builder) {
      this.dashboardId = builder.dashboardId;
      this.widgetId = builder.widgetId;
      this.aid = builder.aid;
      this.window = builder.window;
      this.startDate = builder.startDate;
      this.endDate = builder.endDate;
      this.max = builder.max;
      this.cursor = builder.cursor;
      this.sort = builder.sort;
      this.order = builder.order;
    }
    public String getDashboardId() {
      return dashboardId;
    }
    public String getWidgetId() {
      return widgetId;
    }
    public String getAid() {
      return aid;
    }
    public String getWindow() {
      return window;
    }
    public OffsetDateTime getStartDate() {
      return startDate;
    }
    public OffsetDateTime getEndDate() {
      return endDate;
    }
    public BigDecimal getMax() {
      return max;
    }
    public String getCursor() {
      return cursor;
    }
    public String getSort() {
      return sort;
    }
    public DashboardOrder getOrder() {
      return order;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .dashboardId(dashboardId)
          .widgetId(widgetId)
          .aid(aid)
          .window(window)
          .startDate(startDate)
          .endDate(endDate)
          .max(max)
          .cursor(cursor)
          .sort(sort)
          .order(order);
    }

    public static final class Builder {
      private String dashboardId;
      private String widgetId;
      private String aid;
      private String window;
      private OffsetDateTime startDate;
      private OffsetDateTime endDate;
      private BigDecimal max;
      private String cursor;
      private String sort;
      private DashboardOrder order;

      public Builder dashboardId(String dashboardId) {
        this.dashboardId = dashboardId;
        return this;
      }
      public Builder widgetId(String widgetId) {
        this.widgetId = widgetId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder window(String window) {
        this.window = window;
        return this;
      }
      public Builder startDate(OffsetDateTime startDate) {
        this.startDate = startDate;
        return this;
      }
      public Builder endDate(OffsetDateTime endDate) {
        this.endDate = endDate;
        return this;
      }
      public Builder max(BigDecimal max) {
        this.max = max;
        return this;
      }
      public Builder cursor(String cursor) {
        this.cursor = cursor;
        return this;
      }
      public Builder sort(String sort) {
        this.sort = sort;
        return this;
      }
      public Builder order(DashboardOrder order) {
        this.order = order;
        return this;
      }
      public GetDashboardWidgetDataRequest build() {
        return new GetDashboardWidgetDataRequest(this);
      }
    }
  }

  /**
   * List dashboards
   * Returns a list of dashboards and their settings within your account group. 
   * @param request operation parameters (required)
   * @return List&lt;ApiDashboard&gt;
   * @throws ApiException if fails to make API call
   */
  public List<ApiDashboard> getDashboards(GetDashboardsRequest request) throws ApiException {
    ApiResponse<List<ApiDashboard>> response = getDashboardsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List dashboards
   * Returns a list of dashboards and their settings within your account group. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;List&lt;ApiDashboard&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<ApiDashboard>> getDashboardsWithHttpInfo(GetDashboardsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getDashboards");
    }
    getDashboardsValidateRequest();

    var requestBuilder = getDashboardsRequestBuilder(request.getAid());

    return apiClient.send(requestBuilder.build(), TypeUtils.parameterize(List.class, ApiDashboard.class));
  }

  private void getDashboardsValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getDashboardsRequestBuilder(String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/dashboards";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetDashboardsRequest {
    private final String aid;

    private GetDashboardsRequest(Builder builder) {
      this.aid = builder.aid;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid);
    }

    public static final class Builder {
      private String aid;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetDashboardsRequest build() {
        return new GetDashboardsRequest(this);
      }
    }
  }

  /**
   * Retrieve individual card data from numbers widget
   * Returns the raw data for an individual card within a numbers widget in the dashboard. 
   * @param request operation parameters (required)
   * @return ApiNumbersCardData
   * @throws ApiException if fails to make API call
   */
  public ApiNumbersCardData getIndividualCardData(GetIndividualCardDataRequest request) throws ApiException {
    ApiResponse<ApiNumbersCardData> response = getIndividualCardDataWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Retrieve individual card data from numbers widget
   * Returns the raw data for an individual card within a numbers widget in the dashboard. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;ApiNumbersCardData&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ApiNumbersCardData> getIndividualCardDataWithHttpInfo(GetIndividualCardDataRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getIndividualCardData");
    }
    getIndividualCardDataValidateRequest(request.getDashboardId(), request.getWidgetId(), request.getCardId());

    var requestBuilder = getIndividualCardDataRequestBuilder(request.getDashboardId(), request.getWidgetId(), request.getCardId(), request.getAid(), request.getWindow(), request.getStartDate(), request.getEndDate());

    return apiClient.send(requestBuilder.build(), ApiNumbersCardData.class);
  }

  private void getIndividualCardDataValidateRequest(String dashboardId, String widgetId, String cardId) throws ApiException {
      // verify the required parameter 'dashboardId' is set
      if (dashboardId == null) {
        throw new ApiException(400, "Missing the required parameter 'dashboardId' when calling getIndividualCardData");
      }
      // verify the required parameter 'widgetId' is set
      if (widgetId == null) {
        throw new ApiException(400, "Missing the required parameter 'widgetId' when calling getIndividualCardData");
      }
      // verify the required parameter 'cardId' is set
      if (cardId == null) {
        throw new ApiException(400, "Missing the required parameter 'cardId' when calling getIndividualCardData");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getIndividualCardDataRequestBuilder(String dashboardId, String widgetId, String cardId, String aid, String window, OffsetDateTime startDate, OffsetDateTime endDate) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/dashboards/{dashboardId}/widgets/{widgetId}/cards/{cardId}"
        .replace("{dashboardId}", urlEncode(dashboardId.toString()))
        .replace("{widgetId}", urlEncode(widgetId.toString()))
        .replace("{cardId}", urlEncode(cardId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("window", window));
    localVarQueryParams.addAll(parameterToPairs("startDate", startDate));
    localVarQueryParams.addAll(parameterToPairs("endDate", endDate));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetIndividualCardDataRequest {
    private final String dashboardId;
    private final String widgetId;
    private final String cardId;
    private final String aid;
    private final String window;
    private final OffsetDateTime startDate;
    private final OffsetDateTime endDate;

    private GetIndividualCardDataRequest(Builder builder) {
      this.dashboardId = builder.dashboardId;
      this.widgetId = builder.widgetId;
      this.cardId = builder.cardId;
      this.aid = builder.aid;
      this.window = builder.window;
      this.startDate = builder.startDate;
      this.endDate = builder.endDate;
    }
    public String getDashboardId() {
      return dashboardId;
    }
    public String getWidgetId() {
      return widgetId;
    }
    public String getCardId() {
      return cardId;
    }
    public String getAid() {
      return aid;
    }
    public String getWindow() {
      return window;
    }
    public OffsetDateTime getStartDate() {
      return startDate;
    }
    public OffsetDateTime getEndDate() {
      return endDate;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .dashboardId(dashboardId)
          .widgetId(widgetId)
          .cardId(cardId)
          .aid(aid)
          .window(window)
          .startDate(startDate)
          .endDate(endDate);
    }

    public static final class Builder {
      private String dashboardId;
      private String widgetId;
      private String cardId;
      private String aid;
      private String window;
      private OffsetDateTime startDate;
      private OffsetDateTime endDate;

      public Builder dashboardId(String dashboardId) {
        this.dashboardId = dashboardId;
        return this;
      }
      public Builder widgetId(String widgetId) {
        this.widgetId = widgetId;
        return this;
      }
      public Builder cardId(String cardId) {
        this.cardId = cardId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder window(String window) {
        this.window = window;
        return this;
      }
      public Builder startDate(OffsetDateTime startDate) {
        this.startDate = startDate;
        return this;
      }
      public Builder endDate(OffsetDateTime endDate) {
        this.endDate = endDate;
        return this;
      }
      public GetIndividualCardDataRequest build() {
        return new GetIndividualCardDataRequest(this);
      }
    }
  }

  /**
   * Retrieve individual column data from multi-metric table widget
   * Returns the raw data for an individual column within a multi-metric table widget in the dashboard. 
   * @param request operation parameters (required)
   * @return ApiMultiMetricColumnData
   * @throws ApiException if fails to make API call
   */
  public ApiMultiMetricColumnData getIndividualColumnData(GetIndividualColumnDataRequest request) throws ApiException {
    ApiResponse<ApiMultiMetricColumnData> response = getIndividualColumnDataWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Retrieve individual column data from multi-metric table widget
   * Returns the raw data for an individual column within a multi-metric table widget in the dashboard. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;ApiMultiMetricColumnData&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ApiMultiMetricColumnData> getIndividualColumnDataWithHttpInfo(GetIndividualColumnDataRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getIndividualColumnData");
    }
    getIndividualColumnDataValidateRequest(request.getDashboardId(), request.getWidgetId(), request.getColumnId());

    var requestBuilder = getIndividualColumnDataRequestBuilder(request.getDashboardId(), request.getWidgetId(), request.getColumnId(), request.getAid(), request.getWindow(), request.getStartDate(), request.getEndDate());

    return apiClient.send(requestBuilder.build(), ApiMultiMetricColumnData.class);
  }

  private void getIndividualColumnDataValidateRequest(String dashboardId, String widgetId, String columnId) throws ApiException {
      // verify the required parameter 'dashboardId' is set
      if (dashboardId == null) {
        throw new ApiException(400, "Missing the required parameter 'dashboardId' when calling getIndividualColumnData");
      }
      // verify the required parameter 'widgetId' is set
      if (widgetId == null) {
        throw new ApiException(400, "Missing the required parameter 'widgetId' when calling getIndividualColumnData");
      }
      // verify the required parameter 'columnId' is set
      if (columnId == null) {
        throw new ApiException(400, "Missing the required parameter 'columnId' when calling getIndividualColumnData");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getIndividualColumnDataRequestBuilder(String dashboardId, String widgetId, String columnId, String aid, String window, OffsetDateTime startDate, OffsetDateTime endDate) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/dashboards/{dashboardId}/widgets/{widgetId}/columns/{columnId}"
        .replace("{dashboardId}", urlEncode(dashboardId.toString()))
        .replace("{widgetId}", urlEncode(widgetId.toString()))
        .replace("{columnId}", urlEncode(columnId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));
    localVarQueryParams.addAll(parameterToPairs("window", window));
    localVarQueryParams.addAll(parameterToPairs("startDate", startDate));
    localVarQueryParams.addAll(parameterToPairs("endDate", endDate));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetIndividualColumnDataRequest {
    private final String dashboardId;
    private final String widgetId;
    private final String columnId;
    private final String aid;
    private final String window;
    private final OffsetDateTime startDate;
    private final OffsetDateTime endDate;

    private GetIndividualColumnDataRequest(Builder builder) {
      this.dashboardId = builder.dashboardId;
      this.widgetId = builder.widgetId;
      this.columnId = builder.columnId;
      this.aid = builder.aid;
      this.window = builder.window;
      this.startDate = builder.startDate;
      this.endDate = builder.endDate;
    }
    public String getDashboardId() {
      return dashboardId;
    }
    public String getWidgetId() {
      return widgetId;
    }
    public String getColumnId() {
      return columnId;
    }
    public String getAid() {
      return aid;
    }
    public String getWindow() {
      return window;
    }
    public OffsetDateTime getStartDate() {
      return startDate;
    }
    public OffsetDateTime getEndDate() {
      return endDate;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .dashboardId(dashboardId)
          .widgetId(widgetId)
          .columnId(columnId)
          .aid(aid)
          .window(window)
          .startDate(startDate)
          .endDate(endDate);
    }

    public static final class Builder {
      private String dashboardId;
      private String widgetId;
      private String columnId;
      private String aid;
      private String window;
      private OffsetDateTime startDate;
      private OffsetDateTime endDate;

      public Builder dashboardId(String dashboardId) {
        this.dashboardId = dashboardId;
        return this;
      }
      public Builder widgetId(String widgetId) {
        this.widgetId = widgetId;
        return this;
      }
      public Builder columnId(String columnId) {
        this.columnId = columnId;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public Builder window(String window) {
        this.window = window;
        return this;
      }
      public Builder startDate(OffsetDateTime startDate) {
        this.startDate = startDate;
        return this;
      }
      public Builder endDate(OffsetDateTime endDate) {
        this.endDate = endDate;
        return this;
      }
      public GetIndividualColumnDataRequest build() {
        return new GetIndividualColumnDataRequest(this);
      }
    }
  }

  /**
   * Update dashboard
   * Updates an existing dashboard in your account group.   **Note**:  * Users with the &#x60;Edit dashboard templates for all users in account group&#x60; permission (Account Admin) can update any dashboard. * Users with the &#x60;Edit own dashboard templates&#x60; permission (Regular User) can only update the dashboards they have created themselves. 
   * @param request operation parameters (required)
   * @return Dashboard
   * @throws ApiException if fails to make API call
   */
  public Dashboard updateDashboard(UpdateDashboardRequest request) throws ApiException {
    ApiResponse<Dashboard> response = updateDashboardWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Update dashboard
   * Updates an existing dashboard in your account group.   **Note**:  * Users with the &#x60;Edit dashboard templates for all users in account group&#x60; permission (Account Admin) can update any dashboard. * Users with the &#x60;Edit own dashboard templates&#x60; permission (Regular User) can only update the dashboards they have created themselves. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Dashboard&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Dashboard> updateDashboardWithHttpInfo(UpdateDashboardRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling updateDashboard");
    }
    updateDashboardValidateRequest(request.getDashboardId(), request.getDashboard());

    var requestBuilder = updateDashboardRequestBuilder(request.getDashboardId(), request.getDashboard(), request.getAid());

    return apiClient.send(requestBuilder.build(), Dashboard.class);
  }

  private void updateDashboardValidateRequest(String dashboardId, Dashboard dashboard) throws ApiException {
      // verify the required parameter 'dashboardId' is set
      if (dashboardId == null) {
        throw new ApiException(400, "Missing the required parameter 'dashboardId' when calling updateDashboard");
      }
      // verify the required parameter 'dashboard' is set
      if (dashboard == null) {
        throw new ApiException(400, "Missing the required parameter 'dashboard' when calling updateDashboard");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder updateDashboardRequestBuilder(String dashboardId, Dashboard dashboard, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("PUT");

    String path = "/dashboards/{dashboardId}"
        .replace("{dashboardId}", urlEncode(dashboardId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(dashboard);
    return requestBuilder;
  }

  public static final class UpdateDashboardRequest {
    private final String dashboardId;
    private final Dashboard dashboard;
    private final String aid;

    private UpdateDashboardRequest(Builder builder) {
      this.dashboardId = builder.dashboardId;
      this.dashboard = builder.dashboard;
      this.aid = builder.aid;
    }
    public String getDashboardId() {
      return dashboardId;
    }
    public Dashboard getDashboard() {
      return dashboard;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .dashboardId(dashboardId)
          .dashboard(dashboard)
          .aid(aid);
    }

    public static final class Builder {
      private String dashboardId;
      private Dashboard dashboard;
      private String aid;

      public Builder dashboardId(String dashboardId) {
        this.dashboardId = dashboardId;
        return this;
      }
      public Builder dashboard(Dashboard dashboard) {
        this.dashboard = dashboard;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public UpdateDashboardRequest build() {
        return new UpdateDashboardRequest(this);
      }
    }
  }

  /**
   * Create or update dashboard snapshot schedule
   * Creates or replaces the snapshot schedule for a dashboard. Set &#x60;repeat&#x60; to &#x60;NONE&#x60; to generate one snapshot at &#x60;startTime&#x60;. Other &#x60;repeat&#x60; values create recurring snapshots. Schedule settings control when snapshots are generated, the data time range included in each snapshot, and email delivery options. 
   * @param request operation parameters (required)
   * @return ApiDashboard
   * @throws ApiException if fails to make API call
   */
  public ApiDashboard updateDashboardSchedule(UpdateDashboardScheduleRequest request) throws ApiException {
    ApiResponse<ApiDashboard> response = updateDashboardScheduleWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Create or update dashboard snapshot schedule
   * Creates or replaces the snapshot schedule for a dashboard. Set &#x60;repeat&#x60; to &#x60;NONE&#x60; to generate one snapshot at &#x60;startTime&#x60;. Other &#x60;repeat&#x60; values create recurring snapshots. Schedule settings control when snapshots are generated, the data time range included in each snapshot, and email delivery options. 
   * @param request operation parameters (required)
   * @return ApiResponse&lt;ApiDashboard&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ApiDashboard> updateDashboardScheduleWithHttpInfo(UpdateDashboardScheduleRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling updateDashboardSchedule");
    }
    updateDashboardScheduleValidateRequest(request.getDashboardId(), request.getDashboardScheduleRequest());

    var requestBuilder = updateDashboardScheduleRequestBuilder(request.getDashboardId(), request.getDashboardScheduleRequest(), request.getAid());

    return apiClient.send(requestBuilder.build(), ApiDashboard.class);
  }

  private void updateDashboardScheduleValidateRequest(String dashboardId, DashboardScheduleRequest dashboardScheduleRequest) throws ApiException {
      // verify the required parameter 'dashboardId' is set
      if (dashboardId == null) {
        throw new ApiException(400, "Missing the required parameter 'dashboardId' when calling updateDashboardSchedule");
      }
      // verify the required parameter 'dashboardScheduleRequest' is set
      if (dashboardScheduleRequest == null) {
        throw new ApiException(400, "Missing the required parameter 'dashboardScheduleRequest' when calling updateDashboardSchedule");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder updateDashboardScheduleRequestBuilder(String dashboardId, DashboardScheduleRequest dashboardScheduleRequest, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("PUT");

    String path = "/dashboards/{dashboardId}/actions/schedule"
        .replace("{dashboardId}", urlEncode(dashboardId.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(dashboardScheduleRequest);
    return requestBuilder;
  }

  public static final class UpdateDashboardScheduleRequest {
    private final String dashboardId;
    private final DashboardScheduleRequest dashboardScheduleRequest;
    private final String aid;

    private UpdateDashboardScheduleRequest(Builder builder) {
      this.dashboardId = builder.dashboardId;
      this.dashboardScheduleRequest = builder.dashboardScheduleRequest;
      this.aid = builder.aid;
    }
    public String getDashboardId() {
      return dashboardId;
    }
    public DashboardScheduleRequest getDashboardScheduleRequest() {
      return dashboardScheduleRequest;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .dashboardId(dashboardId)
          .dashboardScheduleRequest(dashboardScheduleRequest)
          .aid(aid);
    }

    public static final class Builder {
      private String dashboardId;
      private DashboardScheduleRequest dashboardScheduleRequest;
      private String aid;

      public Builder dashboardId(String dashboardId) {
        this.dashboardId = dashboardId;
        return this;
      }
      public Builder dashboardScheduleRequest(DashboardScheduleRequest dashboardScheduleRequest) {
        this.dashboardScheduleRequest = dashboardScheduleRequest;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public UpdateDashboardScheduleRequest build() {
        return new UpdateDashboardScheduleRequest(this);
      }
    }
  }

}
