/*
 * Tags API
 * The ThousandEyes Tags API provides a tagging system with key/value pairs. It allows you to tag assets within the ThousandEyes platform (such as agents, tests, or dashboards) with meaningful metadata. For example: `branch:sfo`, `branch:nyc`, and `team:netops`.  This feature provides:  * Support for automation. * Powerful and flexible reports/dashboards. * Support for third-party integrations.  Things to note with the ThousandEyes Tags API:  * Tags are backwards-compatible with existing labels. * Tags are separated by Tests (CEA), Agents (CEA), Endpoint Agents, Scheduled Endpoint Tests, and Reports. A single tag can only apply to one type of target object, so each tag must specify the target type of object via a `type` field. * Tags are defined in a single table so that they can be represented using a single model - `Tag`. 
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.tags;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.tags.model.ApiError;
import com.thousandeyes.sdk.tags.model.BulkTagAssignment;
import com.thousandeyes.sdk.tags.model.BulkTagAssignments;
import com.thousandeyes.sdk.tags.model.Error;
import com.thousandeyes.sdk.tags.model.TagAssignment;
import com.thousandeyes.sdk.tags.model.UnauthorizedError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class TagAssignmentApi {
  private final ApiClient apiClient;

  public TagAssignmentApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Assign tag to multiple objects
   * Assigns a static tag to one or more objects. This operation has cumulative behavior: The tag is statically assigned to the specified objects, and the previous assignments persist. No unassignment takes place. Note: This endpoint does not support dynamic tag assignment (for example, for &#x60;endpoint-agent&#x60; objects). See &#x60;Type&#x60; for more information about static vs. dynamic tags.
   * @param request operation parameters (required)
   * @return BulkTagAssignment
   * @throws ApiException if fails to make API call
   */
  public BulkTagAssignment assignTag(AssignTagRequest request) throws ApiException {
    ApiResponse<BulkTagAssignment> response = assignTagWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Assign tag to multiple objects
   * Assigns a static tag to one or more objects. This operation has cumulative behavior: The tag is statically assigned to the specified objects, and the previous assignments persist. No unassignment takes place. Note: This endpoint does not support dynamic tag assignment (for example, for &#x60;endpoint-agent&#x60; objects). See &#x60;Type&#x60; for more information about static vs. dynamic tags.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;BulkTagAssignment&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BulkTagAssignment> assignTagWithHttpInfo(AssignTagRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling assignTag");
    }
    assignTagValidateRequest(request.getId(), request.getTagAssignment());

    var requestBuilder = assignTagRequestBuilder(request.getId(), request.getTagAssignment(), request.getAid());

    return apiClient.send(requestBuilder.build(), BulkTagAssignment.class);
  }

  private void assignTagValidateRequest(String id, TagAssignment tagAssignment) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling assignTag");
      }
      // verify the required parameter 'tagAssignment' is set
      if (tagAssignment == null) {
        throw new ApiException(400, "Missing the required parameter 'tagAssignment' when calling assignTag");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder assignTagRequestBuilder(String id, TagAssignment tagAssignment, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/tags/{id}/assign"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/json, application/hal+json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(tagAssignment);
    return requestBuilder;
  }

  public static final class AssignTagRequest {
    private final String id;
    private final TagAssignment tagAssignment;
    private final String aid;

    private AssignTagRequest(Builder builder) {
      this.id = builder.id;
      this.tagAssignment = builder.tagAssignment;
      this.aid = builder.aid;
    }
    public String getId() {
      return id;
    }
    public TagAssignment getTagAssignment() {
      return tagAssignment;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .id(id)
          .tagAssignment(tagAssignment)
          .aid(aid);
    }

    public static final class Builder {
      private String id;
      private TagAssignment tagAssignment;
      private String aid;

      public Builder id(String id) {
        this.id = id;
        return this;
      }
      public Builder tagAssignment(TagAssignment tagAssignment) {
        this.tagAssignment = tagAssignment;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public AssignTagRequest build() {
        return new AssignTagRequest(this);
      }
    }
  }

  /**
   * Assign multiple tags to multiple objects
   * Assigns the specified static tags to the specified objects. This operation has cumulative behavior: The tags are statically assigned to the specified objects, and the previous assignments persist. No unassignment takes place. Note: This endpoint does not support dynamic tag assignment (for example, for &#x60;endpoint-agent&#x60; objects). See &#x60;Type&#x60; for more information about static vs. dynamic tags.
   * @param request operation parameters (required)
   * @return BulkTagAssignments
   * @throws ApiException if fails to make API call
   */
  public BulkTagAssignments assignTags(AssignTagsRequest request) throws ApiException {
    ApiResponse<BulkTagAssignments> response = assignTagsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Assign multiple tags to multiple objects
   * Assigns the specified static tags to the specified objects. This operation has cumulative behavior: The tags are statically assigned to the specified objects, and the previous assignments persist. No unassignment takes place. Note: This endpoint does not support dynamic tag assignment (for example, for &#x60;endpoint-agent&#x60; objects). See &#x60;Type&#x60; for more information about static vs. dynamic tags.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;BulkTagAssignments&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BulkTagAssignments> assignTagsWithHttpInfo(AssignTagsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling assignTags");
    }
    assignTagsValidateRequest(request.getBulkTagAssignments());

    var requestBuilder = assignTagsRequestBuilder(request.getBulkTagAssignments(), request.getAid());

    return apiClient.send(requestBuilder.build(), BulkTagAssignments.class);
  }

  private void assignTagsValidateRequest(BulkTagAssignments bulkTagAssignments) throws ApiException {
      // verify the required parameter 'bulkTagAssignments' is set
      if (bulkTagAssignments == null) {
        throw new ApiException(400, "Missing the required parameter 'bulkTagAssignments' when calling assignTags");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder assignTagsRequestBuilder(BulkTagAssignments bulkTagAssignments, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/tags/assign";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/json, application/hal+json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(bulkTagAssignments);
    return requestBuilder;
  }

  public static final class AssignTagsRequest {
    private final BulkTagAssignments bulkTagAssignments;
    private final String aid;

    private AssignTagsRequest(Builder builder) {
      this.bulkTagAssignments = builder.bulkTagAssignments;
      this.aid = builder.aid;
    }
    public BulkTagAssignments getBulkTagAssignments() {
      return bulkTagAssignments;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .bulkTagAssignments(bulkTagAssignments)
          .aid(aid);
    }

    public static final class Builder {
      private BulkTagAssignments bulkTagAssignments;
      private String aid;

      public Builder bulkTagAssignments(BulkTagAssignments bulkTagAssignments) {
        this.bulkTagAssignments = bulkTagAssignments;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public AssignTagsRequest build() {
        return new AssignTagsRequest(this);
      }
    }
  }

  /**
   * Remove tag from multiple objects
   * Removes a static tag from one or more objects. Note: This endpoint does not support dynamic tag assignment (for example, for &#x60;endpoint-agent&#x60; objects). See &#x60;Type&#x60; for more information about static vs. dynamic tags.
   * @param request operation parameters (required)
   * @throws ApiException if fails to make API call
   */
  public void unassignTag(UnassignTagRequest request) throws ApiException {
    unassignTagWithHttpInfo(request);
  }

  /**
   * Remove tag from multiple objects
   * Removes a static tag from one or more objects. Note: This endpoint does not support dynamic tag assignment (for example, for &#x60;endpoint-agent&#x60; objects). See &#x60;Type&#x60; for more information about static vs. dynamic tags.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> unassignTagWithHttpInfo(UnassignTagRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling unassignTag");
    }
    unassignTagValidateRequest(request.getId(), request.getTagAssignment());

    var requestBuilder = unassignTagRequestBuilder(request.getId(), request.getTagAssignment(), request.getAid());

    return apiClient.send(requestBuilder.build(), Void.class);
  }

  private void unassignTagValidateRequest(String id, TagAssignment tagAssignment) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling unassignTag");
      }
      // verify the required parameter 'tagAssignment' is set
      if (tagAssignment == null) {
        throw new ApiException(400, "Missing the required parameter 'tagAssignment' when calling unassignTag");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder unassignTagRequestBuilder(String id, TagAssignment tagAssignment, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/tags/{id}/unassign"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(tagAssignment);
    return requestBuilder;
  }

  public static final class UnassignTagRequest {
    private final String id;
    private final TagAssignment tagAssignment;
    private final String aid;

    private UnassignTagRequest(Builder builder) {
      this.id = builder.id;
      this.tagAssignment = builder.tagAssignment;
      this.aid = builder.aid;
    }
    public String getId() {
      return id;
    }
    public TagAssignment getTagAssignment() {
      return tagAssignment;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .id(id)
          .tagAssignment(tagAssignment)
          .aid(aid);
    }

    public static final class Builder {
      private String id;
      private TagAssignment tagAssignment;
      private String aid;

      public Builder id(String id) {
        this.id = id;
        return this;
      }
      public Builder tagAssignment(TagAssignment tagAssignment) {
        this.tagAssignment = tagAssignment;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public UnassignTagRequest build() {
        return new UnassignTagRequest(this);
      }
    }
  }

  /**
   * Remove multiple tags from multiple objects
   * Removes the specified static tags from one or more objects. Note: This endpoint does not support dynamic tag assignment (for example, for &#x60;endpoint-agent&#x60; objects). See &#x60;Type&#x60; for more information about static vs. dynamic tags.
   * @param request operation parameters (required)
   * @return BulkTagAssignments
   * @throws ApiException if fails to make API call
   */
  public BulkTagAssignments unassignTags(UnassignTagsRequest request) throws ApiException {
    ApiResponse<BulkTagAssignments> response = unassignTagsWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Remove multiple tags from multiple objects
   * Removes the specified static tags from one or more objects. Note: This endpoint does not support dynamic tag assignment (for example, for &#x60;endpoint-agent&#x60; objects). See &#x60;Type&#x60; for more information about static vs. dynamic tags.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;BulkTagAssignments&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BulkTagAssignments> unassignTagsWithHttpInfo(UnassignTagsRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling unassignTags");
    }
    unassignTagsValidateRequest(request.getBulkTagAssignments());

    var requestBuilder = unassignTagsRequestBuilder(request.getBulkTagAssignments(), request.getAid());

    return apiClient.send(requestBuilder.build(), BulkTagAssignments.class);
  }

  private void unassignTagsValidateRequest(BulkTagAssignments bulkTagAssignments) throws ApiException {
      // verify the required parameter 'bulkTagAssignments' is set
      if (bulkTagAssignments == null) {
        throw new ApiException(400, "Missing the required parameter 'bulkTagAssignments' when calling unassignTags");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder unassignTagsRequestBuilder(BulkTagAssignments bulkTagAssignments, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/tags/unassign";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/json, application/hal+json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(bulkTagAssignments);
    return requestBuilder;
  }

  public static final class UnassignTagsRequest {
    private final BulkTagAssignments bulkTagAssignments;
    private final String aid;

    private UnassignTagsRequest(Builder builder) {
      this.bulkTagAssignments = builder.bulkTagAssignments;
      this.aid = builder.aid;
    }
    public BulkTagAssignments getBulkTagAssignments() {
      return bulkTagAssignments;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .bulkTagAssignments(bulkTagAssignments)
          .aid(aid);
    }

    public static final class Builder {
      private BulkTagAssignments bulkTagAssignments;
      private String aid;

      public Builder bulkTagAssignments(BulkTagAssignments bulkTagAssignments) {
        this.bulkTagAssignments = bulkTagAssignments;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public UnassignTagsRequest build() {
        return new UnassignTagsRequest(this);
      }
    }
  }

}
