/*
 * Administrative API
 * Manage users, accounts, and account groups in the ThousandEyes platform using the Administrative API. This API provides the following operations to manage your organization:     * `/account-groups`: Account groups are used to divide an organization into different sections. These operations can be used to create, retrieve, update and delete account groups.   * `/users`: Create, retrieve, update and delete users within an organization.    * `/roles`: Create, retrieve and update roles for the current user.    * `/permissions`: Retrieve all assignable permissions. Used in the context of modifying roles.    * `/audit-user-events`: Retrieve all activity log events.    For more information about the administrative models, see [Account Management](https://docs.thousandeyes.com/product-documentation/user-management).
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.thousandeyes.sdk.account.management.administrative;

import static com.thousandeyes.sdk.client.RequestUtil.parameterToPairs;
import static com.thousandeyes.sdk.client.RequestUtil.urlEncode;

import com.thousandeyes.sdk.client.ApiClient;
import com.thousandeyes.sdk.client.ApiException;
import com.thousandeyes.sdk.client.ApiResponse;
import com.thousandeyes.sdk.utils.Config;
import org.apache.commons.lang3.tuple.Pair;
import org.apache.commons.lang3.reflect.TypeUtils;
import com.thousandeyes.sdk.account.management.administrative.model.Error;
import com.thousandeyes.sdk.account.management.administrative.model.RoleDetail;
import com.thousandeyes.sdk.account.management.administrative.model.RoleRequestBody;
import com.thousandeyes.sdk.account.management.administrative.model.Roles;
import java.net.URI;
import com.thousandeyes.sdk.account.management.administrative.model.UnauthorizedError;
import com.thousandeyes.sdk.account.management.administrative.model.ValidationError;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "com.thousandeyes.api.codegen.ThousandeyesJavaGenerator")
public class RolesApi {
  private final ApiClient apiClient;

  public RolesApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Create role
   * Creates a new role.
   * @param request operation parameters (required)
   * @return RoleDetail
   * @throws ApiException if fails to make API call
   */
  public RoleDetail createRole(CreateRoleRequest request) throws ApiException {
    ApiResponse<RoleDetail> response = createRoleWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Create role
   * Creates a new role.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;RoleDetail&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RoleDetail> createRoleWithHttpInfo(CreateRoleRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling createRole");
    }
    createRoleValidateRequest(request.getRoleRequestBody());

    var requestBuilder = createRoleRequestBuilder(request.getRoleRequestBody(), request.getAid());

    return apiClient.send(requestBuilder.build(), RoleDetail.class);
  }

  private void createRoleValidateRequest(RoleRequestBody roleRequestBody) throws ApiException {
      // verify the required parameter 'roleRequestBody' is set
      if (roleRequestBody == null) {
        throw new ApiException(400, "Missing the required parameter 'roleRequestBody' when calling createRole");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder createRoleRequestBuilder(RoleRequestBody roleRequestBody, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("POST");

    String path = "/roles";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(roleRequestBody);
    return requestBuilder;
  }

  public static final class CreateRoleRequest {
    private final RoleRequestBody roleRequestBody;
    private final String aid;

    private CreateRoleRequest(Builder builder) {
      this.roleRequestBody = builder.roleRequestBody;
      this.aid = builder.aid;
    }
    public RoleRequestBody getRoleRequestBody() {
      return roleRequestBody;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .roleRequestBody(roleRequestBody)
          .aid(aid);
    }

    public static final class Builder {
      private RoleRequestBody roleRequestBody;
      private String aid;

      public Builder roleRequestBody(RoleRequestBody roleRequestBody) {
        this.roleRequestBody = roleRequestBody;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public CreateRoleRequest build() {
        return new CreateRoleRequest(this);
      }
    }
  }

  /**
   * Delete role
   * Deletes a role using its ID. The user needs appropriate permissions to successfully call this operation.
   * @param request operation parameters (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteRole(DeleteRoleRequest request) throws ApiException {
    deleteRoleWithHttpInfo(request);
  }

  /**
   * Delete role
   * Deletes a role using its ID. The user needs appropriate permissions to successfully call this operation.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteRoleWithHttpInfo(DeleteRoleRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling deleteRole");
    }
    deleteRoleValidateRequest(request.getId());

    var requestBuilder = deleteRoleRequestBuilder(request.getId(), request.getAid());

    return apiClient.send(requestBuilder.build(), Void.class);
  }

  private void deleteRoleValidateRequest(String id) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling deleteRole");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder deleteRoleRequestBuilder(String id, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("DELETE");

    String path = "/roles/{id}"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class DeleteRoleRequest {
    private final String id;
    private final String aid;

    private DeleteRoleRequest(Builder builder) {
      this.id = builder.id;
      this.aid = builder.aid;
    }
    public String getId() {
      return id;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .id(id)
          .aid(aid);
    }

    public static final class Builder {
      private String id;
      private String aid;

      public Builder id(String id) {
        this.id = id;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public DeleteRoleRequest build() {
        return new DeleteRoleRequest(this);
      }
    }
  }

  /**
   * Retrieve role
   * Returns detailed information about a role using its ID.
   * @param request operation parameters (required)
   * @return RoleDetail
   * @throws ApiException if fails to make API call
   */
  public RoleDetail getRole(GetRoleRequest request) throws ApiException {
    ApiResponse<RoleDetail> response = getRoleWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Retrieve role
   * Returns detailed information about a role using its ID.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;RoleDetail&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RoleDetail> getRoleWithHttpInfo(GetRoleRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getRole");
    }
    getRoleValidateRequest(request.getId());

    var requestBuilder = getRoleRequestBuilder(request.getId(), request.getAid());

    return apiClient.send(requestBuilder.build(), RoleDetail.class);
  }

  private void getRoleValidateRequest(String id) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling getRole");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getRoleRequestBuilder(String id, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/roles/{id}"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetRoleRequest {
    private final String id;
    private final String aid;

    private GetRoleRequest(Builder builder) {
      this.id = builder.id;
      this.aid = builder.aid;
    }
    public String getId() {
      return id;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .id(id)
          .aid(aid);
    }

    public static final class Builder {
      private String id;
      private String aid;

      public Builder id(String id) {
        this.id = id;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetRoleRequest build() {
        return new GetRoleRequest(this);
      }
    }
  }

  /**
   * List roles
   * Retrieves a list of defined roles visible to the current user.
   * @param request operation parameters (required)
   * @return Roles
   * @throws ApiException if fails to make API call
   */
  public Roles getRoles(GetRolesRequest request) throws ApiException {
    ApiResponse<Roles> response = getRolesWithHttpInfo(request);
    return response.getData();
  }

  /**
   * List roles
   * Retrieves a list of defined roles visible to the current user.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;Roles&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Roles> getRolesWithHttpInfo(GetRolesRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling getRoles");
    }
    getRolesValidateRequest();

    var requestBuilder = getRolesRequestBuilder(request.getAid());

    return apiClient.send(requestBuilder.build(), Roles.class);
  }

  private void getRolesValidateRequest() throws ApiException {
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder getRolesRequestBuilder(String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("GET");

    String path = "/roles";
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    return requestBuilder;
  }

  public static final class GetRolesRequest {
    private final String aid;

    private GetRolesRequest(Builder builder) {
      this.aid = builder.aid;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .aid(aid);
    }

    public static final class Builder {
      private String aid;

      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public GetRolesRequest build() {
        return new GetRolesRequest(this);
      }
    }
  }

  /**
   * Update role
   * Updates a user-defined role using its ID.  When updating a role, the following applies:  * The full list of permissions must be sent, This operation does not support delta-based grant or revoking of permissions.  * Permission definitions and details can be obtained from the Permissions operation.
   * @param request operation parameters (required)
   * @return RoleDetail
   * @throws ApiException if fails to make API call
   */
  public RoleDetail updateRole(UpdateRoleRequest request) throws ApiException {
    ApiResponse<RoleDetail> response = updateRoleWithHttpInfo(request);
    return response.getData();
  }

  /**
   * Update role
   * Updates a user-defined role using its ID.  When updating a role, the following applies:  * The full list of permissions must be sent, This operation does not support delta-based grant or revoking of permissions.  * Permission definitions and details can be obtained from the Permissions operation.
   * @param request operation parameters (required)
   * @return ApiResponse&lt;RoleDetail&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RoleDetail> updateRoleWithHttpInfo(UpdateRoleRequest request) throws ApiException {
    if (request == null) {
      throw new ApiException(400, "Request must not be null when calling updateRole");
    }
    updateRoleValidateRequest(request.getId(), request.getRoleRequestBody());

    var requestBuilder = updateRoleRequestBuilder(request.getId(), request.getRoleRequestBody(), request.getAid());

    return apiClient.send(requestBuilder.build(), RoleDetail.class);
  }

  private void updateRoleValidateRequest(String id, RoleRequestBody roleRequestBody) throws ApiException {
      // verify the required parameter 'id' is set
      if (id == null) {
        throw new ApiException(400, "Missing the required parameter 'id' when calling updateRole");
      }
      // verify the required parameter 'roleRequestBody' is set
      if (roleRequestBody == null) {
        throw new ApiException(400, "Missing the required parameter 'roleRequestBody' when calling updateRole");
      }
  }

  private com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder updateRoleRequestBuilder(String id, RoleRequestBody roleRequestBody, String aid) throws ApiException {
    com.thousandeyes.sdk.client.ApiRequest.ApiRequestBuilder requestBuilder = com.thousandeyes.sdk.client.ApiRequest.builder()
            .method("PUT");

    String path = "/roles/{id}"
        .replace("{id}", urlEncode(id.toString()));
    requestBuilder.path(path);

    List<Pair<String, String>> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(parameterToPairs("aid", aid));

    if (!localVarQueryParams.isEmpty()) {
      requestBuilder.queryParams(localVarQueryParams);
    }

    requestBuilder.header("Content-Type", List.of("application/json"));
    requestBuilder.header("Accept", List.of("application/hal+json, application/json, application/problem+json"));
    requestBuilder.header("User-Agent", List.of(Config.USER_AGENT));
    requestBuilder.requestBody(roleRequestBody);
    return requestBuilder;
  }

  public static final class UpdateRoleRequest {
    private final String id;
    private final RoleRequestBody roleRequestBody;
    private final String aid;

    private UpdateRoleRequest(Builder builder) {
      this.id = builder.id;
      this.roleRequestBody = builder.roleRequestBody;
      this.aid = builder.aid;
    }
    public String getId() {
      return id;
    }
    public RoleRequestBody getRoleRequestBody() {
      return roleRequestBody;
    }
    public String getAid() {
      return aid;
    }
    public static Builder builder() {
      return new Builder();
    }

    public Builder toBuilder() {
      return builder()
          .id(id)
          .roleRequestBody(roleRequestBody)
          .aid(aid);
    }

    public static final class Builder {
      private String id;
      private RoleRequestBody roleRequestBody;
      private String aid;

      public Builder id(String id) {
        this.id = id;
        return this;
      }
      public Builder roleRequestBody(RoleRequestBody roleRequestBody) {
        this.roleRequestBody = roleRequestBody;
        return this;
      }
      public Builder aid(String aid) {
        this.aid = aid;
        return this;
      }
      public UpdateRoleRequest build() {
        return new UpdateRoleRequest(this);
      }
    }
  }

}
